section
  .row
    h1.page-title Tags (read-only)
  .row
    table.table.table-striped.table-bordered.ng-table
      thead
        tr
          th.sortable(ng-class="predicate | sortClass:'name':reverse", ng-click="predicate = 'name'; reverse=!reverse")
            .sort-indicator Name
          th.sortable(ng-class="predicate | sortClass:'rules.length':reverse", ng-click="predicate = 'rules.length'; reverse=!reverse")
            .sort-indicator Count&nbsp;
              i.fa.fa-question-circle(tooltip='Number of rules tagged by this tag')
          th Description&nbsp;
            i.fa.fa-question-circle(tooltip='Description of how a given tag should be used. Each tag should have a clear description so that it is used consistently by content managers.')
          th
      tbody
        tr.ng-cloak(ng-repeat="tag in tags | orderBy:predicate:reverse track by tag.name", ng-if='!loading')
          td
            a(ui-sref="app.admin-rules({tags: [tag.name]})") {{tag.name}}
          td {{tag.rules.length}}
          td(style='width: 75%;')
            div(ng-hide='edit')
              i.fa.fa-pencil-square-o.pull-right.disabled
              p.description(ng-if='tag.description.length') {{tag.description}}
            div(ng-show='edit')
              textarea.description(placeholder='Add a description', ng-model='tag.description', disabled)
              button.btn.btn-primary.pull-right(ng-click='update(tag); edit = false', disabled) Save
          td
            i.fa.fa-remove.pull-right.disabled
        tr(ng-if='loading')
          td(colspan='4')
            .spinner.spinner-lg
        tr(ng-if='!loading && !tags.length')
          td(colspan='4').text-center No tags
      tfoot
        tr
          td(colspan='4')
            form(name='newTag', ng-submit='addTag(newName)', ng-novalidate)
              .input-group.col-xs-12(ng-class="{'has-error': newTag.name.$invalid && newTag.name.$dirty}")
                input#name.form-control(ng-model='newName', name='name', ng-minlength='2', ng-pattern='tagPattern', placeholder='Add a new tag', disabled)
                span.input-group-btn
                  button.btn.btn-secondary.form-control(type='submit', disabled) Add
              .red(ng-show='newTag.name.$error.pattern')
                | A tag name can only consist of characters, numbers, '.' and '-'
