.header.pointer(ng-click='isCollapsed = !isCollapsed', id="group-{{group.id}}")
  .row
    .col-xs-8.col-sm-11
      .host-info
        h4.host
          | {{group.display_name}}
          small  &mdash; 
            span(translate, translate-n="group.systems.length", translate-plural="{{$count}} systems") 1 system
    .col-xs-4.col-sm-1
      .options.pull-right
        .fa(ng-class="{'fa-minus-square-o':!isCollapsed, 'fa-plus-square-o':isCollapsed}")
.content.ng-animate-enabled(collapse="isCollapsed")
  .row
    system-table(group="group", type="available")
    system-table(group="group", type="in")

.footer
  .row
    .col-xs-12
      a.pull-right.pointer(ng-click='deleteGroup(group)', translate) Delete Group
