.breadcrumbs
  ol(ng-if="getCrumbs().length")
    li(ng-repeat='crumb in getCrumbs() track by crumb.label', ng-class="{active: $last}" ng-show="getCrumbs().length > 1")
      a(ng-hide="$last", ng-click='crumbClick(crumb)') {{:: crumb.label | translate | titlecase}}
      span(ng-show="$last && $index < 2")  {{:: crumb.label| translate | titlecase }}
      span(ng-show="$last && $index >= 2") {{:: crumb.label| translate}}
