.alert.alert-danger(role="alert", ng-if="!canEdit") Hey! You can't edit this rule. Please email&nbsp;
  a(href="mailto:insights-dev@redhat.com") insights-dev@redhat.com&nbsp;
  | and request access.
form(ng-submit='saveFn()', name='form', novalidate)
  fieldset
    legend 
    .row
      .col-sm-8
        label.control-label Display Name
        input.form-control(ng-model='rule.description', type='text', required, ng-disabled='!canEdit')
    .row
      .col-sm-8
        label.control-label
          | Plugin Display Name
          i.fa.fa-question-circle.inline-left(
            tooltip='User-facing name of the plugin that produces this error key.\
              Used as a common name for all error keys created by a particular plugin.\
              This value is shared across all rules implemented by \'{{rule.plugin}}\'.\
              For example, if multiple error keys exist for Heartbleed the plugin name should say "Heartbleed" or "Heartbleed (CVE-2014-0160)"')
        input.form-control(ng-model='rule.plugin_name', type='text', required, ng-disabled='!canEdit')
    .row.form-group
      .col-sm-12
        label.control-label Rule ID
        p.form-control-static {{rule.rule_id}}
    .panel.panel-default
      .panel-heading
        small.pull-left(ng-show="!locked") Note: changing plugin and/or error key will change the rule id and can have detrimental effects.
        .pull-right
          i.pointer.fa(ng-click="toggleLock()", ng-class="{'fa-lock': locked, 'fa-unlock': !locked}")
        .clearfix
      .panel-body
        .row
          .col-xs-6
            label.control-label Plugin
            rule-plugin(ng-hide="locked")
            p.form-control-static(ng-show="locked") {{rule.plugin}}
          .col-xs-6
            label.control-label Error key 
            input.form-control(ng-hide="locked", ng-model='rule.error_key', type='text', required, ng-disabled='!canEdit')
            p.form-control-static(ng-show="locked") {{rule.error_key}}
    .row.push-bottom-narrow
      .col-xs-6.col-sm-4
        label.control-label Product
        select.form-control(ng-model='rule.type', type='text', ng-options="t as t for t in types", ng-required='newRule', ng-disabled='!canEdit')
      .col-xs-6.col-sm-4
        label.control-label Category 
        select.form-control(ng-model='rule.category', type='text', ng-options="c as c for c in categories | titlecase", required, ng-disabled='!canEdit')
      .col-xs-6.col-sm-4
        label.control-label Total Risk
        select.form-control(ng-model='rule.severity', type='text', ng-options="s as s for s in severities", required, ng-disabled='!canEdit')
    .row.row-short
      .col-xs-12
        .form-group.nodeid(ng-class="{'has-error': form.nodeid.$invalid, 'has-success': rule.node_id && form.nodeid.$valid}")
          label.control-label
            | Solution ID
            i.fa.fa-question-circle.inline-left(
              tooltip='Red Hat kbase article id (e.g. 2438571). Alternatively you can use article URL here - it will be converted to article id automatically.')
          .input-group
            input.form-control(name='nodeid', ng-model='rule.node_id', type='text', ng-disabled='!canEdit', kbase-solution, ng-model-options='{ debounce: 100 }')
            .input-group-addon
              i.fa.spinner-xs.spinner(ng-show='form.nodeid.$pending')
              i.fa.fa-check(ng-show='!form.nodeid.$pending && form.nodeid.$valid && rule.node_id')
              i.fa.fa-close(ng-show='!form.nodeid.$pending && form.nodeid.$invalid')
    .row.row-short
      .col-xs-12
        label.control-label Tags
        tags-input(ng-model='rule.tags', ng-disabled='!canEdit')
          auto-complete(source='suggestTag($query)')


    .panel.panel-default
      .panel-heading 
        .row
          .col-md-2
            h2 Summary
          .col-md-10
            p.pull-right This is displayed on the rules list page. Short sentence or two about the rule.
      .panel-body
        .form-group
          .pull-right
            yes-no(no="true", text="pydata") 
            yes-no(yes="true", text="markdown")
          textarea.form-control(ng-model='rule.summary', type='text', rows="5", ng-disabled='!canEdit')
    .panel.panel-default
      .panel-heading 
        .row
          .col-md-4
            h2 Generic messaging
          .col-md-8
            p.pull-right Impact, Reason, Resolution before a machine is selected.
      .panel-body
        .form-group
          .pull-right
            yes-no(no="true", text="pydata") 
            yes-no(yes="true", text="markdown")
          textarea.form-control(ng-model='rule.generic', type='text', rows="5", ng-disabled='!canEdit')
    .panel.panel-default
      .panel-heading
        .row
            .col-md-5
              h2 Machine specific messaging
            .col-md-7
              p.pull-right Report data is accessible and will be compiled with 
                a(href="http://olado.github.io/doT/", target="_blank") doT.
      .panel-body
        .form-group
          .pull-right
            yes-no(yes="true", text="pydata") 
            yes-no(yes="true", text="markdown")
          label.control-label DETECTED ISSUE
          textarea.form-control(ng-model='rule.reason', type='text', rows="5", ng-disabled='!canEdit')
        .form-group
          .pull-right
            yes-no(yes="true", text="pydata") 
            yes-no(yes="true", text="markdown")
          label.control-label STEPS TO RESOLVE
          textarea.form-control(ng-model='rule.resolution', type='text', rows="5", ng-disabled='!canEdit')
    .panel.panel-default
      .panel-heading 
        .row
          .col-md-2
            h2 More Info
          .col-md-10
            p.pull-right This is displayed on both the generic and specific views. About the issue, 
              | its discovery, extra details that helps the customer understand the "what". This section 
              | should contain all the portal links and references
      .panel-body
        .form-group
          .pull-right
            yes-no(no="true", text="pydata") 
            yes-no(yes="true", text="markdown")
          textarea.form-control(ng-model='rule.more_info', type='text', rows="5", ng-disabled='!canEdit')
    .checkbox.hidden
      label
        input(type='checkbox', ng-model='rule.reboot_required', ng-disabled='!canEdit')
        | Reboot Required
    .checkbox
      label
        input(type='checkbox', ng-model='rule.active', ng-disabled='!canEdit')
        | Active
    .checkbox
      label
        input(type='checkbox', ng-model='rule.retired', ng-disabled='!canEdit')
        | Retired
    .pull-right
      .btn-group
        button.btn.btn-primary(name='preview', type="button", ng-click="preview(rule)", ng-disabled='!form.$valid') Preview
        button.btn.btn-accent(name='submit', ng-disabled='!canEdit || !form.$valid') Save
