.page-inventory
  page-header(title="Inventory", icon="fa-database")
  table-filters
    search-box(on-search='filter.setSearchTerm(model); filter.doFilter();', throttle='1000', placeholder="{{:: 'Find a system' | translate}}")
    check-in-select
    actions-select

  section.content
    system-list(get-systems="getData", default-predicate="{{:: defaultPredicate}}",
                 get-all-systems="getAllSystems")

  .animate-wrapper.margin-top
    .row.row-short.ng-animate-enabled(ng-if='loading')
      .col-xs-12
        .load.text-center
          .spinner.spinner-lg
          span(translate) Loading system information…
