list-item(expandable)
  list-item-header-expandable
    incident-icon(rule-id='report.rule_id')
    strong.title {{:: report.rule.category }} > {{:: report.rule.description }}
    ansible-icon(value='report.rule.ansible' ng-if='config.isPlannerEnabled' hide-label="true")
    .risk-summaries.card-header-risk-summaries
      all-severity-icons.inline(rule='report.rule')
      risk-of-change(change-risk='report.rule.resolution_risk')

  list-item-content
    .flex
      .rule-reason(md-flex-100)
      .rule-resolution(md-flex-100)
      .recommended-kbase(ng-if='report.rule.node_id' node='report.rule.node_id')
      .text-center.border-top(ng-show='report.rule.more_info')

  list-item-footer.more-info(collapse="!show.moreInfo")
