card.card-rule-summary(expandable='true' init-collapsed='initCollapsed' on-toggle='resetShowMore(ctx)')
  card-header-expandable.risk-summary
    .card-header-title
      incident-icon(rule-id='report.rule_id')
      .title {{ report.rule.category }} #{'>'} {{ report.rule.description }}
      ansible-icon(value='report.rule.ansible' ng-if='config.isPlannerEnabled' hideLabel="true")
    .card-header-risk-summaries
      all-severity-icons.inline(rule='report.rule')
      risk-of-change(change-risk='report.rule.resolution_risk')
  card-content.content.ng-animate-enabled(collapse="card.collapsed")
    .rule-reason
    .rule-resolution
    .recommended-kbase(ng-if='report.rule.node_id', node='report.rule.node_id')
    .text-center.border-top(ng-show='report.rule.more_info')
      .nomar.push-top-narrow.pointer(ng-click='show.moreInfo = !show.moreInfo')
        a.link
          strong {{show.moreInfo ? 'Hide' : 'Show'}}  more info &nbsp;
          i.fa(ng-class="{'fa-caret-up': show.moreInfo, 'fa-caret-down': !show.moreInfo}")
  card-footer.footer.more-info.ng-animate-enabled(collapse="!show.moreInfo")
    div(ng-bind-html='report.rule.more_info_html | trust_html',
      ng-show='report.rule.more_info',
      target-blank='')
