ins-nav-primary#nav-primary
  account-select
  nav(role="navigation", aria-label="Primary Navigation", a="true")
    ul
      li
        a(ng-click="toggleMobile()", ng-mouseenter="navCollapsedPopover()", ui-sref='app.overview', ui-sref-active='current')
          i.fa.fa-tachometer
          span.text(translate) Overview
      li
        a(ng-click="toggleMobile()", ng-mouseenter="navCollapsedPopover()", ui-sref='app.actions', ng-class='isActive(states.actions)')
          i.fa.fa-file-text
          span.text(translate) Actions
      li
        a(ng-click="toggleMobile()", ng-mouseenter="navCollapsedPopover()", ui-sref='app.inventory', ui-sref-active='current')
          i.fa.fa-database
          span.text(translate) Inventory
      li(ng-if='config.isPlannerEnabled')
        a(ng-click="toggleMobile()", ng-mouseenter="navCollapsedPopover()", ui-sref='app.maintenance', ui-sref-active='current')
          i.fa.fa-wrench
          span.text(translate) Planner
      li(ng-if='canSeePolicies')
        a(ng-click="toggleMobile()", ng-mouseenter="navCollapsedPopover()", ui-sref='app.list-policies', ng-class='isActive(states.policies)')
          i.fa.fa-gavel
          span.text(translate) Policies
      li
        a(ng-click="toggleMobile()", ng-mouseenter="navCollapsedPopover()", ui-sref='app.rules', ng-class='isActive(states.rules)')
          i.fa.fa-institution
          span.text(translate) Rules
      li
        a(ng-click="toggleMobile()", ng-mouseenter="navCollapsedPopover()", ui-sref='app.digests', ui-sref-active='current')
          i.fa.fa-bar-chart
          span.text(translate) Executive Report
      li
        a(ng-click="toggleMobile()", ng-mouseenter="navCollapsedPopover()", ui-sref='app.config', ng-class='isActive(states.config)')
          i.fa.fa-file-text
          span.text(translate) Configuration

  nav-footer