$overview-bg-header: #fafafa;

.page-overview maintenance-plan-lite,
.page-overview new-systems {
  .card {
    height: 100%;
  }
}

.grid-overview {
  display: grid;
  grid-gap: $global-margin;
  grid-template-columns: 1fr;
  grid-template-areas: 'blog'
                      'new-systems'
                      'incident-lite'
                      'optimize'
                      'maintenance';


  @include media-query(sm){
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 'blog new-systems'
                          'incident-lite incident-lite'
                          'optimize maintenance';
  }

  @include media-query(md){
    grid-template-areas: 'blog new-systems'
                      'blog incident-lite'
                      'optimize maintenance';

  }
}

.widget-blog { grid-area: blog; }
.widget-new-systems { grid-area: new-systems;}
incident-lite { grid-area: incident-lite; }
.widget-optimize { grid-area: optimize; }
.widget-maintenance-plan { grid-area: maintenance; }

