/* ==================================================================
/* pmaas
/* ================================================================== */
/**
 * This document defines the styling for the pmaas layout
**/

:root {
  --map-nav-bg: #f5f5f5;
  --map-nav-bg-padding: var(--global-margin); 
}


// /* Map
// /* ================================================================== */
// .ins-l-pmaas-map {
//   @include build-grid(1fr, sm auto max-content);
  
//   .map {
//     overflow: hidden;

//     > svg {
//       width: 100%;
//       max-height: 100%;
//       height: 100%;

//       path {
//         fill: #fff;
//         opacity: .2;
//         stroke: #266D98;
//       }
//     }
//   }
// }

/* pmaas Map content
/* ================================================================== */
// .ins-l-pmaas-map section.content {
//   display: grid;
//   grid-template-columns: 1fr max-content;
//   position:relative;
//   height: 100%;
//   // padding: 0;
// }


// page-header + content override
// .page-header + section.grid-pmaas {
//   @include rem('padding', $global-margin);
// }

.grid-pmaas .c3-legend-item-tile {
  width: 12px;
  height: 12px;
  background: gray;
}

.grid-pmaas .c3-legend-item {
  display: grid;
  grid-template-columns: max-content max-content auto;
  grid-gap: $global-padding/2;
  align-items: center;
}



/* ==================================================================
/* Map view
/* ================================================================== */
/**
 * This document defines the styling for the pmaas layout
**/











/* Inventory
/* ================================================================== */
.page-inventory {
  .data-filters { margin-bottom: 0; }
  section.content { padding-top: 0; }
}


/* Deployments
/* ================================================================== */
.ins-l-pmaas-deployments {
  display: grid;
  grid-rows: 2;
  height: 100%;
  grid-template-rows: max-content auto;

  .ins-l-pmaas-deployments_cards {
    @include build-grid(md 1fr 1fr, lg 1fr 1fr 1fr 1fr);
    .c3-chart-arc text { display: none; }

    .legend { @include rem('height', 50px); }

    // This isn't right yet
    .c3-legend-item {
      @include font-size(14px);
      display: grid;
      grid-template-columns: min-content 1fr 5fr;
      i { @include rem('margin-right', 15px); }
      b { @include rem('margin-right', 5px); }
    }

    text.c3-chart-arcs-title {
      font-size: 30px;
    }
  }

  .ins-l-pmaas-deployments_logs{
    @include build-grid(sm 1fr, md 1fr 1fr);
    @include rem('padding', $global-margin);
    background: #fff;
  }
}

.c3-chart-arcs-title tspan { font-size: 12px; }

.ins-l-pmaas-deployments .c3-legend-item-tile {
  .blue-rhel { color: #004368; }
  .blue-openshift { color: #0088ce; }
  .blue-openstack { color: #7dc3e8; }
  .gray { color: #d1d1d1; }
  .critical { color: #cc0000; }
  .good, .high { color: #3f9c35; }
  .moderate { color: #f0ab00}
}


// Hack for now, debug later
actions-select { display: none; }

div.recommendations {
  .ins-l-split--lg { padding: 0x; }
}

.map .map-load {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  .spinner { border-top: 4px solid rgba(255, 255, 255, .2); }
}