// Vars
// Card variables are assigned to the values set in _vars.scss. The purpose for including them is to add the ability to change their values within this file. This will be replaced by css variables upon better browser support.
$card: $card;
$card-header: $card-header;
$card-content: $card-header;
$card-footer: $card-header;

.t-col-sm {
  width: 20%;
}


// Policies id page
//==================================================================*/

.policies-id-page {  }


// Policies modal
//==================================================================*/

.card-list.policies-modal {
  
  #{$card} #{$card-header} {
    align-items: first baseline;
  }
}