.t-col-sm{
  width: 20%;
}


// Policies id page
//==================================================================*/

.policies-id-page {
  
  .description {
    @include rem('font-size', 10px);
    opacity: .5;
  }
  .section-topic-details { @include rem('margin', $global-margin); }
}


// Policies modal
//==================================================================*/

.policiesModal{
  md-card-header{ 
    border-bottom: 1px solid #ddd; 
    i { @include rem ('padding-right', 10px); }
  }

  .tri-card-container{
    display: flex;
    md-card { width: 100%; }
  }
}