// Vars
.page-vulnerabilities, .vulnerabilitiesModal {
  .critical { color: $vul-critical; }
  .important { color: $vul-important; }
  .moderate { color: $vul-moderate; }
  .low { color: $vul-low; }
}


.page-vulnerabilities, .vulnerabilitiesModal{

  .outer-card {
    .card-header-title { align-items: center; }

    .package-info {
      .date, .version { 
        display: inline-block;
        color: $gray-subhead; 
        @include rem('margin-top', 5px);
        font-weight: 500;
      }
      .version { @include rem('margin-left', $global-margin); }
    }

    .vul-state { 
      & >:not(:first-child) { @include rem('margin-left', 15px); }
      display: flex;
    }

    .embedded-card{
      box-shadow: none;
      border: 1px solid #efefef;
      border-radius: 5px;
      .card-content { padding: 0px; }
    }

  }
}

.cve-summaries { @include rem('margin', $global-padding); }

.cve-summaries .card-content {
  display: grid;
  grid-template-columns: max-content 1fr max-content;
  grid-template-row: auto;
  grid-template-areas: 'cve-id rule-hit rule-hit'
                      'cve-id description cve-information';
  grid-gap: 30px;
}

.cve-summaries .card-content {
  //align-items: stretch;

  .cve-id {
    grid-area: cve-id;
  }

  .description { 
    grid-area: description;
    grid-row: auto;
  }

  .rule-hit{
    grid-area: rule-hit; 
  }

  .cve-information{
    grid-area: cve-information;
    grid-row: auto;
  }
}