// Vars
$gray-subhead: #cccccc;

$vul-critical: #D53E40;
$vul-important: #efbc56;
$vul-moderate: #cccccc;
$vul-low: #eaeaea;

.page-vulnerabilities {
  .critical { color: $vul-critical; }
  .important { color: $vul-important; }
  .moderate { color: $vul-moderate; }
  .low { color: $vul-low; }
}


.page-vulnerabilities{

  .outer-card {
    .card-header-title { align-items: center; }

    .package-date { 
      color: $gray-subhead; 
      @include rem('margin-top', 5px);
      font-weight: 500;
    }

    .vul-state { 
      & >:not(:first-child) { @include rem('margin-left', 15px); }
      display: flex;
    }

    .embedded-card{
      box-shadow: none;
      border: 1px solid #efefef;
      border-radius: 5px;
      .card-content { padding: 0px; }
    }

  }
}