  
// Beta switch button
//==================================================================*/
ins-beta-switch {
  grid-area: beta-switch;
  justify-content: end;
}

.beta-checkbox {
  margin-bottom: 0px;
  @include rem ('margin-left', 5px);
  
  span { @include rem('font-size', 14px); }
}
