div
  ul
    li(ng-repeat="system in systems | orderBy: 'toString' | limitTo:limit track by system.system_id")
      a(href='#', ng-click='InventoryService.showSystemModal(system, true)') {{system.toString}}
  div(ng-if='limit && systems.length > limit')
    a(href='#', ng-click='toggle()', translate) + {{systems.length - limit}} more
  div(ng-if='!limit')
      a(href='#', ng-click='toggle()', translate) Hide
