.actions-light
  .actions(ng-show="loader.loading")
    .spinner.spinner-lg
  .actions(ng-show="!loader.loading")
    .row
      .col-sm-6(ng-repeat='category in categories track by category.id')
        a(ui-sref="app.topic({id: category.id})")
          .action-block(ng-class="category.id + '-color'")
            .num(title='{{category.title}}') {{category.count}}
            .text
              .msg {{category.label}}
