.col-toggle
  label.full-width(translate) Hide Ignored
  .switch
    input#cmn-toggle-2.cmn-toggle.cmn-toggle-square(type="checkbox", ng-model="hideIgnored", ng-change="persistHideIgnored()")
    label(for="cmn-toggle-2")
