.vulnerabilitiesModal
  .content-wrap
    expand-all-button.toggle-expand-right
    card.outer-card.vulnerabilitiesCard(expandable='true', ng-repeat='package in packages')
      card-header-expandable
        .card-header-title
          .title.package-info
            .name {{ package.name }}
            .date Release Date: {{ package.release_date }}
            .version Version {{ package.version }}
          .vul-state 
            .critical.icon-inline
              i.fa.fa-shield 
              span(translate) {{ package.critical_count }} Critical
            .important.icon-inline
              i.fa.fa-shield 
              span(translate) {{ package.important_count }} Important
            .moderate.icon-inline
              i.fa.fa-shield 
              span(translate) {{ package.moderate_count }} Moderate 
            .low.icon-inline
              i.fa.fa-shield 
              span(translate) {{ package.low_count }} Low
      card-content.card-content(collapse="card.collapsed")
        table-filters
          search-box(placeholder="{{'Search RHSA or CVE' | translate}}", on-search='search(model)')
          rhsa-severity-select
        // TODO make Summary Card a component
        .card-summaries
          card(ng-repeat='rhsa in package.rhsas', ng-click='toggleShowCVEs(rhsa)', ng-class='{"md-whiteframe-7dp": rhsa.id === selectedRHSA.id}')
            card-content.card-content
              .icon
                i.fa.fa-shield.critical
              h2.text {{ rhsa.id }}
              .subhead
                span {{ rhsa.cves.length }} CVEs
                .pipe |
                span.hits 1 Hit
                  i.fa.fa-book
        .cve-summaries(ng-show='showCVEs')
          card
            card-content.card-content
              //.rule-hit Rule hit info goes in this class
              ul.cve-id
                li(ng-repeat='cve in cves', ng-click='selectCVE(cve)') {{ cve.id }}
              .description {{ selectedCVE.description }}
              .cve-information
                .impact 
                  b Impact: 
                  | {{ selectedCVE.impact }}
                .public-date 
                  b Public-Date: 
                  | {{ selectedCVE.public_date}}
                .iava 
                  b IAVA: 
                  | {{ selectedCVE.iava }}
                .cwe 
                  b CWE: 
                  | {{ selectedCVE.cwe }}
