.vulnerabilitiesModal
  .content-wrap
    expand-all-button.toggle-expand-right
    card.outer-card.vulnerabilitiesCard(expandable='true')
      card-header-expandable
        .card-header-title
          .title.package-info
            .name ntp
            .date Release Date: 2017-1-1
            .version Version 4.0
          .vul-state 
            .critical(translate) 1 Critical
            .important(translate) 1 Important
            .moderate(translate) 1 Moderate 
            .low(translate) 1 Low
      card-content.card-content.ng-animate-enabled(collapse="card.collapsed")
        table-filters
          search-box(placeholder="{{'Search RHSA or CVE' | translate}}", on-search='search(model)')
          rhsa-severity-select
        // TODO make Summary Card a component
        .card-summary
