.vulnerabilitiesModal
  .content-wrap
    expand-all-button.toggle-expand-right
    card.outer-card.vulnerabilitiesCard(expandable='true', ng-repeat='package in packages')
      card-header-expandable
        .card-header-title
          .title.package-info
            .name {{ package.name }}
            .date Release Date: {{ package.release_date }}
            .version Version {{ package.version }}
          .vul-state 
            .critical.icon-inline
              i.fa.fa-shield 
              span(translate) {{ package.critical_count }} Critical
            .important.icon-inline
              i.fa.fa-shield 
              span(translate) {{ package.important_count }} Important
            .moderate.icon-inline
              i.fa.fa-shield 
              span(translate) {{ package.moderate_count }} Moderate 
            .low.icon-inline
              i.fa.fa-shield 
              span(translate) {{ package.low_count }} Low
      card-content.card-content(collapse="card.collapsed")
        table-filters
          search-box(placeholder="{{'Search RHSA or CVE' | translate}}", on-search='search(model)')
          rhsa-severity-select
        // TODO make Summary Card a component
        .card-summaries
          card(ng-repeat='rhsa in package.rhsas', ng-click='toggleShowCVEs(rhsa)', ng-class='{active: isSelected(rhsa)}')
            card-content.card-content
              .icon
                i.fa.fa-shield(ng-class="{{'rhsa.severity'}}")
              h2.text {{ rhsa.id }}
              .cve-count
                span {{ rhsa.cves.length }} CVEs
                .pipe |
                span.hits  {{ getRuleHits(rhsa) }}
                  i.fa.fa-book(tooltip="{{'This RHSA has an insights rule hit' | translate}}")
        .cve-summaries(ng-show='selectedRHSA')
          card(ng-if='inPackage(package)')
            card-content.card-content.cve-summary-expanded
              card.rule-hit(expandable='true', ng-if="selectedCVE.insights_rule")
                card-header-expandable
                  .title.icon-inline
                    i.fa.fa-book(aria-hidden='true')
                    span Insights Rule Hit
                card-content.card-content(collapse="card.collapsed")
                  incident-icon(rule-id='report.rule_id', ng-if='selectedRule')
                  .title(ng-if='selectedRule')
                    span(ng-bind-html='::selectedRule.summary_html | trust_html', target-blank='')
                    .card-header-risk-summaries
                      all-severity-icons.inline(rule='selectedRule')
                      risk-of-change(change-risk='selectedRule.resolution_risk')
                      a.impacted-systems(ui-sref='app.actions-rule({category: selectedRule.category.toLowerCase(), rule: selectedRule.rule_id})', translate, ng-disabled="selectedRule.impacted_systems === 0") View Impacted Systems ({{selectedRule.impacted_systems}})
              ul.cve-id
                li(ng-repeat='cve in selectedRHSA.cves', ng-click='selectCVE(cve)') 
                  a(ng-class='{active: cve.id === selectedCVE.id}') {{ cve.id }}
                  i.fa.fa-book(ng-if='selectedCVE.insights_rule', tooltip="{{'This RHSA has an insights rule hit' | translate}}")
              .description {{ selectedCVE.description }}
              .cve-information
                .impact 
                  b Impact: 
                  | {{ selectedCVE.impact }}
                .public-date 
                  b Public-Date: 
                  | {{ selectedCVE.public_date }}
                .iava(ng-if='selectedCVE.iava')
                  b IAVA: 
                  | {{ selectedCVE.iava }}
                .cwe(ng-if='selectedCVE.cwe')
                  b CWE: 
                  | {{ selectedCVE.cwe }}
