card.card-accent.widget.widget-new-systems
  card-header.gray
    .card-header-title.icon-inline
      i.fa.fa-database
      span(translate) Newest Systems
    .card-header-cta
      a.cta-link(ui-sref='app.inventory', translate) View inventory
  card-content
    .spinner(ng-show='loader.loading')
    table.table.table-separated(ng-show='!loader.loading && systems.length')
      thead.lite
        tr
          th(translate) System
          th(translate) Registration Date
      tbody
        tr(ng-repeat="system in systems | orderBy:'system.created_at' track by system.system_id")
          td
            a.strong(ng-click='showSystemModal(system)') {{system.toString}}
          td
            span {{system.created_at | timeAgo}}

    p(ng-show='!loader.loading && !systems.length', translate) No systems registered
