section
  .loading-block.text-center(ng-if='loading.isLoading')
    .detail-part
      .spinner.spinner-lg
      | {{getLoadingMessage()}}
  .text-right
    expand-all-button(ng-hide='!system.reports || !system.reports.length || loading.isLoading')
  p.text-center(ng-if='(!system.reports || !system.reports.length) && !loading.isLoading && !system.__fake && !errorMessage')
    span.icon.icon-inline.success
      i.fa.fa-check-circle
      span(translate) No actions
  div(ng-if='!loading.isLoading && !system.__fake && errorMessage', ng-bind-html='errorMessage | trust_html')
  rule-summary.rule-summary.system-overlay-item(report='report', rule-id='rule_id', rule-filter='ruleFilter', ng-repeat='report in system.reports')
