.loading-block.text-center(ng-if='loading.isLoading')
  .detail-part
    .spinner.spinner-lg
    | {{:: getLoadingMessage()}}
//- .text-right
  expand-all-button(ng-hide='!system.reports || !system.reports.length || loading.isLoading')
p.text-center(ng-if='(!system.reports || !system.reports.length) && !loading.isLoading && !system.__fake && !errorMessage')
  span.icon.icon-inline.success
    i.fa.fa-check-circle
    span(translate) No actions
div(ng-if='!loading.isLoading && !system.__fake && errorMessage', ng-bind-html=':: errorMessage | trust_html')
//- rule-summary.rule-summary.system-overlay-item.content-block(report='report', rule-id='rule_id', rule-filter='ruleFilter', ng-repeat='report in system.reports track by report.rule_id')
list-group
  list-item(expandable report='report', rule-id='rule_id', rule-filter='ruleFilter', ng-repeat='report in system.reports track by report.rule_id')
    list-item-header-expandable
      .main-info
        incident-icon(rule-id='report.rule_id')
        strong.title {{:: report.rule.category }} > {{:: report.rule.description }}
        //ansible-icon(value='report.rule.ansible' ng-if='config.isPlannerEnabled' hide-label="true")
        ansible-icon(value='report.rule.ansible' hide-label="true")
      .risk-summaries.card-header-risk-summaries
        all-severity-icons.inline(rule='report.rule')
        risk-of-change(change-risk='report.rule.resolution_risk')

    list-item-content
      .rule-reason
      .rule-resolution
      .text-center.border-top(ng-show='report.rule.more_info')

    list-item-footer.more-info(collapse="!show.moreInfo")
