.card-list.rule-summaries-modal
  .loading-block.text-center(ng-if='loading.isLoading')
    .detail-part
      .spinner.spinner-lg
      | {{getLoadingMessage()}}
  expand-all-button(ng-hide='!system.reports || !system.reports.length || loading.isLoading')

  .text-center(ng-if='(!system.reports || !system.reports.length) && !loading.isLoading && !system.__fake && !errorMessage')
    span.icon.icon-inline.success
      i.fa.fa-check-circle
      span(translate) No actions
  div(ng-if='!loading.isLoading && !system.__fake && errorMessage', ng-bind-html='errorMessage | trust_html')

  //- start the card-list

  card.card-rule-summary(report='report', rule-id='rule_id', rule-filter='ruleFilter', ng-repeat='report in system.reports', expandable='true', init-collapsed='initCollapsed', on-toggle='resetShowMore(ctx)')

    // Card header - expandable
    card-header-expandable.gray
      h5.title.icon-inline
        incident-icon(rule-id='report.rule_id')
        span {{ report.rule.category }} #{'>'} {{ report.rule.description }}

      all-severity-icons.inline(rule='report.rule')
      risk-of-change(change-risk='report.rule.resolution_risk')
      ansible-icon(value='report.rule.ansible' ng-if='config.isPlannerEnabled' hide-label="true")

    // Card content
    card-content(collapse="card.collapsed")
      .flex
        .rule-reason(md-flex-100)
        .rule-resolution(md-flex-100)
        .recommended-kbase(ng-if='report.rule.node_id' node='report.rule.node_id')
        .text-center.border-top(ng-show='report.rule.more_info')
          .nomar.push-top-narrow.pointer(ng-click='show.moreInfo = !show.moreInfo')
            a.link
              strong {{show.moreInfo ? 'Hide' : 'Show'}}  more info &nbsp;
              i.fa(ng-class="{'fa-caret-up': show.moreInfo, 'fa-caret-down': !show.moreInfo}")

    // Card footer
    card-footer.footer.more-info(collapse="!show.moreInfo")
      div(ng-bind-html='report.rule.more_info_html | trust_html',
        ng-show='report.rule.more_info',
        target-blank='')
