section
  collapsible-filter(search-placeholder="Filter by rule", search='search')
    collapsible-filter-content
      .row
        incidents-tri-state.col-lg-4.col-md-5.hidden
        total-risk-select.col-lg-3.col-md-4.col-sm-5
