section
  collapsable-filter(expandable='true', init-collapsed='false', tags='tags', search-placeholder="Filter by rule", search='search')
    collapsable-filter-content
      .row
        incidents-tri-state.col-md-4
        total-risk-select.col-md-3
