.erratum-card
  card.card-vulnerabilities(expandable='true', init-collapsed="!defaultExpanded", on-toggle='toggleContent(ctx)')
    card-header-expandable.gray
      .package-info
        h3.title
          span.icon-inline
            vulnerability-severity-icon(severity='erratum.severity', show-label='false')
            span {{:: erratum.erratum_id}}

    card-content(collapse="card.collapsed")
      h2.section-title.section-title-red Release Date
      p {{:: erratum.issued | moment: 'LL'}}

      h2.section-title.section-title-red Description
      p {{erratum.summary}}

      h2.section-title.section-title-red(translate, ng-if='erratum.packages.length') Package Information
      table(ng-if='erratum.packages.length')
        thead
          tr
            th.sortable(translate, ng-class="packageSorter.getSortClass('name')", ng-click="packageSorter.sort('name')") Packages Installed
            th.min.fit-content(translate) Installed Version
            th.min.fit-content(translate) Fix Version
        tbody
          tr(ng-repeat="package in ::erratum.packages")
            td.fit-content {{:: package.name}}
            td.fit-content.text-center {{:: package.installed.nevra}}
            td.fit-content.text-center {{:: package.fix.nevra}}

      h2.section-title.section-title-red(translate) CVE Information
      .spinner(ng-if='cveLoader.loading')
      p.text-center(ng-if='!cves.length && !cveLoader.loading', translate) No applicable CVEs
      table(ng-if='cves.length')
        thead
          tr
            th.sortable(translate, ng-class="cveSorter.getSortClass('cve_id')", ng-click="cveSorter.sort('cve_id')") CVE
            th.sortable.min.fit-content(translate, ng-class="cveSorter.getSortClass('impactNum')", ng-click="cveSorter.sort('impactNum')") Impact
            th.sortable.min.fit-content.text-center(translate, ng-class="cveSorter.getSortClass('score')", ng-click="cveSorter.sort('score')") CVSS Score
            th.sortable.min.fit-content(translate, ng-class="cveSorter.getSortClass('public_date')", ng-click="cveSorter.sort('public_date')") Public Date
            th.min.fit-content Details
        tbody
          tr(ng-repeat="cve in cves | orderBy: cveSorter.predicate : cveSorter.reverse track by cve.cve_id")
            td {{:: cve.cve_id}}
            td.impact-cve.fit-content
              vulnerability-severity-icon(impact='cve.impact')
            td.text-center {{:: cve.score}}
            td.fit-content {{:: cve.public_date | moment: 'LL'}}
            td.fit-content
              a(href="{{:: cve.link}}", target="_blank")
                span(translate) View In Portal
                i.fa.fa-external-link.inline-left
