//#fullscreen.fullscreen
//  a(ng-click="toggleFullScreen()", translate) Fullscreen
#telemetry.page-wrap.container
  beta-switch-button
  side-nav
  .main-content.insights-main-content(data-esc-key="")
    topbar
    .ui-filters
      .row
        .col-sm-4
          .dropdown

    .wrapper(ui-view="")
    actionbar
