.webhook-edit {
    .checkbox.severity {
      display: inline;
    }

    textarea#certificate {
      font-size: 12px;
      font-family: Consolas, Monaco, 'Andale Mono', monospace;
    }
}

md-card.split-card {
  md-card-content {
    & > * { @include rem('padding', 10px $global-padding); }
    & > * { margin: 0; }
    label:nth-of-type(even), p:nth-of-type(even) { background: #f0f3f6; }
    display: grid;
    padding: 0;
    grid-template-columns: repeat(2, 1fr);
    border-bottom: 1px solid $gray-lite;
  }
  md-card-footer {
    margin-left: auto;
  }
}

.webhook-edit {
  ul.ui-select-choices { width: auto; }
  .ui-select-container { display: flex; }
  .ui-select-search { @include rem('padding', 0 0 0 15px); }

  label.control-label {
    @include rem('margin-top', 10px);
    text-align: right;
  }

  .btn-group{
    display: flex;
    justify-content: flex-end;
    @include rem('margin', $global-margin);
    button { @include rem('margin-left', $global-padding); }
  }
}

.webhook-edit fieldset > * {
  @include rem('margin-top', 15px);
}

.webhook-edit .form-row{
  max-width: 1400px;
  display: grid;
  grid-gap: $global-margin;
  grid-template-columns: 15% 85%;

  .checkbox-group {
    display: grid;
    grid-template-columns: 40% 60%;
    .severity {
      input[type="checkbox"] { @include rem('margin-right', 10px); }
      & label + label { @include rem('margin-left', 15px); }
    }
  }

  .form-row > label{
    display: flex;
    width: 100%;
    justify-content: flex-end;
  }

  .radio, .event-types{
    & > * {
      display: block;
      text-align: left;
    }
  }
}