.webhook-edit {
    .checkbox.severity {
        display: inline;
    }

    textarea#certificate {
        font-size: 12px;
        font-family: Consolas, Monaco, 'Andale Mono', monospace;
    }

    .form-group.certificate {
        margin-bottom: 5px;

        label, p {
            padding-top: 0;
            padding-bottom: 0;
        }
    }

    button + button {
        margin-left: $global-margin;
    }
}
