.actions-page.actions-back
  breadcrumbs(ng-hide="loading")
  section.topic-detail-header
    page-header(icon="fa-file-text")
      .page-title
        h1 {{:: topic.title}}
    .topic-detail-summary(ng-hide='loading')
      h4(ng-if='isIncident(ruleDetails.rule_id)')
      article(ng-bind-html=':: ruleDetails.generic_html | trust_html')
      .topic-content(ng-if='topic.content_html', ng-bind-html=":: topic.content_html")


  table-filters
    search-box(placeholder="{{:: 'Search rules' | translate}}", on-search='search.doFilter(model)')
    incidents-tri-state(ng-if='isBeta')
    total-risk-select
    risk-of-change-select

  section.content.rule-groups
    .table-header
      list-type

    topic-rule-list(ng-if='!loading', topic='topic')

  // Spinner
  .margin-top.text-center(ng-if="loading")
    .spinner.spinner-lg
