.actions-page.actions-back
  actions-breadcrumbs(ng-hide="loading")

  section.rule-detail-header
    page-header(title="::topic.title", icon="fa-file-text")
    topic-details(ng-hide='loading', topic='topic') 

  topic-rule-filters(ng-hide='loading')

  section.content
    .table-utilities
      search-box(placeholder="{{'Search rules' | translate}}", on-search='search.doFilter(model)')
      list-type

    topic-rule-list(ng-if='!loading', topic='topic')

  // Spinner
  .margin-top.text-center(ng-show="loading")
    .spinner.spinner-lg
