.page-topic-admin
  .rha-notifications
  page-header(title="Topic Administration")
  section.content
    table
      thead
        tr
          th
            span Title
            i.fa.fa-question-circle.inline-left(tooltip='User-facing name of this topic')
          th URL
          th Rules
          th
            span Visibility
            i.fa.fa-question-circle.inline-left(tooltip='Controls when this topic shows up for a customer in the topic list (actions page).')
          th Actions
      tbody
        tr.ng-cloak(ng-repeat="topic in topics track by topic.id", ng-show='!loader.loading')
          td
            a(ui-sref='app.topic({id: topic.slug ? topic.slug : topic.id})') {{topic.title}}
          td
            a(ui-sref='app.topic({id: topic.slug ? topic.slug : topic.id})') /actions/{{topic.slug ? topic.slug : topic.id}}
          td {{topic.rules.length}} ({{topic.ruleBinding}})
            span(ng-show="topic.ruleBinding === 'tagged'") &nbsp;-&nbsp;
              em {{topic.tag}}
            span(ng-show="topic.ruleBinding === 'implicit'") &nbsp;-&nbsp;
              em(ng-if='topic.category') {{topic.category}}
              em(ng-if='topic.category && topic.severity') ,&nbsp;
              em(ng-if='topic.severity') {{topic.severity}}
          td
            span(ng-if='topic.listed === "always"') Always
            span(ng-if='topic.listed === "has_hits"') If systems affected
            span(ng-if='topic.listed === "never"') Never
            i.red.fa.fa-eye-slash.inline-left(ng-show='topic.hidden', tooltip='This topic is not published. Only internal users can see it. Use the actions column to publish this topic.')
          td.action-icons
            i.fa.fa-eye(ng-show='topic.hidden', ng-click='hide(topic, false)', tooltip='Publish this topic')
            i.fa.fa-eye-slash(ng-hide='topic.hidden', ng-click='hide(topic, true)', tooltip='Hide this topic')
            i.i__link.fa.fa-pencil-square-o(ui-sref='app.edit-topic({id: topic.id})', tooltip='Edit this topic')
            i.fa.fa-remove(ng-click='delete(topic)', tooltip='Remove this topic')
            i.i__link.fa.fa-arrow-up(ng-click='move(topic, true)', ng-disabled='topic.priority === 0', tooltip='Move this topic higher in the priority list. This affects the order in which topics are presented to customers.')
            i.i__link.fa.fa-arrow-down(ng-click='move(topic, false)', ng-disabled='topic.priority === topics.length - 1', tooltip='Move this topic lower in the priority list. This affects the order in which topics are presented to customers.')
        tr(ng-show='loader.loading')
          td(colspan='5')
            .spinner.spinner-lg
        tr(ng-show='!loader.loading && !topics.length')
          td(colspan='5').text-center No topics
    md-button.pull-right(ng-click='newTopic()') New topic
