.actions-page.actions-back
  .page-header
    h1.page-title.pull-left
      i.fa.fa-file-text &nbsp;
      span(translate) Actions
  topic-rule-filters(ng-hide='loading')

  .content-wrap(ng-hide="loading")
    actions-breadcrumbs.actions-breadcrumbs(ng-hide="loading")

    section.gray.section-topic-details
      topic-details(ng-hide='loading', topic='topic')

    section.table-search
      .flexgrid.equalheights
        .row
          .col-xs-6
            search-box(search-placeholder="Filter by rule", on-search='search.doFilter(model)')
          .col-xs-6.text-right
            list-type

    section.section-rules-group-content
      topic-rule-list(ng-if='!loading', topic='topic')

  // Spinner
  .margin-top.text-center(ng-show="loading")
    .spinner.spinner-lg
