.actions-page.actions-back
  //platform-filter

  .content-wrap(ng-hide="loading")
    actions-breadcrumbs.actions-breadcrumbs.push-top(ng-hide="loading")
    section.gray.section-topic-details
      topic-details(ng-hide='loading', topic='topic')
    section.gray
      topic-rule-filters(ng-hide='loading')
    section.section-rules-group-content
      topic-rule-list(ng-hide='loading', topic='topic')

  // Spinner
  .margin-top.text-center(ng-show="loading")
    .spinner.spinner-lg
