.content-block(ng-show="expandBar")
  .row
    form(novalidate, name="newPlanForm")
      .col-sm-7.col-md-5
        .date-picker
          .calendar(date-picker="newPlan.today", view="date" min-view="date", max-view="date", min-date="{{minDate.toISOString()}}", date-change="dateChanged", id="planCreateDate", highlights="calendarDates", watch-direct-changes, timezone='{{timezone.name}}')
      .col-sm-5.col-md-7
        .plan-creator
          .content-block
            .form-group
              label Date
              //input#date.form-control(type='date', name='date', placeholder="{{'e.g. PHX datacenter regular outage' | translate}}", ng-model='newPlan.start')
            .form-group(ng-class="{'has-error': newPlanForm.name.$invalid && newPlanForm.name.$dirty}")
              label.control-label(for='name', translate) Alias (optional)
              input#name.form-control(type='text', name='name', placeholder="{{'e.g. PHX datacenter regular outage' | translate}}", ng-model='newPlan.name', maxlength='255')
            .form-group
              strong(translate) Timezone:&nbsp;
              | {{timezone.long}}&nbsp;
              a(href='https://www.redhat.com/wapps/ugc/protected/locale.html', target='_blank')
                | (change)
            .form-group.form-inline
              .form-group.form-group-inline(ng-class="{'has-error': newPlanForm.time.$invalid && newPlanForm.time.$dirty}")
                label.control-label(for='time', translate) Start time
                input#time.form-control.time(type='time', name='time', placeholder='Time', step='900', ng-model='newPlan.time', ng-change='newPlan.sync()' required)
              .form-group.form-group-inline(ng-class="{'has-error': newPlanForm.duration.$invalid && newPlanForm.duration.$dirty}")
                label.control-label(for='duration', translate) Duration (minutes)
                input#duration.form-control.duration(type='number', name='duration', min='0', step='15', ng-model="newPlan.duration", required)
            .form-group
              strong(translate) UTC time:&nbsp;
              | {{newPlan.start | moment:'LLL':'UTC'}}
        .actions
          span(ng-show="expandBar == 'stepTwo'")
            button.btn.btn-primary(ng-click='createAndEdit()', ng-disabled="newPlanForm.$invalid", translate)
              | Add details&nbsp;
              i.fa.fa-plus
            button.btn.btn-accent(ng-click='createAndRepeat()', ng-disabled="newPlanForm.$invalid", translate)
              | Save &amp; create another&nbsp;
              i.fa.fa-save
          .btn.btn-blank.link(ng-click='cancel()', ng-class="{'show': !expandBar, 'conceal': expandBar}", translate)
            | Cancel
