.header-block.account-select(ng-show="showAccountSelector()")
  .tam
    .account-number
      label Account Number
      .fa.fa-home.pull-right.pointer(ng-click='reset()')
      .fa.fa-refresh.pull-right.tam-icon.pointer(ng-click='accountChange(account_number)')
      input.accNumbInput(ng-model='account_number', ng-keyup='$event.keyCode == 13 && accountChange(account_number)')
    .internal
      label
        span.icon-inline
          .fa.fa-eye
        | Internal
      input.pull-right.action(type='checkbox', ng-model='isInternal', ng-change='changeInternal()')
