ins-account-select.account-select(ng-show="showAccountSelector()")
  label.account-number Account Number
  i.fa.fa-home.pointer(ng-click='reset()')
  i.fa.fa-refresh.pointer(ng-click='accountChange(account_number)')
  input.accNumbInput.input-ghost(ng-model='account_number', ng-keyup='$event.keyCode == 13 && accountChange(account_number)')
  label.is-internal.icon-inline
    input.action(type='checkbox', ng-model='isInternal', ng-change='changeInternal()')
    span.text Internal