/* ==================================================================
/* System metadata
/* ================================================================== */
/**
 * This document defines the styling for the pmaas layout
**/


// Reset
system-metadata { display: block; }


// Setting initial grid
//==================================================================*/

.system-metadata {

 @media only screen and (max-width: 768px) { > * { @include rem('margin-top', $global-margin); } }

  @include media-query(sm) {
    display: grid;
    grid-template-areas:
    //'warning warning'
                        'system-information system-information-aside'
                        'expandable-table expandable-table';

    grid-template-columns: max-content auto;
    grid-gap: 15px 30px;
  }
}

.scores {
  display: flex;
  justify-content: space-between;
  > * {
    display: inline;
  }
}


// Top left (system info) card grid
//==================================================================*/

.system-metadata .system-information { grid-area: system-information; }


// Warning
//==================================================================*/

.system-metadata .alert-warn { grid-area: warning; }


// Top right (system info) card grid
//==================================================================*/

.system-metadata .metadata-information { grid-area: system-information-aside; }

.system-metadata .graphs {
  grid-area: system-information-aside;
  .card { height: 100%; }
}


// Expandable table grid position
//==================================================================*/

.system-metadata .expandable-data-table { grid-area: expandable-table; }


// Setting System Info styles
//==================================================================*/

.system-metadata {
  h2 { @include rem('font-size', 18px); }

  .metadata-value { word-wrap: break-word; }

  .editable {

    .edit-toggle {
      display: none;
      //@include rem('font-size', 18px);
      @include rem('margin-left', 8px);
    }

    &:hover {
      .edit-toggle {
        display: inline-block;
      }
    }
  }

  .text {
    @include rem('margin-left', $global-margin);

    input {
      width: 100%;
    }
  }
}


// Metadata Info styles
//==================================================================*/

.system-metadata {

  //.system-information { @include rem('margin-left', $global-margin); }
}

.system-metadata {
  i.system-type-icon { @include font-size(30px); }
  .image-age {
    @include rem('margin-top', 15px);
    font-style: italic;
  }
}

// Tabbed info (system/network)
.data-tables ul.list.list-simple{
  li { @include rem('margin-top', 5px); }
  strong + span { @include rem('margin-left', 5px); }
}

// Alert/Warning styles
//==================================================================*/

.system-metadata .alert-warn { @include rem('margin-left', $global-margin); }


// System Info Table styles
//==================================================================*/
.metadata-information {
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
  border-radius: 2px;
}



.ins-l-system-metadata {
    @include build-grid(sm 1fr, md min-content 1fr, lg 1fr 2fr);
    grid-template-rows: auto;

    @include media-query(xl) { grid-template-columns: minmax(min-content, 350px) 1fr}
    

  > *:first-child {
    align-self: start;

    @include media-query(xl) {
      align-self: stretch;
    }
  }
}

.ins-l-system-metadata-summary {

  position: relative;
  .action-dropdown {
    //absolute positioning because of the md-tabs-wrapper
    position: absolute;
    right: 2rem;
    top: 2rem;
  }

  @include media-query(md) {
    grid-column: span 2;
  }
}


.ins-l-system__metadata-list-header .list-view-pf-main-info {
  display: grid;
  @include rem('grid-gap', $global-padding); 
  align-items: first baseline;
  
  grid-template-columns: auto max-content;

  // @include media-query(xl) {
  //   grid-template-columns: 4fr 4fr max-content;
  // }

  @media screen and (min-width: 1900px) {

    > *:nth-child(2) {
      order: 3;
    }

    > *:nth-child(3) {
      order: 2;
    }  
  }

  // @media screen and (min-width: 2200px) {
  //   grid-template-columns: 9fr 4fr max-content;
  // }
}

// .ins-tab--has-checkbox .list-view-pf-main-info .list-item-header-text {
//   display: grid;
//   grid-row-gap: 10px;
//   grid-template-columns: max-content 1fr max-content;
//   grid-template-rows: auto auto;
// }

// .ins-tab--has-checkbox .list-view-pf-main-info .card-header-risk-summaries {
//   grid-column-start: 2;
//   grid-row-start: 2;
// }

// .ins-l-system__metadata-list-header.ins-tab__rule-summary .list-view-pf-main-info {


//   @media screen and (min-width: 1900px) {
//     grid-template-columns: 7fr 4fr max-content;
//   }
// }

// .ins-l-system__metadata-list-header.ins-tab__recommendations .list-view-pf-main-info {

//   @media screen and (min-width: 1900px) {
//     grid-template-columns: 7fr 5fr max-content;
//   }
// }

// .ins-l-system__metadata-list-header {
//   .incident-icon { padding: 0 $global-padding; }

//   @media screen and (min-width: 1900px) {  
//     .title {
//       display: inline-flex;
//     }

//     .incident-icon {
//       margin-left: auto;
//     }
//   }
// }
