/* ==================================================================
/* System metadata
/* ================================================================== */
/**
 * This document defines the styling for the pmaas layout
**/


// Reset
system-metadata { display: block; }


// Setting initial grid
//==================================================================*/

.system-metadata {

 @media only screen and (max-width: 768px) { > * { @include rem('margin-top', $global-margin); } }

  @include media-query(sm) {
    display: grid;
    grid-template-areas:
    //'warning warning'
                        'system-information system-information-aside'
                        'expandable-table expandable-table';

    grid-template-columns: max-content auto;
    grid-gap: 15px 30px;
  }
}

.scores {
  display: flex;
  justify-content: space-between;
  > * {
    display: inline;
  }
}


.ins-l-system-metadata {
    @include build-grid(md max-content 4fr);
    grid-template-rows: auto;
}

.ins-l-system-metadata-summary {

  @include media-query(md) {
    grid-column: span 2;
  }
}


// Top left (system info) card grid
//==================================================================*/

.system-metadata .system-information { grid-area: system-information; }


// Warning
//==================================================================*/

.system-metadata .alert-warn { grid-area: warning; }


// Top right (system info) card grid
//==================================================================*/

.system-metadata .metadata-information { grid-area: system-information-aside; }

.system-metadata .graphs {
  grid-area: system-information-aside;
  .card { height: 100%; }
}


// Expandable table grid position
//==================================================================*/

.system-metadata .expandable-data-table { grid-area: expandable-table; }


// Setting System Info styles
//==================================================================*/

.system-metadata {
  h2 { @include rem('font-size', 18px); }

  .metadata-value { word-wrap: break-word; }

  .editable {

    .edit-toggle {
      display: none;
      //@include rem('font-size', 18px);
      @include rem('margin-left', 8px);
    }

    &:hover {
      .edit-toggle {
        display: inline-block;
      }
    }
  }

  .text {
    @include rem('margin-left', $global-margin);

    input {
      width: 100%;
    }
  }
}


// Metadata Info styles
//==================================================================*/

.system-metadata {

  //.system-information { @include rem('margin-left', $global-margin); }
}

.system-metadata {
  i.system-type-icon { @include font-size(30px); }
  .image-age {
    @include rem('margin-top', 15px);
    font-style: italic;
  }
}

// Tabbed info (system/network)
.data-tables ul.list.list-simple{
  li { @include rem('margin-top', 5px); }
  strong + span { @include rem('margin-left', 5px); }
}

// Alert/Warning styles
//==================================================================*/

.system-metadata .alert-warn { @include rem('margin-left', $global-margin); }


// System Info Table styles
//==================================================================*/
.metadata-information {
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
  border-radius: 2px;
}