#system-group-viewer {
  @include rem('padding-top', 10px);
  @include rem('padding-bottom', 0);

  div [class^="col-"] {
    @include media-query(sm) {
      padding-bottom: 0;
    }
  }

  [class^=col-] {
    width: 100%;
  }
  i {
    position: relative;
  }
  button{
    font-weight: 700;
    @include rem('margin-right', 10px);
    @include rem('margin-bottom', 10px);
    i { @include rem('font-size', 15px); }
  }

}

.groups{
  display: flex;
  align-items: center;
}

.stickyToast {
  position: fixed;
  margin: 25px;
  z-index: 1200;

  &.delete-system-from-group{
    .md-toast-content {
      background: white;
      color: white;
      border-radius: 5px;

      .undo-delete {
        @include rem('margin-right', $global-padding);
        @include rem('margin-left', $global-padding);
        font-weight: 600;
      }

      .undo-delete, .fa-times {
        color: $black-base;
      }
    }

    span { color: $black-base; }
  }
}
