header.ins-p-page-header.ins-p-page-header__deployments.ins-has-meta-list
  .ins-p-page-header__page-title
    h1.ins-p-page-header__title(translate) {{:: nameTranslated}}
    h2.ins-p-page-header__subtitle
      span(translate) {{:: regionTranslated}}
      span(translate) {{:: typeTranslated}}

  .ins-p-meta-list.ins-is-horizontal
    .ins-p-meta-list__item
      i.pficon-screen.ins-is--FontSize--md.ins-is--FontWeight--light(tooltip="1200 Hosts")
      span.ins-is--FontSize--md 1200&nbsp;
      span Hosts
    .ins-p-meta-list__item
      i.pficon-cluster.ins-is--FontSize--md.ins-is--FontWeight--light(tooltip="400 Physical Machines")
      span.ins-is--FontSize--md 400&nbsp;
      span Physical
    .ins-p-meta-list__item
      i.pficon-virtual-machine.ins-is--FontSize--md.ins-is--FontWeight--light(tooltip="800 Virtual Machines")
      span.ins-is--FontSize--md 800&nbsp;
      span Virtual