.ins-p-page-header.ins-has-meta-list(ng-transclude)
  .ins-p-page-header__page-title
    h1.ins-p-page-header__title(translate) {{:: nameTranslated}}
    h2.ins-p-page-header__subtitle
      span(translate) {{:: regionTranslated}}
      span(translate) {{:: typeTranslated}}

  .ins-p-meta-list.ins-is-horizontal
    .ins-p-meta-list__item
      i.pficon-screen
      span 1200 Hosts
    .ins-p-meta-list__item
      i.pficon-cluster
      span 400 Physical
    .ins-p-meta-list__item
      i.pficon-cluster
      span 800 Virtual