// MIXINS
//==================================================================*/
@mixin ghost-button($color) {
  background: #fff;
  border: 1px solid $color;
}


// Regular Button
//==================================================================*/
.ins-button button{
  color: $black-base;
  background: $gray-light;
  &.small { @include rem('padding', 7px 12px); }
  &.large { @include rem('padding', 15px 25px); }
  i { @include rem('padding-left', 5px); }
}


// Disabled Button
//==================================================================*/
.ins-button button[disabled="disabled"] { cursor: not-allowed; }


// Floating Action Button (Fab) - only icon
//==================================================================*/
.ins-button-fab button{
  border-radius: 50px;
  @include rem('padding', 10px);

  &.small { @include rem('padding', 5px); }
  &.large { @include rem('padding', 15px); }
}


// More Styles
//==================================================================*/
button.md-ghost{
  @include ghost-button($black-base);
  &.md-primary{ @include ghost-button($blue-light); }
  &.md-warn{ @include ghost-button($warn); }
}