.logs-patch-info
  h2.card-pf-title.logs-graph-title Patch Log
  .patch
    b.patch-date [{{patch1date}}]
    .patch-info
      .patch-info-name 22 Systems patched
      .patch-info-link
        a CVE-2014-6271
        a CVE-2014-7169/Shellshock
  .patch
    b.patch-date [{{patch2date}}]
    .patch-info
      .patch-info-name 5 Systems Patched
      .patch-info-link
        a CVE-2016-5387/HTTProxy
    .patch-info
      .patch-info-name 56 Systems Patched
      .patch-info-link
        a CVE-2017-1000251/Blueborne
  .patch
    b.patch-date [{{patch3date}}]
    .patch-info
      .patch-info-name 10 Systems Patched
      .patch-info-link
        a CVE-2014-3566/POODLE
    .patch-info
      .patch-info-name 28 Systems Patched
      .patch-info-link
        a Database inconsistencies ovvur when uuidd is not running with SAP applications