$primary-nav-bg: #292e34;
$primary-nav-bg: #454853;
$dashboard-nav-border-color: #403b3f;
$dashboard-nav-header-bg: #4d464b;
$dashboard-nav-input-bg: #322e31;
$aside_anchor_bg: #4d464b;
$aside_anchor_color: #fff;
$aside_anchor_hover_bg: gray;


// Mobile/base styling
//==================================================================*/

.primary-nav {
  background-color: $primary-nav-bg;
  display: none;
  flex-flow: column wrap;
  box-shadow: inset -14px 0 40px 0 rgba(0, 0, 0, .1);

  @include media-query(sm){ display: flex; }

  a,
  button {
    color: #fff;
    font-weight: 700;
    position: relative;
  }

  ul {
    @include reset();
    list-style-type: none;
    overflow: auto;
  }

  ul li { @include reset(); }
  ul li:not(:first-child) { border-top: 1px solid rgba(255,255,255,.1); }
  ul li:not(:last-child) { border-bottom: 1px solid rgba(0,0,0,.4); }

  ul li a,
  ul li button {
    display: flex;
    flex-direction: row;
    margin: 0;
    @include rem('padding', $global-padding $global-margin $global-padding $global-padding);

    text-align: center;
    @include font-size(14px, 1);
    transition: .4s;

    .text {  @include rem('margin-left', 12px); }
    i { margin-bottom: 0; }
  }

  ul li a:hover,
  ul li a.current,
  ul li button:hover {
    background: rgba(255,255,255,.075);
    box-shadow: inset 6px 0 0 $blue-light;
    text-decoration: none;    
  }

  ul li a.current .fa {
    color: $blue-light;
    text-decoration: none;
  }
}

// Collapsed state
.platform-grid.collapsed .primary-nav ul li a:hover,
.platform-grid.collapsed .primary-nav ul li a.current { box-shadow: inset 2px 0 0 $blue-light; }


// Medium breakpoint
//==================================================================*/

.primary-nav ul li a,
.primary-nav ul li button { @include media-query(md) { @include rem('padding', 24px 34px 24px 24px); } }

.platform-grid.collapsed .primary-nav ul li a, 
button.toggle-fullscreen {
  @include media-query(sm) { @include rem('padding', $global-padding); }
  @include media-query(md) { @include rem('padding', 24px); }
}

topbar .toggle-fullscreen {
  border: none;
  box-shadow: none;
}


// Header
//==================================================================*/

.primary-nav .header-block {
  @include rem('padding', $global-padding);
  color: #fff;

  label { color: #fff; }

  input {
    width: 100%;
    @include rem('padding', $global-padding/2);
    border: none;
    box-shadow: none;
    background: #292b31;
  }

  .internal {
    margin-top: 5px;
  }

  .internal input { width: 15px; }
}
