.primary-nav
  account-select
  nav(role="navigation", aria-label="Primary Navigation", a="true")
    ul
      li
        a(ui-sref='app.overview', ui-sref-active='current', md-ink-ripple, ng-click="toggleLeft()")
          i.fa.fa-tachometer
          span.text(translate) Overview
      li
        a(ui-sref='app.actions', md-ink-ripple, ng-click="toggleLeft()", ng-class='isActive(states.actions)')
          i.fa.fa-file-text
          span.text(translate) Actions
      li
        a(ui-sref='app.vulnerabilities', md-ink-ripple, ng-click="toggleLeft()", ng-class="isActive(states.vulnerabilities)")
          i.fa.fa-stethoscope
          span.text(translate) Vulnerabilities
      li
        a(ui-sref='app.inventory', ui-sref-active='current', md-ink-ripple, ng-click="toggleLeft()")
          i.fa.fa-database
          span.text(translate) Inventory
      li(ng-if='config.isPlannerEnabled')
        a(ui-sref='app.maintenance', ui-sref-active='current', md-ink-ripple, ng-click="toggleLeft()")
          i.fa.fa-wrench
          span.text(translate) Planner
      li(ng-if='canSeePolicies')
        a(ui-sref='app.list-policies', md-ink-ripple, ng-class='isActive(states.policies)')
          i.fa.fa-gavel
          span.text(translate) Policies
      li
        a(ui-sref='app.rules', ng-class='isActive(states.rules)', md-ink-ripple, ng-click="toggleLeft()")
          i.fa.fa-institution
          span.text(translate) Rules
      li
        a(ui-sref='app.digests', ui-sref-active='current', md-ink-ripple, ng-click="toggleLeft()")
          i.fa.fa-bar-chart
          span.text(translate) Executive Report
      li
        a(ui-sref='app.config', md-ink-ripple, ng-click="toggleLeft()", ng-class='isActive(states.config)')
          i.fa.fa-file-text
          span.text(translate) Configuration

  footer(ng-if="isPortal")
    nav.footer-nav(role="navigation", aria-label="Secondary Navigation")
      ul
        li
          md-button.button.button-back(href="/", title='Back to Customer Portal')
            i.fa.fa-caret-left(aria-hidden="true")
            span.text(translate) Customer Portal

        li
          md-button.button.button-logout(ng-click="doLogout()", title='Log out of Customer Portal')
            i.fa.fa-sign-out(aria-hidden="true")
            span.text(translate) Logout
