.toolbar.toolbar--data-filters

  #dataFiltersBody.dataFiltersBody.collapse.out
    div(ng-transclude)

  #dataFiltersFooter.dataFiltersFooter(ng-show='hasTags()', ng-model='tags')
    .active-filters
      strong(translate) Active filters:&nbsp;
      // remove filter on click
      button.btn.btn-accent(ng-repeat="(key, value) in tags", ng-click='removeFilter(key)')
        span(translate) {{value | translate}}
        i.fa.fa-times-circle-o(aria-hidden="true")

  .ui-filters__control-bar
    .toggle
      i.fa.fa-arrow-circle-down(data-toggle='collapse', href='#dataFiltersBody', aria-expanded='false', aria-controls='dataFiltersBody')
