.chart-container
  span.preloader(ng-show='loading')
  .donut-container
    .donut-hole
      .content
        span.num {{getTotal()}}
        .text(translate, translate-n="getTotal()", translate-plural="Actions") Action
    .rha-telemetry-donut
    .row.row-tall
    .col-sm-10.col-sm-offset-1
      p(translate) Use this chart to drill down and discover problems within your organization.
      hr
      p.light(ng-if="isActions()", translate, translate-n="getTotal()", translate-plural="There are <strong>{{$count}}</strong> actions detected from systems in your organization.") 
        | There is 
        strong 1 
        | action detected from systems in your organization.
      p.light(ng-if="!isActions()", translate, translate-n="getTotal()", translate-plural="There are <strong>{{$count}}</strong> {{getCategory()|translate}} actions detected from systems in your organization.") 
        | There is 
        strong 1
        | {{getCategory() | translate}} action detected from systems in your organization.
