
.card-list.policies-modal
  expand-all-button

  card(expandable='true', ng-repeat="policy in policies.resources | orderBy: 'policy.policy_id'", ng-show='!loading', init-collapsed='policy.policy_id != policyId')

    card-header-expandable.gray
      .title {{ policy.policy_id }}
      .state-group
        span.state.pass(translate, translate-n='{{policy.checks_pass}}', translate-plural='{{$count}} Checks passed', ng-if="policy.checks_pass !== 0") {{policy.checks_pass}} Check passed
        span.state.fail(translate, translate-n='{{policy.checks_fail}}', translate-plural='{{$count}} Checks failed', ng-if="policy.checks_fail !== 0") {{policy.checks_fail}} Check failed
        span.state.error(translate, translate-n='{{policy.checks_error}}', translate-plural='{{$count}} Checks errored', ng-if="policy.checks_error !== 0") {{policy.checks_error}} Check errored

    card-content(collapse="card.collapsed")
      .flex

        // Passed
        card.card-state-pass(sm-flex-50, ng-class="(policy.checks_pass === 0) ? 'md-disabled' : ''")
          card-header
            .title.icon-inline
              i.fa.fa-check-circle(aria-label="Policy Passed icon", aria-hidden="true", translate)
              span Passed
          card-content
            ul
              li(ng-repeat="check in policy.check_results | orderBy: 'check.name'", ng-if="check.result === 'pass'") {{check.name}}

        // Failed
        card.card-state-fail(sm-flex-50, ng-class="(policy.checks_fail === 0) ? 'md-disabled' : ''")
          card-header
            .title.icon-inline
              i.fa.fa-times-circle(aria-label="Policy Failed icon",  aria-hidden="true", translate)
              span Failed
          card-content
            ul
              li(ng-repeat="check in policy.check_results | orderBy: 'check.name'", ng-if="check.result === 'fail'") {{check.name}}

        // Errored
        card.card-state-warn(sm-flex-100, ng-if="policy.checks_error !== 0")
          card-header
            .title.icon-inline
              i.fa.fa-warning(aria-label="Policy Errored icon",  aria-hidden="true", translate)
              span Errored
          card-content
            ul
              li(ng-repeat="check in policy.check_results | orderBy: 'check.name'", ng-if="check.result === 'error'") {{check.name}}
