.policiesModal
  .content-wrap
    expand-all-button.toggle-expand-right
    card(expandable='true', ng-repeat="policy in policies track by policy.policy_id", ng-show='!loading', init-collapsed='policy.policy_id != policyId')
      card-header-expandable.gray
        .card-header-title
          .checks-wrapper
            .title {{:: policy.policy_id }}
            .checks-state
              .passed(translate, translate-n='{{:: policy.checks_pass}}', translate-plural='{{:: $count}} Checks passed', ng-if="policy.checks_pass !== 0") {{:: policy.checks_pass}} Check passed
              .failed(translate, translate-n='{{:: policy.checks_fail}}', translate-plural='{{:: $count}} Checks failed', ng-if="policy.checks_fail !== 0") {{:: policy.checks_fail}} Check failed
              .errored(translate, translate-n='{{:: policy.checks_error}}', translate-plural='{{:: $count}} Checks errored', ng-if="policy.checks_error !== 0") {{:: policy.checks_error}} Check errored
      card-content.card-content.ng-animate-enabled(collapse="card.collapsed")
        .tri-card-container
          // Passed
          card.state-passed(ng-class="(policy.checks_pass === 0) ? 'md-disabled' : ''")
            card-header
              .card-header-title
                .title
                  i.fa.fa-check-circle(aria-label="Policy Passed icon", translate)
                  | Passed
            card-content
              ul
                li(ng-repeat="check in policy.check_results | orderBy: 'check.name'", ng-if="check.result === 'pass'") {{:: check.name}}

          // Failed
          card.state-failed(ng-class="(policy.checks_fail === 0) ? 'md-disabled' : ''")
            card-header
              .card-header-text
                .title
                  i.fa.fa-times-circle(aria-label="Policy Failed icon", translate)
                  | Failed
            card-content
              ul
                li(ng-repeat="check in policy.check_results | orderBy: 'check.name'", ng-if="check.result === 'fail'") {{:: check.name}}

          // Errored
          card.state-warn(ng-if="policy.checks_error !== 0")
            card-header
              .card-header-text
                .title
                  i.fa.fa-warning(aria-label="Policy Errored icon", translate)
                  | Errored
            card-content
              ul
                li(ng-repeat="check in policy.check_results | orderBy: 'check.name'", ng-if="check.result === 'error'") {{:: check.name}}
