section.widget-block
  h2.title
    i.fa.fa-wrench
    span(translate) Plan&nbsp;
    span.light(translate) Summary
    a.cta-link(ui-sref='app.maintenance', translate) View planner
  .maintenance-plan-lite
    .row.row-short.padding-top(ng-if='getFirstSuggestion()')
      .col-sm-12
        .maintenance-plan-lite
          a.link.suggestions(ng-click='openPlan(getFirstSuggestion())')
            span.icon.icon-inline
              i.fa.fa-check-square-o(aria-hidden="true")
            strong.underline(translate, translate-n='plans.suggested[0].actions.length', translate-plural='You have a new plan suggestion ({{$count}} actions)') You have a new plan suggestion (1 action)
    .row.row-short(ng-if='plans.future.length')
      .col-sm-12
        maintenance-plan-lite-table(plans='plans.future', silence='silence', duration='duration')

    .row(ng-if='!plans.future.length && plans.unscheduled.length')
      .col-sm-12
        table.table.table-separated
          thead.lite
            tr
              th(translate)
                b Newest Plans
              th(width="11%", translate)
                b Actions
          tbody
            tr(ng-repeat="plan in (plans.unscheduled | limitTo:3 | orderBy:'-maintenance_id') track by plan.maintenance_id")
              td.start(ng-click='openPlan(plan)')
                a {{MaintenanceService.getPlanName(plan)}}
              td.action-count(ng-click="openPlan(plan)")
                span {{plan.actionsDone}}/{{plan.actions.length}}

    .row.row-short(ng-if='stats.rules.ansible')
      .col-sm-12.text-center
        strong(translate, translate-n='stats.rules.ansible', translate-plural='{{$count}} issues can be resolved automatically') 1 issue can be resolved automatically
        span(translate) &nbsp;using&nbsp;
        ansible-icon.inline-right(value = 'true', show-tooltip='false')
        span(translate) Ansible

    .row
      .col-sm-12.text-center
        a.btn.btn-accent(ng-click='MaintenanceService.showMaintenanceModal()')
          strong(translate) Create a new Plan/Playbook
