section.widget-block
  h2.title
    i.fa.fa-wrench
    span(translate) Plan&nbsp;
    span.light(translate) Summary
    a.cta-link(ui-sref='app.maintenance', translate) View planner
  .maintenance-plan-lite(ng-if='plans.all.length')
    .suggestions.text-center(ng-if='getFirstSuggestion()', ng-click='openPlan(getFirstSuggestion())')
      span.icon.icon-inline
        i.fa.fa-lightbulb-o
      span(translate, translate-n='plans.suggested[0].actions.length', translate-plural='You have a new plan suggestion ({{$count}} actions)') You have a new plan suggestion (1 action)
    maintenance-plan-lite-table(ng-if='plans.future.length', plans='plans.future', silence='silence', duration='duration')

    table.table.table-separated(ng-if='!plans.future.length')
      thead.lite
        tr
          th(translate) Newest Plans
          th(width="11%", translate) Actions
      tbody
        tr(ng-repeat="plan in (plans.unscheduled | limitTo:3 | orderBy:'-maintenance_id') track by plan.maintenance_id")
          td.start(ng-click='openPlan(plan)')
            a {{MaintenanceService.getPlanName(plan)}}
          td.action-count(ng-click="openPlan(plan)")
            span {{plan.actionsDone}}/{{plan.actions.length}}

  .maintenance-plan-lite-footer.text-center
    div(ng-if='stats.rules.ansible')
      strong.success(translate, translate-n='stats.rules.ansible', translate-plural='{{$count}} issues can be resolved automatically') 1 issues can be resolved automatically
      span(translate) &nbsp;using&nbsp;
      ansible-icon.inline-right(value = 'true')
      span(translate) Ansible
    div
      a
        strong(ui-sref='app.maintenance({newPlan: true})', translate) Create a new Plan/Playbook
