/* ==================================================================
/* Map zoom component
/* ================================================================== */
/**
 * This document defines the styling for the pmaas layout
**/


/* Zoom base styling
/* ================================================================== */
.ins-c-map-controls{
  display: grid;
  grid-template-columns: 1fr;
  position: absolute;
  bottom: $global-margin;
  right: $global-margin;

  // Buttons
  button {
    background: rgba(255,255,255,.2);
    border: none;
    padding: 14px;

    &:hover {
      background: rgba(255,255,255,.3);
    }

    &:first-child {
      @include rem('margin-bottom', 15px);
    }

    &:nth-child(2) { border-bottom: 1px solid rgba(0,0,0,.1); }
  }
}