/* ==================================================================
/* Map navigation
/* ================================================================== */
/**
 * This document defines the styling for the pmaas layout
**/
:root {
  --list-group--PaddingTop: $global-padding;
  --list-group--PaddingRight: $global-margin;
  --list-group--PaddingBottom: $global-padding;
  --list-group--PaddingLeft: $global-margin;
}


/*------------------------------------*\
  #SECTION-TITLE
\*------------------------------------*/

/* Map nav
/* ================================================================== */
.ins-c-map-nav {
  position: relative;
  grid-gap: unset;
  grid-column-start: col-start 2;
  grid-template-columns: max-content auto;
  grid-template-rows: min-content 1fr;
  padding: 0;
  background: var(--map-nav-bg);
  overflow-y: auto;
  overflow-x: hidden;
  
  h1,
  h2,
  h3 {
    margin: 0;
  }

  ul.list-deployments {
    @include reset;
    list-style-type: none;
    display: flex;
    flex-flow: column nowrap;
    opacity: 1;
    transition: .3s;
  }

  li {
    border-bottom: 1px solid #cfcfcf;
    max-width: 30rem;
    opacity: 1;
    transition: .4s ease-out;
  }

  &.pf-is-collapsed {
    @include build-grid(0 auto);
    grid-gap: unset;
    padding: 0;

    header { padding: $global-padding $global-padding; }

    header .header-info {
      max-width: 0;  
      white-space: nowrap;
      opacity: 0;
      padding: 0;
    }

    .toggle-map i {
      transform: scaleX(1);
    }
  }

  &.pf-is-collapsed ul.list-deployments {
    opacity: 0;
  }

  &.pf-is-collapsed li {
    max-width: 0;
    overflow: hidden;
    opacity: 0;
  }

  .list-group {
    @include build-grid(grid-gap $global-padding, max-content auto);
    grid-row-gap: 0;
    margin: 0;
    padding: 22px $global-margin;
    white-space: nowrap;
    border: none;
    color: $base-color;
    transition: .3s;

    &:hover {
      background: rgba(255,255,255,.5);
      // box-shadow: 0 2px 8px 0px rgba(0, 0, 0, 0.1);
    }

    .fa {
      align-self: center;
      grid-row: span 2;
      font-size: 1.4rem;
    }

    span.title,
    span.subtitle {

    }
  }
}

.ins-c-map-nav header {
  display: grid;
  grid-template-columns: auto max-content;
  padding: $global-padding $global-padding $global-padding $global-margin;
  align-self: start;
  align-items: center;
  border-bottom: 2px solid #cfcfcf;
  transition: .3s;
  // border-bottom: 4px solid #dedede;

  .toggle-map {
    transition: 2s;
  }

  .toggle-map i {
    margin-left: auto;
    z-index: 2;
    transform: scaleX(-1);
    transition: 1s;
  }

  .header-info {
    display: flex;
    flex: 1;
    align-items: center;
    max-width: 30rem;
    overflow: hidden;
    transition: .3s;
    opacity: 1;

    > .count {
      position: relative;
      padding: 0 $global-padding;
    }

    > *:nth-child(2) {
      margin-left: auto;
    }
  }

  .header-title {
    @include font-size(24px, 1);
    font-weight: 300;
    transition: .3s;
  }
}

.ins-c-map-nav .toggle-map {
  padding: $global-padding/2 $global-padding;
  font-size: 24px;
  background: none;
  text-align: left;
  border: 1px solid darken(#f5f5f5, 10);
  border-radius: 4px;
}






/* View toggle
/* ================================================================== */
.view-toggle {
  position: absolute;
  right: var(--global-margin);
  top: var(--global-padding);
  display: inline-flex;
}

.view-toggle button,
.view-toggle .button-default,
.view-toggle .button-sm,
.view-toggle .button-lg {
  padding: 0;
  background: none;
  border: none;

  &:hover,
  &:active,
  &:focus {
    background: none;
  }
}

.view-toggle i {
  padding: var(--global-padding, 8px);
  background: none;
}