/* ==================================================================
/* Map layout
/* ================================================================== */
/**
 * This document defines the styling for the pmaas layout
**/


/* Base styling
/* ================================================================== */
.ins-l-pmaas-map {
  background: linear-gradient(135deg, #0088ce, #00b9e4);
  display: grid;
  grid-template-rows: max-content auto;
  height: 100%;
  max-height: 100%;

  .fa.fa-times {
    @include rem('margin-top', $global-padding);
    @include rem('margin-right', $global-padding);
  }
}

.ins-l-pmaas-map .map {
  position: relative;
  height: 100%;
}

// Hide text
.ins-l-pmaas-map .c3-chart-arcs text { 
  display: none;
}


/* Page header
/* ================================================================== */
.ins-l-pmaas-map .page-header {
  @include build-grid(repeat 2 1fr, sm max-content max-content max-content max-content, lg auto auto auto, xl auto max-content max-content max-content max-content);
  grid-template-rows: max-content max-content;
  align-items: center;
  padding: $global-padding;
  box-sizing: border-box;

  @include media-query(md) { grid-template-rows: max-content; }

  // Page header filters
  .button-group {
    grid-column: span 4;

    @include media-query(sm) { grid-column: span 4; }
    @include media-query(lg) { 
      grid-column: unset; 
      grid-row: span 2;
    }

    @include media-query(xl) {
      grid-row: unset;
    }
  }
}
