/* ==================================================================
/* Map layout
/* ================================================================== */
/**
 * This document defines the styling for the pmaas layout
**/

.insights-app-dashboard-map .platform-grid main {
  display: flex;
  flex-flow: column nowrap;
  height: 100%;
  // min-height: 0;
}

.insights-app-dashboard-map .ins-p-page-header {
  padding: $global-padding;
}

.insights-app-dashboard-map .ins-p-page-header {
  @include build-grid(1fr, sm auto max-content);
  grid-gap: 0;
  padding: $global-padding;

  .ins-p-chart-list {
    @include build-grid(repeat 2 1fr);
    margin: 0;
    padding: 0;
    grid-gap: 0;
    grid-template-rows: max-content max-content;

    > * {
      margin: 0;
    }
    
    @include media-query(sm) {
      grid-template-columns: repeat(4, max-content);
      grid-template-rows: unset;
      grid-gap: $global-padding/2;
    }
  }

  .button-group button {
    padding-left: $global-padding;
    padding-right: $global-padding;

    &.active {background: $gray-lite}

    @include media-query(xl) {
      padding-left: var(--global-margin);
      padding-right: var(--global-margin);      
    }
  }
}

// .insights-app-dashboard-map .ins-p-page-header {
//   @include build-grid(max-content, lg 1fr max-content);
//   grid-template-rows: max-content max-content;
//   padding: $global-padding;

//   @include media-query(lg) {
//     grid-template-rows: unset;
//   }

//   .ins-p-chart-list {
//     grid-row-start: 2;
//     margin-left: -$global-padding;
//     flex: 0;

//     @include media-query(lg) {
//       grid-row-start: unset;
//       margin-left: auto;
//       flex: 1;
//     }

//     &__item {
//       flex: 0;
//     }
//   }
// }


/* Map base styling
/* ================================================================== */
.ins-l-pmaas-map {
  @include build-grid(1fr, sm 1fr max-content);
  padding: 0;
  grid-gap: 0;
  height: 100%;
  max-height: 100%;
  background: linear-gradient(135deg, #0088ce, #00b9e4);

  
  .map {
    overflow: hidden;

    > svg {
      width: 100%;
      max-height: 100%;
      height: 100%;

      path {
        fill: #fff;
        opacity: .2;
        stroke: #266D98;
      }
    }
  }
}

.ins-l-pmaas-map {

  .fa.fa-times {
    @include rem('margin-top', $global-padding);
    @include rem('margin-right', $global-padding);
  }
}

.ins-l-pmaas-map .map {
  position: relative;
  // height: 100%;
}

// Hide text
.ins-l-pmaas-map .c3-chart-arcs text { 
  display: none;
}


/* Page header
/* ================================================================== */
.ins-l-pmaas-map .page-header {
  @include build-grid(repeat 2 1fr, sm max-content max-content max-content max-content, lg auto auto auto, xl auto max-content max-content max-content max-content);
  grid-template-rows: max-content max-content;
  align-items: center;
  padding: $global-padding;
  box-sizing: border-box;

  @include media-query(md) { grid-template-rows: max-content; }

  // Page header filters
  .button-group {
    grid-column: span 4;

    @include media-query(sm) { grid-column: span 4; }
    @include media-query(lg) { 
      grid-column: unset; 
      grid-row: span 2;
    }

    @include media-query(xl) {
      grid-row: unset;
    }
  }
}
