.landing-page-top.band.band-hero.band-first.band-narrow
  .container
    .row
      .col-sm-10.col-sm-offset-1
        h1.headline(translate) You can't fix what you can't see
        .strapline(translate) Take the guesswork out of infrastructure optimization with Red Hat Insights proactive analytics and real-time intelligence.
    .row
      .col-sm-12.text-center
        a.btn.btn-app(href='https://access.redhat.com/products/red-hat-insights#getstarted', translate) Getting started guide
        span.strapline.btn-seperator(translate) or
        a.btn.btn-app(ui-sref='app.overview', translate) Go to the application

.intro-video.band.band-whispy
  .container
    .row
      .col-sm-12
        h2.section-header.text-center(translate) Introduction to Red Hat Insights
        .videowrapper
          iframe(
            width='752',
            height='423',
            src='https://www.youtube.com/embed/MfRnKe-xxLM',
            frameborder='0',
            allowfullscreen)

#ansible.ansible.band.band-white
  .container
    .row
      .col-sm-4.col-md-offset-1.hidden-xs.text-center
        img(src='images/g_ansible-venn.png')
      .col-sm-8.col-md-6
        //img.logo.logo-ansible(src='../images/l_ansible.svg')
        h2.section-title(translate) Automate discovery and remediation
        p(translate) Automate the resolution of Insights findings through Ansible Playbooks.
        p
          strong Red Hat Insights&nbsp;
          span(translate) creates significant time savings and helps avoid firefighting by enabling automatic resolution of critical issues before they affect your business. Optimize your environment and boost security with
          strong Red Hat Insights.

.pre-footer.band.band-white
  .container.text-center
    h2.section-header(translate) Start proactively finding and fixing infrastructure risks today
    h2(translate) Your current subscription provides a free 30-day evaluation
    a.btn.btn-app(href='https://access.redhat.com/products/red-hat-insights#getstarted', translate) TRY IT

.core-values.band.band-gray-light
  .container
    .row
      .col-sm-4.core-value
        .text-center
          .icon.icon-split
            i.fa.fa-sliders
          h4.uppercase.bold(translate) Avoid firefighting
          p(translate) Get in-depth analysis of risks on an individual system, topic, or site-wide level, so you can address them before they affect your business.
      .col-sm-4.core-value
        .text-center
          .icon.icon-split.icon-split-orange
            i.fa.fa-crosshairs
          h4.uppercase.bold(translate) Act on advice you can trust
          p(translate) Resolve issues quickly and take the guesswork out of remediation using tailored resolutions created by domain experts and cross-referenced against thousands of similar environments.
      .col-sm-4.core-value
        .text-center
          .icon.icon-split.icon-split-red
            i.fa.fa-cogs
          h4.uppercase.bold(translate) Master complexity
          p(translate) Ensure integration of high-priority security analysis in an operations-friendly workflow with a view of all actions prioritized by level of risk.

.testimonial.band.band-black
  .container
    blockquote
      p(translate) ...With Red Hat Insights, we can resolve critical issues before they occur. We no longer have to look at individual systems because we have one tool that gives us much more comprehensive and actionable information on our infrastructure.
      p(translate) It's important to have a company like Red Hat that's working toward the same goals we are, that understands our business and what we're trying to accomplish, and understands our infrastructure and our businesses. As the market continues to change and new technologies are released, we'll continue to change as well, and we expect Red Hat to be an important partner to help us on that journey.

    author.author
      strong Jason Cornell,&nbsp;
      | Manager of Cloud and Infrastructure Automation, Cox Automotive

.heartbleed.band.band-white
  .container
    h2.section-header.text-center(translate) Real-Time Risk Assessment
    .row
      .col-sm-8.col-sm-offset-2
        img(src='images/g_heartbleed.png')

.whitepaper.band.band-whispy
  .container
    h2.section-header.text-center(translate) Related Resources
    .flexgrid.equalheights.related-resources
      .row
        .col-sm-6.col-lg-3
          .card.card-white
            h4.uppercase.bold.card-title(translate) Red Hat Insights Blog
            p(translate) Want to learn about the newest Red Hat Insights features and discover how to get the most out of the Insights service?
            .full-width-button-wrapper.bottom
              a.btn(target='_blank', href='https://access.redhat.com/blogs/insights', translate) Read Blog Posts
        .col-sm-6.col-lg-3
          .card.card-white
            h4.uppercase.bold.card-title(translate) Datasheet
            p(translate) Learn about the benefits Insights can provide and technical requirements.
            .full-width-button-wrapper.bottom
              a.btn(target='_blank', href='images/rh-insights-datasheet-3-2017.pdf', translate) Read More
        .col-sm-6.col-lg-3
          .card.card-white
            h4.uppercase.bold.card-title(translate) 2017 Summit Announcement
            p(translate) Predict and prevent problems before they occur in your IT infrastructure with actionable intelligence powered by Red Hat.
            .full-width-button-wrapper.bottom
              a.btn(target='_blank', href='https://www.redhat.com/en/about/press-releases/red-hat-delivers-analytics-driven-automation-latest-version-insights-ansible-integration', translate) View Press Release
        .col-sm-6.col-lg-3
          .card.card-white
            h4.uppercase.bold.card-title(translate) Virtual Security Event
            p(translate) Hear Mayo Clinic explain how they used Red Hat Insights to proactively intercept security risks.
            .full-width-button-wrapper.bottom
              a.btn(target='_blank', href='https://vts.inxpo.com/Launch/Event.htm?ShowKey=31574', translate) View Virtual Event

.video.band.band-gray-light
  .container
    .row
      .col-sm-12
        h2.section-header.text-center(translate) See Insights in Action
    .row
      .col-sm-12.text-center
        .file-video
          iframe.media-youtube-player.rh-analytics-youtube(width='1139' height='641' src='https://www.youtube.com/embed/t1tlntxyJyc' frameborder='0' allowfullscreen)
