.actions-page
  //platform-filter
  new-actions-graph
  .content-wrap
    section.metrics
      .rha-notifications
      .row
        .col-md-7.chart-col.clearfix
          .chart-container.text-center
            span.preloader(ng-show='loading')
            .donut-container
              .donut-hole
                .content
                  .num {{stats.rules.total}}
                  .text(translate) Issues
              .rha-telemetry-donut(stats='stats')
          .row
            .col-lg-10.col-lg-offset-1
              table.legend
                tbody
                  tr
                    td(ng-repeat='category in categoryTopics.slice(0,(categoryTopics.length > 3 ? 2 : categoryTopics.length))')
                      a(ng-class='category.id', ui-sref="app.topic({id: category.id, product: getSelectedProduct()})")
                        i.fa.fa-square.inline-right(ng-class="category.id + '-color'", aria-hidden="true")
                        span.desc(translate) {{category.id | titlecase}}
                        span.count &nbsp;({{category.count}})
                  tr(ng-if='categoryTopics.length > 3')
                    td(ng-repeat='category in categoryTopics.slice(2,categoryTopics.length)')
                      a(ng-class='category.id', ui-sref="app.topic({id: category.id, product: getSelectedProduct()})")
                        i.fa.fa-square.inline-right(ng-class="category.id + '-color'", aria-hidden="true")
                        span.desc(translate) {{category.id | titlecase}}
                        span.count &nbsp;({{category.count}})
        .col-md-5
          card
            card-header.gray
              h4(translate) Risk summary
            card-content
              severity-summary(stats='stats')
          card(ng-if='stats.systems')
            card-header.gray
              h4(translate) Systems with critical risk
            card-content
              system-summary(stats='stats')

    section.gray.full-width
      span.pull-right(ng-show='isContentManager')
        | [
        a(ui-sref='app.admin-topic') edit
        | ]
      h2.section-title.section-title-red(translate) Featured Topics
      .flexgrid.equalheights.other-topics
        .row(ng-if='loader.loading')
          .spinner.spinner-lg
        .row(ng-if='featuredTopics.length')
          other-topic(ng-repeat = "topic in featuredTopics | orderBy:'topic.order' track by topic.id", ng-show='!loader.loading', topic='topic')
        .row(ng-if='!show.extraTopics && extraTopics.length')
          .text-center.extra-topics
            button.btn.btn-sm.btn-default(ng-click='show.extraTopics = true', translate) More topics
        .row(ng-if='!featuredTopics.length && !loader.loading')
          .col-xs-12.text-center
            strong No topics currently available.&nbsp;
              a(ui-sref='info.getting-started.direct', translate) Register more systems.
    section.full-width(ng-if='show.extraTopics')
      .flexgrid.equalheights.other-topics
        .row
          other-topic(ng-repeat = "topic in extraTopics | orderBy:'topic.order' track by topic.id", ng-show='!loader.loading', topic='topic')
