.actions-page
  page-header(title="Actions", icon="fa-file-text")
  new-actions-graph

  .text-center(ng-if='loading')
    .spinner.spinner-lg

  .rha-notifications

  section.content.actions-overview(ng-if='!loading')
    .widget.actions-pie-chart
      .chart-container.text-center
        .donut-container
          .donut-hole
            .content
              .num {{stats.rules.total}}
              .text(translate) Issues
          .rha-telemetry-donut(stats='stats')
        table.legend
          tbody
            tr
              td(ng-repeat='category in categoryTopics.slice(0,(categoryTopics.length > 3 ? 2 : categoryTopics.length))')
                a(ng-class='category.id', ui-sref="app.topic({id: category.id, product: getSelectedProduct()})")
                  i.fa.fa-square.inline-right(ng-class="category.id + '-color'", aria-hidden="true")
                  span.desc(translate) {{category.id | titlecase}}
                  span.count &nbsp;({{category.count}})
            tr(ng-if='categoryTopics.length > 3')
              td(ng-repeat='category in categoryTopics.slice(2,categoryTopics.length)')
                a(ng-class='category.id', ui-sref="app.topic({id: category.id, product: getSelectedProduct()})")
                  i.fa.fa-square.inline-right(ng-class="category.id + '-color'", aria-hidden="true")
                  span.desc(translate) {{category.id | titlecase}}
                  span.count &nbsp;({{category.count}})
    
    md-card.widget.actions-incident-summary(id="widgetIncidentSummary", ng-if="isBeta")
      md-card-header.gray
        .md-card-header-title(translate) Incident summary
      md-card-content
        incident-summary.incident-summary(incident-count='incidentCount', incident-system-count='incidentSystemCount', rule-hits='stats.rules.total')
    
    md-card.widget.actions-risk-summary
      md-card-header.gray
        .md-card-header-title(translate) Risk summary
      md-card-content
        severity-summary(stats='stats')

  section.content.content-gray
    h2.section-title.section-title-red(translate) Featured Topics
    .flex.flex-stretch
      other-topic.flex33(ng-if='featuredTopics.length', ng-repeat = "topic in featuredTopics | orderBy:'topic.order' track by topic.id", topic='topic')
      
    .text-center.extra-topics(ng-if='!show.extraTopics && extraTopics.length')
      md-button.btn.btn-sm.btn-default(ng-click='show.extraTopics = true', translate) More topics

    div(ng-if='!featuredTopics.length')
      strong.text-center No topics currently available.&nbsp;
        a(ui-sref='info.getting-started.direct', translate) Register more systems.
    .flex(ng-if='show.extraTopics')
      other-topic.flex33(ng-repeat = "topic in extraTopics | orderBy:'topic.order' track by topic.id", topic='topic')
