.actions-page
  //platform-filter
  new-actions-graph

  .content-wrap
    section.metrics
      .rha-notifications
      .row
        .col-md-6.chart-col.clearfix
          .chart-container.text-center
            span.preloader(ng-show='loading')
            .donut-container
              .donut-hole
                .content
                  .num {{stats.rules.total}}
                  .text(translate) Issues
              .rha-telemetry-donut(stats='stats')
          .row
            .col-lg-10.col-lg-offset-1
              table.legend
                tbody
                  tr
                    td(ng-repeat='category in categoryTopics.slice(0,(categoryTopics.length > 3 ? 2 : categoryTopics.length))')
                      a(ng-class='category.id', ui-sref="app.topic({id: category.id, product: getSelectedProduct()})")
                        i.fa.fa-square.inline-right(ng-class="category.id + '-color'", aria-hidden="true")
                        span.desc(translate) {{category.id | titlecase}}
                        span.count &nbsp;({{category.count}})
                  tr(ng-if='categoryTopics.length > 3')
                    td(ng-repeat='category in categoryTopics.slice(2,categoryTopics.length)')
                      a(ng-class='category.id', ui-sref="app.topic({id: category.id, product: getSelectedProduct()})")
                        i.fa.fa-square.inline-right(ng-class="category.id + '-color'", aria-hidden="true")
                        span.desc(translate) {{category.id | titlecase}}
                        span.count &nbsp;({{category.count}})
        .col-md-6
          card.widget.widgetIncidentSummary(id="widgetIncidentSummary", ng-show='incidentCount > 0')
            card-header.gray
              h4(translate) Incident summary
            card-content.flexgrid.equalheights
              .row
                .col-sm-3
                  #countComparison.countComparison
                    .count
                      .num {{incidentCount}}
                      .desc(translate) Incidents
                    .count
                      .num {{incidentSystemCount}}
                      .desc(translate) Systems
                .col-sm-9.border-left
                  .icon-inline
                    i.fa.fa-bullseye
                    p(translate) An&nbsp;
                      strong incident&nbsp;
                      | is an issue that is currently or has already affected systems. {{incidentCount}} of {{stats.rules.total}} issues are INCIDENTS affecting {{incidentSystemCount}} systems. It is imperative that these incidents be addressed to ensure optimal performance.
                    br
                    a.link.strong(translate, href="linkToRules") View incidents

          card.widget.widgetIncidentSummary(id="widgetIncidentSummary", ng-show='incidentCount === 0')
            card-header.gray
              h4(translate) Incident summary
            card-content.flexgrid.equalheights
              .row
                .col-md-12
                  #countComparison.countComparison
                    .count
                      span.num.success 0
                      span.desc incidents
                .col-md-12
                  .icon-inline
                    i.fa.fa-bullseye
                    p(translate) An&nbsp;
                      strong incident&nbsp;
                      | is an issue that is currently or has already affected systems. You have 0 issues that are INCIDENTS. It is imperative that these incidents be addressed to ensure optimal performance.


          //card.widget.widgetIncidentSummary(id="widgetIncidentSummary")
          //  card-header.gray
          //    h4(translate) Incident summary
          //  card-content.flexgrid.equalheights
          //    .row
          //      .col-md-5
          //        #countComparison.countComparison
          //          .count
          //            span.num 24
          //            span.desc incidents
          //          .count
          //            span.num 48
          //            span.desc systems
          //      .col-md-7
          //        .icon-inline
          //          i.fa.fa-bullseye
          //          p(translate) An&nbsp;
          //            strong incident&nbsp;
          //            | is an issue that is currently or has already affected systems. 24 of 62 issues are INCIDENTS affecting 48 systems. It is imperative that these incidents be addressed to ensure optimal performance.
          //          br
          //          a.link.strong(translate, hre="linkToRules") View incidents
          //
          //
          //card.widget.widgetIncidentSummary(id="widgetIncidentSummary")
          //  card-header.gray
          //    h4(translate) Incident summary
          //  card-content.flexgrid.equalheights
          //    .row.border-bottom
          //      .col-md-12
          //        #countComparison.countComparison
          //          .row
          //            .col-sm-6.text-center
          //              .count
          //                span.num 24
          //                span.desc incidents
          //            .col-sm-6.text-center
          //              .count
          //                span.num 48
          //                span.desc systems
          //    .row
          //      .col-md-12
          //        .icon-inline
          //          i.fa.fa-bullseye
          //          p(translate) An&nbsp;
          //            strong incident&nbsp;
          //            | is an issue that is currently or has already affected systems. 24 of 62 issues are INCIDENTS affecting 48 systems. It is imperative that these incidents be addressed to ensure optimal performance.
          //          br
          //          a.link.strong(translate, hre="linkToRules") View incidents
          //
          //
          //card.widget.widgetIncidentSummary(id="widgetIncidentSummary")
          //  card-header.gray
          //    h4(translate) Incident summary
          //  card-content.flexgrid.equalheights
          //    .row
          //      .col-md-12
          //        #countComparison.countComparison
          //          .count
          //            span.num.success 0
          //            span.desc incidents
          //      .col-md-12
          //        .icon-inline
          //          i.fa.fa-bullseye
          //          p(translate) An&nbsp;
          //            strong incident&nbsp;
          //            | is an issue that is currently or has already affected systems. You have 0 issues that are INCIDENTS. It is imperative that these incidents be addressed to ensure optimal performance.


          card
            card-header.gray
              h4(translate) Risk summary
            card-content
              severity-summary(stats='stats')

    section.gray.full-width
      span.pull-right(ng-show='isContentManager')
        | [
        a(ui-sref='app.admin-topic') edit
        | ]
      h2.section-title.section-title-red(translate) Featured Topics
      .flexgrid.equalheights.other-topics
        .row(ng-if='loader.loading')
          .spinner.spinner-lg
        .row(ng-if='featuredTopics.length')
          other-topic(ng-repeat = "topic in featuredTopics | orderBy:'topic.order' track by topic.id", ng-show='!loader.loading', topic='topic')
        .row(ng-if='!show.extraTopics && extraTopics.length')
          .text-center.extra-topics
            button.btn.btn-sm.btn-default(ng-click='show.extraTopics = true', translate) More topics
        .row(ng-if='!featuredTopics.length && !loader.loading')
          .col-xs-12.text-center
            strong No topics currently available.&nbsp;
              a(ui-sref='info.getting-started.direct', translate) Register more systems.
    section.full-width(ng-if='show.extraTopics')
      .flexgrid.equalheights.other-topics
        .row
          other-topic(ng-repeat = "topic in extraTopics | orderBy:'topic.order' track by topic.id", ng-show='!loader.loading', topic='topic')
