.page-vulnerabilities-rhsa{
  .solution{
    @include rem('padding', $global-padding);
    background: #f7f7f7; // Fallback
        background: -webkit-linear-gradient(-45deg, #f7f7f7 0%, #ffffff 100%);
        background: -moz-linear-gradient(-45deg, #f7f7f7 0%, #ffffff 100%);
        background: linear-gradient(135deg, #f7f7f7 0%, #ffffff 100%);
    border-left: 2px solid #cc0000;

    span { margin-bottom: 0px; }
  }
  .cve-summary { @include rem('margin', $global-margin); }
}
