// Detail Grid
//==================================================================*/

.vulnerability-details-header {
  @include rem('margin', 0 $global-margin);
  max-width: 1400px;
  display: grid;
  grid-gap: $global-margin;
  grid-template-columns: 3fr 1fr;
  grid-template-areas: "page-header page-header-aside"
                       "description description"
                       "description-aside description-aside";

  @include media-query(sm) {
    display: grid;
    grid-template-areas: "page-header page-header-aside"
                          "description description-aside";
    grid-template-columns: 2fr 1fr;
  }

  .page-header {
    grid-area: page-header;
    margin-left: 0;
    padding-left: 0;
    .page-title i { margin: 0px; }
  }

  aside.page-header-aside {
    grid-area: page-header-aside;
    @include rem ('padding', $global-margin 0);
    align-self: self-end;
    border-bottom: 1px solid $gray-lite;

    &.severity {
      text-transform: capitalize;
      font-weight: 700;
      i { @include rem('font-size', 24px); }
    }
  }

  .description {
    grid-area: description;
    span {
      display: block;
      @include rem('margin-bottom', 20px);
    }
  }

  aside.description-aside{
    grid-area: description-aside;
  }

  h2.section-title.section-title-red {
    @include font-size(14px);
    @include rem('margin-bottom', 5px);
  }
}



// Table Grid
//==================================================================*/

.vulnerability-tables {
  @include rem('margin', $global-margin);
  @include rem('padding-bottom', $global-margin);

  .data-filters, .table-search { margin-left: 0px; }
}


.actions-rule .rule-detail-header article {
  h2 {
    color: $red;
    text-transform: uppercase;
    @include font-size(14px);
    @include rem('margin-bottom', 5px);
  }
}