.actionbar {
	background-color: #f9f9f9;
	width: 100%;
	font-size: 13px;
	@include rem('padding', $global-padding $global-margin);
	border-top: 1px solid $gray;
	text-align: right;

	button.action {
		display: inline-block;
		border: 1px solid #ddd;
		@include rem('margin-left', 10px);
		transition: .2s;

		&:hover {
			background: $gray-dark;
			border-color: $gray-dark;
			color: #fff;
		}
	}
	i { padding-right: 5px; }
}
