$action-border: $gray-dark;

.actions-light {
  .action {
    width: 50%;
    float: left;
    @include rem('padding', 0 $global-padding);

    @include media-query(sm) {
      width: auto;
      @include rem('padding', 0 $global-margin);
    }

    &:first-child { border-right: 1px solid $action-border; }

    @include media-query(sm) { }
  }

  .num {
    @include font-size(36px, 50.4px);
    font-weight: 700;
    color: #585858;
    text-align: center;
  }

  .text { text-align: center; }
}

.actions {
  .performance-color { background: $performance-color; }

  .availability-color { background: $availability-color; }

  .security-color { background: $security-color; }

  .stability-color { background: $stability-color; }
}
