.actions-rule-filters {
  background: $gray-light;
  @include rem('padding', $global-padding $global-margin);
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;

  .row.row-short { margin-top: 0; }
}