.page-announcements {
  .content-wrap { @include rem('margin-top', 30px); }
}

.announcement {
  &.acked .header { background: #fff; }

	// Acked announcement
	&.read {
		color: rgba(100,100,100,.7);

		.header { background: #fff; }
	}

	input + span { margin-left: 0; }
}

li.announcement{
  display: flex;
  justify-content: space-between;
}

.message-status-toggle {
  i {
    float: none;
    display: inline;
    color: $gray-dark;
    @include font-size(16px);
    line-height: 1;

    &.acked { color: $green; }
  }
}
