.beta-switch {
  //z-index: 100;

  @include media-query(sm) {
  	position: absolute;
    right: 0;
    top: -48px;
    z-index: 1000;
  }

  a {
    @include rem('padding-top', 4px);
    @include rem('padding-bottom', 4px);
    display: block;
    color: #fff;
    font-weight: 100;
  }

  span + .btn { @include rem('margin-left', 8px); }

  .btn {
    @include rem('padding', 4px 14px);
    @include border-radius(24px);
    font-weight: 700;
    font-style: italic;
    color: $blue;
    background: #fff;
  }

  .btn.btn-blue {
    color: #fff;
    background: $blue;
    @include animation(.2s);
    border-left: 4px solid $blue;
    border-right: 4px solid $blue;

    //&:hover {
    //  background: lighten($blue, 10);
    //}
  }

}