topbar .beta-switch {
  display: inline-flex;

  button.md-button {
    justify-content: center;
    @include rem('border-radius', 20px);

    span { 
      @include rem('font-size', 14px);
    }

  }

  .beta-dropdown { @include rem('padding', $global-padding); }

  .dropdown .button-content-wrapper { @include rem('padding', $global-padding); }

  md-checkbox {
    margin-bottom: 0px;
    @include rem ('margin-left', 5px);
    span { @include rem('font-size', 14px); }
  }
}
