// Vars
$card: "md-card";
$card-header: "md-card-header";
$card-content: "md-card-content";
$card-footer: "md-card-footer";

//#{$card}+#{$card}{@include rem('margin-top', $global-margin);}

#{$card} {
  @include reset;
  color: $base-color;
  // box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 3px 0px, rgba(0, 0, 0, 0.14) 0px 1px 1px 0px, rgba(0, 0, 0, 0.12) 0px 2px 1px -1px;

  h1, 
  h2, 
  h3, 
  h4 {
    @include font-size(14px, 17px);
    margin-top: 0;
  }
}


// Card header typography
//==================================================================*/
#{$card} #{$card-header} {
  &,
  & h1,
  & h2,
  & h3,
  & h4 {
    margin: 0;
    @include font-size(14px, 19px);
    font-weight: 700; 
  }
}


// Card header base
//==================================================================*/
#{$card} #{$card-header} {
  position: relative;
  display: flex;
  justify-content: space-between;
  @include rem('padding', $global-padding);
  border-bottom: 1px solid $gray-border;
  align-items: center;

  & .card-header-title { flex: 1 1 60%; }

  & .card-header-supporting-info { 
    flex: 0 1 auto; 
    @include font-size(14px, 1);
    font-weight: 100;
  }
}


// Accented card
//==================================================================*/
#{$card}.card-accent {
  border-top: 2px solid #39a5dc;
}


// Expandable card header
//==================================================================*/
#{$card-header}.card-header-expandable-card {
  display: flex;
  align-items: first baseline;

  .expandable-toggle { flex: 0 0 auto; }
  
  .card-header-content { 
    display: flex;
    flex: 1;
    align-items: stretch;
  }

  .checkbox { @include rem('margin-top', 2px); }
}

#{$card} #{$card-header} .card-header-title .ansible-icon { align-self: flex-start; }


// Card header components
//==================================================================*/
#{$card} #{$card-header} .count {
  background: $blue;
  position: absolute;
  top: -$global-padding;
  right: $global-padding;
  color: #fff;
  @include font-size(12px);
  line-height: 1;
  font-weight: 700;
  @include rem('padding', 6px 12px);
  border-radius: 12px;
}


#{$card-header}.card-header-expandable-card .card-header-title {
  display: flex;
  justify-content: space-between;
  align-items: first baseline;

  .title { flex: 1 60%; }
  
  i { 
    flex: 0 auto; 
    justify-self: center;
  }
}


#{$card} .expandable-toggle {
  @include rem('padding-right', $global-padding);
  border: none;
  box-shadow: none;
  background: none;

  i { 
    transition: .2s; 
    @include font-size(14px);
    line-height: 1;
  }
}

// Nested card arrow control
#{$card}.expanded { 
  > #{$card-header} > .expandable-toggle {
    i { transform: rotate(90deg); } 
  }
}


// Card content base
//==================================================================*/
#{$card-header}.gray { background: $gray-light; }
#{$card-header} .card-header-cta { @include font-size(14px, 1);}



// Card footer components
//==================================================================*/
#{$card-footer} {
  & .card-footer-title { flex: 1 1 60%; }
  & .card-footer-supporting-info { 
    flex: 0 1 auto; 
    @include font-size(14px, 1);
    font-weight: 100;
  }  
}


.card-list {
  @include rem('margin-top', $global-margin);
}



// Rule card
#{$card}.card-rule-summary {

  @include rem('margin', $global-padding);

  .card-header-title { 
    @include font-size(14px, 1); 
    font-weight: 300;
  }

  .card-header-title .title {
    @include font-size(16px, 1);
    font-weight: 700;
  }

  .card-header-risk-summaries .title {
    @include font-size(14px, 1);
    font-weight: 500;
  }

  #{$card-content} {
    @include rem('padding', $global-margin);
  }
}


.card-group {
  > header {
    @include rem('padding', $global-padding);
    background-color: $gray-light;
    border: 1px solid #DDD;
    border-left: 8px solid $gray;

    i + span, i + strong { @include rem('margin-left', 8px); }
  }

  .count {
    @include font-size(18px);
    font-weight: 100;
  }

  > .content {
    position: relative;
    padding: 0;

    .prev, .next {
      position: absolute;
      top: 10px;
      width: 30px;
      height: 30px;
      background: $blue;
      border-radius: 25px;
        -moz-border-radius: 25px;
        -webkit-border-radius: 25px;
      color: #fff;
      @include font-size(11px, 29px);
      font-family: "FontAwesome";
      opacity: 0;
      transition: .1s;
      transition-delay: .2s;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .prev {
      left: -100px;
    }

    .next {
      right: -100px;
    }


    // Hover styles
    &:hover {

      .prev.disabled,
      .next.disabled {
        background: $gray;
        color: lighten($gray, 10);
        //opacity: .8;
        cursor: not-allowed;
      }

      .prev,
      .next {
        opacity: 1;
      }

      .prev { left: -20px; }
      .next { right: -20px; }
    }
  }

  > footer {}

  // Re-style card
  .content-block-card {

    .header {
      background: #fff;
      border-top: none;

      &.flexgrid {
        padding-bottom: 0;

        [class^="col-"],
        [class*=" col-"] {
          @include rem('padding-bottom', $global-padding);
        }
      }
    }
  }
}

.card-group > .header, .content-block-card .header {
  position: relative;

  .count {
    background: $blue;
    position: absolute;
    top: -$global-padding;
    right: $global-padding;
    color: #fff;
    @include font-size(12px);
    line-height: 1;
    font-weight: 700;
    @include rem('padding', 6px 12px);
    border-radius: 12px;
  }
}

.member-group {
  .member-group-content {
    padding-top: 5px;

    .link-text { padding-left: 16px; }
  }
}

.system-card {
  [type="checkbox"] {
    margin: 0;
    min-height: 0;
  }
	// & + .system-card { @include rem('margin-top', $global-padding); }

 //  .metadata-separator { @include rem('margin-top', $global-padding); }

 //  .header-table {
 //    display: table;
 //    table-layout: fixed;
 //    width: 100%;
 //  }

 //  .ellipsis-wrapper {
 //    overflow: hidden;
 //    white-space: nowrap;
 //    text-overflow: ellipsis;
 //    word-break: break-all;
 //    word-wrap: break-word;
 //  }

 //  .status-icon { @include rem('margin-left', 5px); }

  .checkbox { 
    @include media-query(sm) { flex: 0 1 auto; }  
  }

  &.stale #{$card-header},
  &.stale #{$card-content},
  &.stale #{$card-footer} {
    color: #a94442;
    font-style: italic;
    background: #fbf2f2;
  }
}


.card-header-risk-summaries {
  display: flex;
  align-items: baseline;
}

.system-card #{$card-header},
.card-table-header {
  display: flex;
  @include rem('padding', $global-padding);

  [type="checkbox"] { 
    flex: 0 1 auto; 
    align-self: flex-start;
  }

  .type { flex: 0 20%; }
  .hostname { flex: 1 1 50%; }

  .action-count {
    flex: 0 1 auto;
    margin-left: 0;
  }
}

.system-card + .system-card { @include rem('margin-top', $global-margin); }

.system-card.stale, .content-block-card.stale {
  color: #a94442;
  font-style: italic;

  .content-block, input { border-color: #a94442; }

  header { background: #f2dede; }
  .content, footer, .footer { background: #fbf2f2; }

}



// .insights-main-content table.stale tbody {
//   tr { background: #f2dede; }
//   tr:nth-child(odd) { background: #fbf2f2; }
// }


// .insights-main-content table tbody {
//   tr.stale { background: #f2dede; }
//   tr.stale:nth-child(odd) { background: #fbf2f2; }
// }

.separation-header {

  h4 {
    display: flex;
	  text-transform: uppercase;
	  @include font-size(14px);
		font-weight: 700;
  }

  h4:after {
    border-bottom: groove 2px;
    flex: 1;
    content: '';
    margin: auto auto;
    color: black;
  }

	h4:before { @include rem('margin', auto 8px auto 0); }
	h4:after { @include rem('margin', auto 0 auto 8px); }
}

.metadata-separator { @include rem('margin-top', $global-padding); }

.insights-card .content {
  display: block;
}

.card-table-header {
  @include rem('margin-top', $global-margin);
  border-bottom: 4px solid $gray;
}

.card-list-item + .card-list-item {
    @include rem('margin-top', $global-margin);
}

.card-list-item md-card-footer{
  display: flex;
  justify-content: space-between;
}

.card-table-bulk-actions {
  i {
    @include rem('margin-right', 6px);
    @include font-size(18px);
    line-height: 1;
  }

  @include rem('margin', 0 auto $global-padding auto);
  @include rem('padding-bottom', $global-padding);
  //border-bottom: 2px solid $gray;

  &.offset { @include rem('margin-left', 25px); }

  .btn + .btn {
    margin-left: 15px;
  }
}


// Card Summary
//==================================================================*/
.card-summaries{
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  @include rem('margin', 15px);

  md-card { @include rem('margin-top', 15px); }

  md-card + md-card { @include rem ('margin-left', $global-margin); }

  md-card-content { @include rem('padding', 25px 35px); }

  .icon { 
    @include rem('margin-bottom', 15px); 
    @include rem('font-size', 25px);
  }

  h2.text { @include rem('font-size', 18px); }

  .subhead { 
    display: flex; 
    justify-content: space-between;
  }

  .hits i { @include rem('padding-left', 5px); }
}
