.chart-col {
  position: relative;
	//@media screen and (min-width: 992px) {
	//	margin-top: -24px;
	//}
	//@media screen and (min-width: 992px) and (max-width: 1199px) {
	//	width: 46%;
	//}
  table {
    //width: 80%;
    //@include rem('margin', $global-margin 10%);

    tr td {
      //width: 50%;
    }

    tr:nth-child(odd) {
      td:nth-child(odd) { background: $gray-light; }
      td:nth-child(even) { background: #fff; }
    }

    tr:nth-child(even) {
      td:nth-child(odd) { background: #fff; }
      td:nth-child(even) { background: $gray-light; }
    }

  }

  .legend {
    //width: auto;

    a {
      text-decoration: underline;
    }
  }

  //.legend {
  //  @include reset;
  //  list-style-type: none;
  //  display: inline-block;
  //  float: right;
  //
  //  @include media-query(sm) {
  //    @include rem('margin-top', -$global-padding);
  //  }
  //}
}

.chart-icon {
	width: 18px;
	height: 18px;
	display: inline-block;
	background: url("../static/images/i_chart.png");
	background-size: 100% auto;
	vertical-align: middle;
	@include rem('margin-right', 8px);
}

.icon-circle {
	width: 14px;
	height: 14px;
	display: inline-block;
	margin: 0px 4px 0 0px;
	border-radius: 50%;
	border-width: 4px;
	border-style: solid;
}

.chart-container {

	svg { display: inline-block; }

	.reset {
		position: absolute;
		right: 35px;
		top: 210px;
		z-index: 9;

		@include media-query (sm) { right: 30px; }
	}

	.export {
		position: absolute;
		left: 35px;
		top: 210px;
		z-index: 9;

		@include media-query (sm) { left: 30px; }
	}

	p {
		font-weight: 500;
	}

	p.light {
		font-weight: 100;
	}
}

.rha-telemetry-donut {
	text-align: center;
}

div .gauge {
	height: 100px;
}

.gauge .donut-container {
	height: 63px;
	width: 63px;
	position: relative;
	top: -156px;
	left: -7px;
	margin-left: 0px;
}
