.demo-account-switcher {
    a span { color: #333; }

    a {
        display: block;
        padding: 3px 20px;
        clear: both;
        font-weight: normal;
        line-height: 1.42857;
        color: #333;
        white-space: nowrap;
    }
}
