.insights-dropdown {
  .dropdown-menu {
    padding-left: 0;

    a { font-weight: 600; }
  }

  .dropdown-toggle {
    color: #515258;
    font-size: 1em;
    font-weight: bold;
    padding: 0.375rem 10px;
  }

  .dropdown-caret {
    margin-left: 5px;
  }
}

.dropdown {

  button.btn,
  button {
    width: 100%;
    display: block;
    @include rem('padding-right', $global-margin);
    text-align: left;
    border: 1px solid #c5c7c9;
    text-transform: none;
  }

  .caret {
    position: absolute;
    right: $global-padding;
    top: 48%;
    border-width: 5px;
  }

  .dropdown-menu {
    padding: 0;
    background: #f7fafc;
    border: 1px solid #c5c7c9;
    min-width: 100%;

    li > a {
      @include rem('padding', 8px $global-padding);
    }

    li a {
      @include rem('padding', 8px 22px 8px $global-padding);
    }
  }
}

.dropdown.gray {
  button {
    background: #f7fafc;
    border: 1px solid #c5c7c9;
  }
}

.open>.dropdown-menu {
  //width: 100%;
}

.ui-select-bootstrap.dropdown {
  .form-control {
    height: auto;
  }

  .btn {
    color: #333;
    background: none;
    @include rem('padding', 7px $global-margin 7px 12px);
    text-transform: none;
  }
}