.insights-dropdown {
  .dropdown-menu {
    padding-left: 0;

    a { font-weight: 600; }
  }

  .dropdown-toggle {
    color: #515258;
    font-size: 1em;
    font-weight: bold;
    padding: 0.375rem 10px;
  }

  .dropdown-caret {
    margin-left: 5px;
  }
}

.dropdown {

  button.btn,
  button {
    text-align: left;
    border: 1px solid #c5c7c9;
    text-transform: none;

    .caret { @include rem('margin-left', $global-padding/2); }
  }

  .dropdown-menu {
    padding: 0;
    background: #f7fafc;
    border: 1px solid #c5c7c9;
    min-width: 100%;

    li > a { @include rem('padding', 8px $global-padding); }
    li a { @include rem('padding', 8px 22px 8px $global-padding); }
  }
}

.dropdown.gray {
  button {
    background: #f7fafc;
    border: 1px solid #c5c7c9;
  }
}

.dropdown.dropdown-blue,
.ui-select-bootstrap.dropdown.dropdown-blue {
  $dropdown-blue-line-height: 1;

  .btn {
    background: $blue;
    color: #fff;
    line-height: $dropdown-blue-line-height;
  }

  .btn span { color: #fff; }

  input[type="search"] {
    @include rem('padding', 12px 30px 12px 12px);
    @include font-size(14px);
    line-height: $dropdown-blue-line-height;
  }
}

.open>.dropdown-menu {
}

.ui-select-bootstrap.dropdown {
  .form-control {
    height: auto;
    width: auto;
  }

  .btn {
    color: #333;
    background: none;
    @include rem('padding', 7px $global-margin 7px 12px);
    text-transform: none;
  }

  .ui-select-toggle,
  input[type="search"] {
    @include rem('padding', 12px 30px 12px 12px);
  }

  input:placeholder-shown {  }
}

