.filters {
    //display: inline-block;
    @include border-radius(8px);
    border: 4px solid #ebeef0;
    background: #f7fafc;

    label {
        display: block;
        text-align: center;
    }

    button {
        @include border-radius(0);
        margin-left: 0 !important;
	    @include rem('padding', 6px 8px);
        text-transform: uppercase;
        color: #333;
        font-weight: 100;
        line-height: 1;
        background-image: none;
        background: #f7fafc;
        border-left: 5px solid #ebeef0;
        @include transition(.1s);

	    @include media-query (xs) { @include rem('padding', 6px 12px); }

        i {
            margin-right: 4px;
            display: inline;
        }

        span { display: inline-block; }

        &:first-child {
            @include border-top-left-radius(5px);
            @include border-bottom-left-radius(5px);
            border-left: none;
        }

        &:last-child {
            @include border-top-right-radius(5px);
            @include border-bottom-right-radius(5px);
        }

	    &.filter-on, &.active {
            background: #949794;
		    color: #e4e4e4;
            background-image: none;
            @include box-shadow(inset 0 0 2px 4px rgba(0, 0, 0, .1));

            i {
                color: #e4e4e4;
                border-color: #e4e4e4;
            }
	    }
    }

    .all-toggle {

        i { display: none; }
    }

    .icon {
        @include font-size(20px);
        position: relative;
    }

    .lbl, .icon { @include transition(.2s); }

    .lbl {
        @include font-size(12px);
        line-height: 1;
    }

}

.filters-category {
    button { @include rem('padding', 6px 12px); }

    .icon-circle {
        @include rem('margin', 2px 4px 0 0);
        float: left;
    }

    .sev { margin-top: 3px; }
}


.table-filters {

	.groups-select {
		display: inline-block;
		//float: left;
		//@include media-query (xs) { float: right; }
		//@include media-query (xs) { float: left; }
		//@include media-query (lg) { float: right; }
	}

	.severity-bar {
		//width: 100%;
		float: left;
		@include rem('margin-top', $global-padding);

		//@include media-query (xs) {
		//	@include rem('margin-right', $global-padding);
		//	float: left;
		//}

		@include media-query (sm) {
			//width: auto;
			//@include rem('margin-top', 23px);
			//margin-right: 0;
			//float: right;
		}

		@include media-query (md) {
			//float: left;
			//@include rem('margin-top', $global-padding);
		}

		//@include media-query (lg) { @include rem('margin-top', 23px); }
	}

	.severity-bar .filters {
		//@include media-query (sm) { float: left; }
		//@include media-query (md) { float: left; }
	}
}

.inline-filters {
    .groups-select, .severity-bar {
        margin: 0;
    }

    .groups-select {
        @include media-query(md) {
        	float: right;
        }
    }
}


.rules-filters {
	&,
	.col-filters,
	.col-text-toggle,
	.col-text,
	.col-toggle {
		@include clearfix();
	}


	.col-filters {
            @include media-query (lg) {
                float: left;
                max-width: 570px;
            }
        }


	.col-text-toggle {
		@include rem('margin-top', $global-margin);

		@include media-query(lg) {
			float: right;
			margin-top: 0;
		}
	}

	.col-text,
	.col-toggle {
		margin-top: 0;
	}

	.col-text {
		width: 60%;
		float: left;

		@include media-query (lg) {
			width: auto;
			max-width: 200px;

		}
	}

	.col-toggle {
		float: left;
		@include rem('margin-left', $global-padding);
	}
}

.rule-filters {
  background-color: #f2f5f7;
  padding: 20px;
}

.rule-filters {
  @include media-query(md) {
    .col-md-12:first-child {
      padding-top: 0px;
    }
    .col-md-12 {
      padding-top: 20px;
    }
  }
}

.inventory-filters, .rule-filters {
  background-color: #f2f5f7;

	@include media-query(sm) {
    @include rem('margin', 0 -30px);
  }
  @include media-query(md) {
    .search-box-wrapper {
      width: 50%;
    }
  }
	@include rem('margin', 0 -15px);

  .deny-click-cursor {
    cursor: not-allowed;
  }
}

.action-filters, .rule-filters-content, .inventory-filters {
    //padding: 10px;
    background-color: #f2f5f7;
    .row-short {
      margin-top: 0px;
    }
    label {
        display: inline-block;
    }
    * a.filter-btn {
    }
    .filter-btn.active {
      border-color: white;
      background-color: #337ab7;
      color: white;
    }
}

.summary-text {
    display: inline-block;
    .summary-name {
        font-weight: bold;
    }
    .summary-separator {
        font-weight: normal;
    }
}

.btn-border-insights {
    border-radius: 8px;
    border: 4px solid #ccc;
    background: #f7fafc;
    color: #333;
}

.multi-button {
  .btn-group {
      border-radius: 8px;
      border: 4px solid #ccc;
      background: #f7fafc;
  }

  .btn {
      background: #f7fafc;
      color: #333;
      font-weight: 100;
      line-height: 1;
      font-size: 0.875rem;
      padding: 0.375rem 0.75rem;
      text-transform: uppercase;
      background-image: none;
      border: none;
      outline: none;
  }

  .btn.active {
      background: #949794;
      color: #e4e4e4;
      border: none;
      outline: none;
  }

  .btn:first-child {
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;
      border-left: none;
  }

  .btn:last-child {
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;
  }
}

.no-action {
    @extend .fa-check-circle;
    color: green;
}

.yes-action {
    @extend .fa-exclamation-circle;
    color: red;
}

.all-category-icon {
    @extend .icon-circle;
}

.availability-category-icon {
    @extend .icon-circle;
    @extend .availability;
}

.stability-category-icon {
    @extend .icon-circle;
    @extend .stability;
}

.performance-category-icon {
    @extend .icon-circle;
    @extend .performance;
}

.security-category-icon {
    @extend .icon-circle;
    @extend .category;
}

.All-severity-icon {
}
.INFO-severity-icon {
    @extend .i-info;
    @extend .fa-info-circle;
}
.WARN-severity-icon {
    @extend .i-warning;
    @extend .fa-warning;
}
.ERROR-severity-icon {
    @extend .i-error;
    @extend .fa-times-circle;
}

.all-rule-state-icon {
    @extend .fa-circle
}

.active-rule-state-icon {
    @extend .fa-circle;
    color: green;
}

.needs-content-rule-state-icon {
    @extend .fa-circle;
    color: orange;
}

.inactive-rule-state-icon {
    @extend .fa-circle;
    color: red;
}

.retired-rule-state-icon {
    @extend .fa-circle;
    color: gray;
}

//.platform-filters {
//    background-color: black;
//    padding: 0 30px 30px 30px;
//    margin-left: -30px;
//    margin-right: -30px;
//
//    .row-short {
//      margin-top: 0px;
//      margin-top: 0px;
//    }
//
//    h3 {
//        color: white !IMPORTANT;
//        margin-bottom: 0px;
//        margin-top: 30px;
//    }
//}

.platform-filters > .row > .col-md-4:nth-child(4n+1) {
    clear: both;
}

.environment-filters {
}
