.flexgrid {
	.gray {
		@include rem('padding', $global-padding);
		background: $gray-light;
	}

	.row {
		@include rem('margin-left', -15px);
		@include rem('margin-right', -15px);

    &:before, &:after {
      display: none;
    }
	}

	[class^="col-"], div[class*=" col-"] {
		margin-top: 0;
		@include rem('padding-left', $global-padding);
		@include rem('padding-right', $global-padding);
		@include rem('padding-bottom', $global-padding);
		float: none;

    @include media-query(sm-max) {
      width: 100%;
    }

		@include media-query(xs-max) {
			flex-basis: 100%;
			max-width: 100%;
		}

		@include media-query(sm) { @include rem('padding-bottom', $global-margin); }
	}

	.content {
		@include media-query(sm) {
			height: 100%;
			overflow: hidden;
		}
	}
	&.equalheights { .content { height: 100%; } }

  &.equalheights .card {
    height: 100%;
  }
}