.i-info { color: #11baf2 }
.i-warning { color: #ff7f0e; }
.i-error { color: #ed1c24; }

.i-mute { color: #CACACA; }

i.fa.category-icon {
  font-family: 'FontAwesome';


  &.stability:before { content: "\f1b3";  }
  &.security:before { content: "\f132";  }
  &.availability:before { content: "\f13e"; }
  &.performance:before { content: "\f0e4"; }
}

i.fa.fa-bullseye {
  color: $red;
}

img.icon {
  @include rem('width', 14px);

  &.icon-small {
    @include rem('width', 12px);
    @include rem('height', 12px);
  }

  &.icon-med {
    @include rem('width', 18px);
    @include rem('height', 18px);
  }

  &.icon-large {
    @include rem('width', 24px);
    @include rem('height', 24px);
  }

  &.icon-xlarge {
    @include rem('width', 34px);
    @include rem('height', 34px);
  }
}

.icon-circle {

    .content-block .header & {
        margin-top: 0;
    }

    &.availability {
        border-color: $availability-color;
    }
    &.performance {
        border-color: $performance-color;
    }
    &.security  {
        border-color: $security-color;
    }
    &.stability  {
        border-color: $stability-color;
    }

    &.icon-circle-large {
        width: 18px;
        height: 18px;
    }
}

.inline-right {
  margin-right: 4px;
}

.inline-left {
    margin-left: 4px;
}

.availability-color {
    color: $availability-color;
}

.performance-color {
    color: $performance-color;
}

.security-color {
    color: $security-color;
}

.stability-color {
    color: $stability-color;
}

.ansible-icon img, .ansible-icon-white img {
    width: 14px;
    height: auto;
}

h2 .ansible-icon img, h2 .ansible-icon-white img {
    width: 32px;
}

.yes-action {
    @extend .fa-exclamation-circle;
    color: red;
}

.no-action {
    @extend .fa-check-circle;
    color: green;
}

.all-category-icon {
    @extend .icon-circle;
}

.availability-category-icon {
    @extend .icon-circle;
    @extend .availability;
}

.stability-category-icon {
    @extend .icon-circle;
    @extend .stability;
}

.performance-category-icon {
    @extend .icon-circle;
    @extend .performance;
}

.security-category-icon {
    @extend .icon-circle;
    @extend .category;
}

.All-severity-icon {
}
.INFO-severity-icon {
    @extend .i-info;
    @extend .fa-info-circle;
}
.WARN-severity-icon {
    @extend .i-warning;
    @extend .fa-warning;
}
.ERROR-severity-icon {
    @extend .i-error;
    @extend .fa-times-circle;
}

.all-rule-state-icon {
    @extend .fa-circle
}

.active-rule-state-icon {
    @extend .fa-circle;
    color: green;
}

.needs-content-rule-state-icon {
    @extend .fa-circle;
    color: orange;
}

.inactive-rule-state-icon {
    @extend .fa-circle;
    color: red;
}

.retired-rule-state-icon {
    @extend .fa-circle;
    color: gray;
}

.vulnerability-icon{
  color: $blue-light;
  @include font-size(20px);
  @include rem('padding', 0px 10px);
}
