.i-info { color: #11baf2 }
.i-warning { color: #ff7f0e; }
.i-error { color: #ed1c24; }

.i-mute { color: #CACACA; }

i.fa.category-icon {
  font-family: 'FontAwesome';


  &.stability:before { content: "\f1b3";  }
  &.security:before { content: "\f132";  }
  &.availability:before { content: "\f13e"; }
  &.performance:before { content: "\f0e4"; }
}

i.fa.fa-bullseye {
    color: red;
}

img.icon {
  @include rem('width', 14px);

  &.icon-small { @include rem('width', 12px); }
  &.icon-med { @include rem('width', 18px); }
  &.icon-large { @include rem('width', 24px); }
  &.icon-xlarge { @include rem('width', 34px); }
}

.icon-circle {

    .content-block .header & {
        margin-top: 0;
    }

    &.availability {
        border-color: $availability-color;
    }
    &.performance {
        border-color: $performance-color;
    }
    &.security  {
        border-color: $security-color;
    }
    &.stability  {
        border-color: $stability-color;
    }

    &.icon-circle-large {
        width: 18px;
        height: 18px;
    }
}

.icon-inline, .inline-right {
  margin-right: 4px;
}

.inline-left {
    margin-left: 4px;
}

.availability-color {
    color: $availability-color;
}

.performance-color {
    color: $performance-color;
}

.security-color {
    color: $security-color;
}

.stability-color {
    color: $stability-color;
}

.ansible-icon img, .ansible-icon-white img {
    width: 14px;
    height: auto;
}

h2 .ansible-icon img, h2 .ansible-icon-white img {
    width: 32px;
}

.icon-inline {
  position: relative;
  @include rem('padding-left', 18px);

  i,
  img.icon {
    position: absolute;
    left: 0;
  }

  img.icon {
    transform: translateY(25%);
  }
}

.icon-inline-right {
  position: relative;
  @include rem('padding-right', 18px);
  display: block;

  i {
    position: absolute;
    right: 0;
  }

  table & {
    @include rem('padding-right', 22px);
    i { top: 2px; }
  }
}



h1, h2, h3, h4, h5, h6 { &.icon-inline, .icon-inline { i { top: 4px; } } }
h1 { &.icon-inline, .icon-inline { @include rem('padding-left', 30px); } }
h2 { &.icon-inline, .icon-inline { @include rem('padding-left', 32px); } }
h3 { &.icon-inline, .icon-inline { @include rem('padding-left', 24px); } }
h4 { &.icon-inline, .icon-inline { @include rem('padding-left', 22px); } }
h5, h6 { &.icon-inline, .icon-inline { @include rem('padding-left', 18px); } }
