.list-switch {

  .link {
    color: $gray;
    @include font-size(24px);
    line-height: 1;
    @include rem('padding', 2px $global-padding/2);
    @include transition(.2s);

    &:hover, &.active {
      color: $gray-med;
    }
  }

  .link + .link {
    @include media-query(sm) {
    	@include rem('margin-right', -$global-padding/2);
    }
  }
}