.masthead {

	@include media-query (sm) { text-align: left; }

	.logo {
		height: 28px;
		display: inline-block;

		@include media-query (xs) {
			float: left;
			display: block;
		}

		img {
			width: auto;
			height: 100%;
		}
	}

	.utility-nav { @include media-query (xs) { float: right; } }

	.primary-nav {
		float: left;

		@include media-query (md) { float: right; }
	}

	h1 {
		@include rem('margin', 20px 0 0);
		float: left;
		color: #fff;
		font-weight: 700;
		@include font-size(22px);
		line-height: 1;
	}

	.btn-navbar {
		@include rem('margin-top', 20px);
		float: right;
	}

	.toolbar-container { z-index: 9999; }
}


.site-section-title {
	@include rem('margin-top', 30px);
	@include rem('margin-bottom', 20px);

	h1 {
		@include font-size(42px);
		line-height: 1;
		color: #fff;
		font-weight: 700;
	}
}
