$md-card-header-bg: $gray;

// Button and Inputs
.md-button {
	width: auto;
  height: auto;
  @include rem('padding', $global-padding);
  min-width: 0;
  min-height: 0;
  color: $base-color;
  @include font-size(14px, 1);
  @include rem(padding, $global-padding);
  text-transform: none;
  align-items: center;
  justify-content: center;
}

md-menu-item {
	min-height: 0;
	height: auto;
}

md-menu-item > a.md-button,
md-menu-item > .md-button {
	width: 100%;
  height: auto;
  @include rem('padding', $global-padding);
  min-width: 0;
  min-height: 0;
  color: $base-color;
  @include font-size(14px, 1);
  text-transform: none;
  align-items: center;
  justify-content: center;
}

md-icon {
	min-width: 0;
	min-height: 0;
	height: auto;
}

md-card {
	@include reset;
	color: $base-color;
	// box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 3px 0px, rgba(0, 0, 0, 0.14) 0px 1px 1px 0px, rgba(0, 0, 0, 0.12) 0px 2px 1px -1px;

}

button.md-button.md-button-sm, a.md-button.md-button-sm{
	// height: 20px !important;
}

.md-dropdown-plain {
	.md-button.md-default-theme:not([disabled]).md-focused, 
	.md-button:not([disabled]).md-focused, 
	.md-button.md-default-theme:not([disabled]):hover, 
	.md-button:not([disabled]):hover {
		background: none;
	}

	button {
		margin: 0;
		@include rem('padding', 4px $global-padding/2);
		display: inline-flex;

		i,
		.icon,
		.caret {
			flex: 0;
			@include rem('margin-left', $global-padding/2);
		}
	}
}


button.md-button.md-button-ghost-blue{
	border: 1px solid $blue-light;
}

button.md-button.md-button-ghost-gray{
	border: 1px solid $black-base;
}

md-checkbox {
  .md-icon { transform: scale(.75); }
  .md-checked{
  	background-color: #585858;
  }
}

md-checkbox.md-checkbox-list { margin: 0px; }


// Toast
.stickyToast {
	position: fixed;
	margin: 25px;
	&.fail{
		.md-toast-content {
			background: $red;
			color: white;
			font-weight: 600;
		}
	}
	&.success{
		.md-toast-content {
			background: $green;
			color: white;
			font-weight: 600;
		}
	}
}


// Cards
.md-titlecard{
	@include rem('margin-top', 40px);
	@include rem('margin-bottom', 40px);
}

.md-side-padding{
	@include rem('padding-left', 15px);
	@include rem('padding-right', 15px);
}

.md-vertical-padding{
	@include rem('padding-top', 15px);
	@include rem('padding-bottom', 15px);
}

md-card.md-default-theme {
	
}

md-card{

	.md-card-header-title{
		i { @include rem ('padding-right', 5px);}
	}

	.md-card-header-cta{
	}

	md-card-header.two-columns { 
		display: flex; 
		div:first-of-type { flex: 0 0 50%; }
		div:nth-of-type(2) { flex: 1; }
	}

	md-card-content.two-columns { 
		display: flex; 
		div:first-of-type { flex: 0 0 50%; }
		div:nth-of-type(2) { flex: 1; }
	}
}
	
md-card-header {
	@include font-size(16px);
	font-weight: 700;	
	border-bottom: 1px solid $gray-border;
	display: flex;
	justify-content: space-between;
	align-items: center;
	@include rem('padding', $global-padding);

	// md-button{
	// 	size: 50%;
	// }
}

md-card-header.gray { background: $gray-light; }

.md-card-invert{
	md-card-header{ background-color: white; }
	md-card-content { background-color: $white-soft; }
}

// Dropdown styling
//==================================================================*/
md-menu-content{}

md-open-menu-container {

}


// Swiping
.demo-swipe { padding: 40px; }

.no-select {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }


// Code Markup
.code-terminal{
	background-color: black;
	color: white;
	@include rem('padding-left', 10px);
}

.code-type{
	font-family: 'overpassBold';
	&-jade::before{
		content: "Jade";
		color: yellow;
		text-decoration: underline;
	}
	&-js::before{
		content: "Javascript";
		color: lightblue;
		text-decoration: underline;
	}
}

// Other Includes
.md-no-margin{ margin: 0px }
