$md-card-header-bg: $gray;

.md-sidenav-backdrop {
  height: 100%;
}

// md-backdrop {
//   @include media-query(sm){
//     display: none;
//   }
// }

md-card.accordion.expanded,
card.accordion.expanded {
  margin: 0;
}

md-menu-item > .md-button,
md-menu-item > a.md-button,
md-menu-item > a {
	width: 100%;
  height: auto;
  min-width: 0;
  min-height: 0;
  @include rem('padding', $global-padding);
  margin: 0;
  
  display: flex;
  text-transform: none;
  align-items: center;
  justify-content: space-between;

  color: $base-color;
  @include font-size(14px, 1);
  box-shadow: none;
  border: none;
}

md-menu-item.selected {
  background: #f5f5f5;
}


// Handle sibling icon + span
md-menu-item span + i {

}

md-icon {
	min-width: 0;
	min-height: 0;
  @include rem('width', 20px);
	height: auto;
}

.md-card-invert{
  md-card-header{ background-color: white; }
  md-card-content { background-color: $white-soft; }
}

button.md-button.md-button-sm, a.md-button.md-button-sm{
	// height: 20px !important;
}

.md-button.fab {
  border-radius: 50px;
  padding: 10px;
  span a.dropdown-toggle { padding: 0; }
}

.md-button.fab + .md-button.fab {
  @include rem('margin-left', 5px);
}

.md-dropdown-plain {
	.md-button.md-default-theme:not([disabled]).md-focused, 
	.md-button:not([disabled]).md-focused, 
	.md-button.md-default-theme:not([disabled]):hover, 
	.md-button:not([disabled]):hover {
		background: none;
	}

	button {
		margin: 0;
		@include rem('padding', 4px $global-padding/2);
		display: inline-flex;

		i,
		.icon,
		.caret {
			flex: 0;
			@include rem('margin-left', $global-padding/2);
		}
	}
}


button.md-button.md-button-ghost-blue{
	border: 1px solid $blue-light;
}

button.md-button.md-button-ghost-gray{
	border: 1px solid $black-base;
}

md-checkbox {
  min-width: 0;
  .md-icon { transform: scale(.75); }
  .md-checked{
  	background-color: #585858;
  }
}

md-checkbox.md-checkbox-list { margin: 0px; }


// Toast
.stickyToast {
	position: fixed;
	margin: 25px;
	&.fail{
		.md-toast-content {
			background: $red;
			color: white;
			font-weight: 600;
		}
	}
	&.success{
		.md-toast-content {
			background: $green;
			color: white;
			font-weight: 600;
		}
	}
}

// Dropdown styling
//==================================================================*/

// Swiping
.demo-swipe { padding: 40px; }

md-content{
  background: none;
}

.no-select {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }


// Code Markup
.code-terminal{
	background-color: black;
	color: white;
	@include rem('padding-left', 10px);
}

.code-type{
	font-family: 'overpassBold';
	&-jade::before{
		content: "Jade";
		color: yellow;
		text-decoration: underline;
	}
	&-js::before{
		content: "Javascript";
		color: lightblue;
		text-decoration: underline;
	}
}

// Other Includes
.md-no-margin{ margin: 0px }

.md-disabled{
  background: $bg-disabled !important;
  color: $f-disabled !important;
  i { color: $f-disabled !important; }
}


.gradient-test{
  width: 200px;
  height: 200px;
  @include hue-map(0,50,90);
}
