md-tabs {
  margin-top: 0;
  margin-bottom: 0;
}

md-tab-content .ins-p-list-group {
  margin-top: $global-margin;
  margin-bottom: 0;
  padding: 0;
  background: none;
}

.card-pf-view-tabs > .ins-c-card {
  grid-template-rows: auto;
}