$messaging-menu-color: $gray-dark;
$messaging-menu-bg: $gray-light;
$messaging-menu-border-color: $gray-border-med;



.messaging-menu {
	background: $messaging-menu-bg;
	border: 1px solid $messaging-menu-border-color;

	.heading {
		position: relative;
 		@include rem('padding', $global-padding);
		border-bottom: 1px solid $messaging-menu-border-color;
	}

	.heading.heading-w-profile-image {
		@include rem('padding', 25px 15px 28px 94px);

		.profile-image {
			top: -10px;
			left: -22px;
			width: 100px;
			height: 100px;
			border-color: #fff;
			@include box-shadow(0 2px 12px 0px rgba(0,0,0,.2));
		}
	}


	nav {
		ul {

		}

		li {
			font-weight: 700;
		}

		li + li { border-top: 1px solid $messaging-menu-border-color; }

		a {
			display: block;
 			@include rem('padding', $global-padding/1.5 $global-padding/2);
			color: $messaging-menu-color;
		}

		a:hover {
			background: #fff;
		}

		.count {
			display: inline-block;
			float: right;
			@include rem('padding', 4px 8px);
			margin-top: -4px;
			background: $gray-dark;
			color: #fff;
			@include border-radius(12px);

			&.unread {
				background: $blue;
			}
		}

	}

	i + span {
		@include rem('margin-left', 6px);
	}
}