.page-header {
  //display: flex;
  position: relative;
  margin: 0;
  @include rem ('padding', $global-margin);
  border-bottom: 1px solid #d1d1d1;

  &::before {
    width: 25vw;
    height: 1px;
    min-width: 200px;
    background: $gray-lite;
  }

  &::after {
      background: $warn;
      height: 4px;
      width: 40px;
  }
}

.page-header .page-title h1 {
  display: flex;
  margin: 0;
  @include font-size(18px, 23px);

  @include media-query(md){ @include font-size(24px, 1); }

  i { margin-right: $global-padding/2; }
}

.page-header .page-subtitle {
  color: $gray-md;
  @include rem('margin-top', 10px);
  span + span { @include rem("margin-left", 20px); }
  dl { margin-bottom: 0; }
}
