/* ==================================================================
/* List component
/* ================================================================== */
/**
 * This document defines the styling for the list component
**/


/* Vars
/* ================================================================== */
:root {
  --ins-pagination--Padding:           #{$ins-global--spacer--lg};
}

$pagination-gray-color: #c6c6c6;
$pagination-gray-background: #c6c6c6;
$pagination-width: 16px;
$pagination-height: $pagination-width;
$pagination-blue-color: #0088ce;
$pagination-blue-background: #0088ce;

.pagination {
  display: flex;
  margin: 0;
  padding: var(--ins-pagination--Padding);

  > *:first-child {
    margin-left: auto;
  }
}

.pagination {

	a {
		font-weight: 700;
		border-radius: 0 !important;
	}
}

.pagination.pagination-gray {
	color: $pagination-gray-color;

	a { color: $pagination-gray-color; }
	a:hover { color: #444444; }

	.active > a,
    .pager-current > a,
	a:focus {
		color: #fff;
		background-color: $pagination-gray-background;
		border-color: $pagination-gray-background;
	}
}

.pagination.pagination-blue {
    color: $pagination-gray-color;

    a { color: $pagination-blue-color; }
    a:hover {
        background-color: #646464;
        color: white;
    }

    .active > a,
    .pager-current > a,
    a:focus {
        color: #fff;
        background-color: $pagination-blue-background;
        border-color: $pagination-blue-background;
    }
}

ul.pagination.pagination-dots {

  margin: 0;
  display: block;
  text-align: center;

  > li { display: inline-block; }
  > li:not(.active) > a {
    background: $pagination-gray-background;
    border-color: darken($pagination-gray-background, 20)
  }

  li {
    margin: 0 4px;
  }

  li a {
    width: $pagination-width;
    height: $pagination-height;
    margin: -1px;
    padding: 0;
    display: block;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    border-radius: 50% !important;
    cursor: default;
  }

  &>.disabled>span,
  &>.disabled>span:hover,
  &>.disabled>span:focus,
  &>.disabled>a,
  &>.disabled>a:hover,
  &>.disabled>a:focus {
    border-color: #888;
    background: #F2F5F7;
  }

  .modal-content {
    &:hover {
      cursor: auto;
    }
  }
}
