.pager {

}

.modal .pager {
  margin: 0 -30px;
}

.pager.pager-steps {
  padding: 0;
  text-align: left;

  li {
    display: inline-block;
    width: 50%;
    text-align: center;
  }

  li a {
    display: block;
    width: 100%;
  }

  .btn{
    @include rem('padding', $global-padding);
    text-transform: none;
  }

  .btn.next,
  .btn.prev,
  .btn.save, 
  {
    background: $blue;
    &:hover { background: darken($blue, 10); }
  }

  .btn.cancel{
    @extend .btn-open;
  }
}

.card-group{
  .prev, .next{ height: 50%; }
}