.page-header {
  position: relative;
  @include rem ('margin', 0 $global-margin);
  @include rem ('padding', $global-margin 0);
  border: none;

  &::before,
  &::after {
    content:"";
    position: absolute;
    bottom: 0;
    left: 0;
  }

  &::before {
    width: 25vw;
    height: 1px;
    min-width: 200px;
    background: $gray-lite;
  }

  &::after {
      background: $warn;
      height: 4px;
      width: 40px;
  }
}

.page-header .page-title .sub-title {
  @include rem('margin-bottom', $global-padding/2);
  display: block;
  color: #8b8d8f;
  text-transform: uppercase;
}

.page-header .page-title h1 {
  display: flex;
  margin: 0;
  @include font-size(18px, 23px);

  @include media-query(md){ @include font-size(24px, 1); }

  i { margin-right: $global-padding/2; }
}
