$pagination-gray-color: #c6c6c6;
$pagination-gray-background: #c6c6c6;

.pagination {


	a {
		font-weight: 700;
		border-radius: 0 !important;
	}
}

.pagination.pagination-gray {
	color: $pagination-gray-color;

	a { color: $pagination-gray-color; }
	a:hover { color: #444444; }

	.active > a,
    .pager-current > a,
	a:focus {
		color: #fff;
		background-color: $pagination-gray-background;
		border-color: $pagination-gray-background;
	}
}
