.card-pf,
.card-pf-heading,
.card-pf-body,
.card-pf-footer {
  @include reset;
}

.card-pf-heading,
.card-pf-body,
.card-pf-footer {
  background: none;
  border: none;
}

.card-pf {
  display: grid;
  grid-gap: var(--global-margin);
  padding: var(--global-margin);
  margin: 0;
}

/* Card heading
/* ================================================================== */
.card-pf .card-pf-heading {
  @include reset;
}

.card-pf .card-pf-heading .card-pf-title {
  margin: 0;
  margin-top: 0;
  @include font-size(20px);  
}

.card-pf-heading.no-border {
  border: none;
  @include reset;
}


/* Card body
/* ================================================================== */
.card-pf-body {
  @include build-grid(grid-gap var(--global-margin));
}


.card-pf.text-center {
  text-align: center;
}

.card-pf.text-left {
  text-align: left;
}

.card-pf .card-pf-item {
  @include font-size(14px, 1);
}


.card-pf-footer {
  margin-top: auto !important;
}