.insights-app-admin-rules, .insights-app-edit-rule, .insights-app-show-rule, .insights-app-admin-rule-tags {

    // tag selector
    tags-input .tags li.tag-item {
        color: white;
        background: none;
        background-color: $blue_dark;
    }

    div.tooltip-inner {
        text-align: left;
        max-width: 400px;
        white-space: pre-line;
    }

    ul.rule-tags {
        padding-left: 0px;

        li.tag {
            margin: 2px;
            padding: 0 5px;
            display: inline-block;
            height: 26px;
            line-height: 25px;
            border: 1px solid #acacac;
            border-radius: 3px;
            background-color: $blue_dark;

            a {
                color: white;
                padding: 0px 2px;
                text-decoration: none;
            }
        }
    }

    button.form-control,
    .ui-select-toggle {
        height: 34px;
    }
}

.insights-app-admin-rules {
    i.severity.fa {
        font-size: 14px;
    }
    td.count {
        text-align: right;
        padding-right: 20px;
    }
    tags-input .host {
        margin-top: 0
    }
    .vertical {
        writing-mode: vertical-lr;
    }
}

.insights-app-admin-rules, .insights-app-edit-rule {


}

.insights-app-admin-rule-tags {

    textarea.description {
        width: 100%;
        height: 200px;
    }

    p.description {
        white-space: pre-line;
    }
}

.rule-inactive {
  margin-top: -3px;
  opacity: 1;
}

.rule-active {
  margin-top: -3px;
  opacity: 0;
}

.rule-margin {
    margin-right: 4px;
}


.rule.content-block.faded {
  .header,
  .content,
  .footer {
    background-color: #F5f5f5;
    @include opacity(.7);
  }
}

.rule.content-block .footer .flexgrid {
  [class^="col-"],
  div[class*=" col-"] {
    padding-bottom: 0;
    align-self: center;
  }
}