.severity-icon {

  &.severity i.low { background-image: url('../images/i_low-bordered.svg'); }
  &.severity i.med { background-image: url('../images/i_med-bordered.svg'); }
  &.severity i.high { background-image: url('../images/i_high-bordered.svg'); }
  &.severity i.critical { background-image: url('../images/i_critical-bordered.svg'); }
  &.severity i {
    width: 24px;
    height: 28px;
  }

  &.likelihood,
  &.impact {
    i { background-position: center 4px; }
  }

  i {
    width: 24px;
    height: 28px;
    display: inline-block;
    background-repeat: no-repeat;
    background-position: center center;

    &.low { background-image: url('../images/i_low.svg'); }
    &.med { background-image: url('../images/i_med.svg'); }
    &.high { background-image: url('../images/i_high.svg'); }
    &.critical { background-image: url('../images/i_critical.svg'); }

    &.low,
    &.med,
    &.high {
    }

    &.unknown { text-align: center; }
    &.unknown:after {
      content: "\f05e";
      display: inline-block;
      font-family: 'FontAwesome';
      font-style: normal;
      color: #ccc;
      vertical-align: bottom;
    }
  }

  span + i {
    @include rem('margin-left', 6px);
  }

  .severity {
    font-weight: 700;
  }
}

table .severity-icon {
  &.likelihood,
  &.impact {
    i { background-position: center center; }
  }
}
