/* ==================================================================
/* Tabbed graphs
/* ================================================================== */
/**
 * This document defines the styling for the pmaas layout
**/

@include ins(card-tabs) {
  background: blue;
  @include build-grid(1fr 4fr);
}

.system-overview-graphs {

  .tabs-hack { height: 100%; }

  .machine-learning-graphs-container {
    // this should be a flex grid, but the plotly graphs aren't resizing smaller when
    // resizing the screen smaller, only bigger. This will have to do for now

    .ml-graph {
      height: 240px;
      display: inline-block;
    }

    @include media-query(sm) {
      .ml-graph { width: 100%; }
    }

    @include media-query(lg) {
      .ml-graph { width: 50%; }
    }

    @include media-query(xl) {
      .ml-graph { width: 33%; }
    }
  }
}

.peer-ranking {
  display: block;

  .percentile-title {
    @include rem('padding', $global-padding)
  }

  .percentile-container {
    display: block;

    .percentile { display: inline-block; }

    .pficon-trend-down { color: #C80000; }

    .pficon-trend-up { color: #5cb85c; }
  }

  .peer-ranking-overview {
    @include rem('width', 240px);
    @include rem('height', 240px);
    @include font-size(20px);
    @include rem('padding', $global-padding);
    @include rem('margin-right', $global-padding);
    @include rem('margin-bottom', $global-padding);
    border: solid 1px lightgrey;
    box-shadow: 0 1px 1px rgba(3, 3, 3, .175);
    display: inline-block;
    vertical-align: top;

    .percentile { @include rem('padding', $global-padding); }

    h1.percentile-number {
      @include font-size(46px);
      margin-bottom: 0;
      margin-top: 0;
    }

    .percentile-container .percentile-trend {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    .scan-info {
      font-size: 14px;
      @include rem('padding', 0 $global-padding);
    }
  }

  @include media-query(sm) {
    .peer-ranking-graph {
      width: 100%;
      display: block;
    }
  }

  @include media-query(xl) {
    .peer-ranking-overview {
      display: inline-block;
    }

    .peer-ranking-graph {
      width: calc(100% - 600px);
      display: inline-block;
    }
  }
}



.ins-l-peer-ranking {
  @include build-grid(lg max-content 1fr 1fr);
  padding: 0;

.ins-l-peer-ranking-overview {
  width: max-content;
  // height: fit-content;
}


  .ins-l-peer-ranking-detail {
  
   > * {
     flex-basis: calc(100% - #{$flex-gutter)});
  
     @include media-query(sm) { flex-basis: calc(50% - #{$flex-gutter)}); }
     @include media-query(xl) { flex-basis: calc(33.33% - #{$flex-gutter)}); }
     @media screen and (min-width: 1550px) { flex-basis: calc(25% - #{$flex-gutter)}); }
   }
  }
}
