/* ==================================================================
/* Tabbed graphs
/* ================================================================== */
/**
 * This document defines the styling for the pmaas layout
**/

@include ins(card-tabs) {
  background: blue;
  @include build-grid(1fr 4fr);
}

.system-overview-graphs {

  .tabs-hack {
    height: 100%;
  }

  .machine-learning-graphs {
    display: inline-flex;
    align-items: center;
    height: 100%;
  }
}

// .page-system-overview{
//   md-tabs { margin: 0; }
//   .list-group {
//     padding: 0;
//     margin-top: 0;
//   }
//   .list-group-item {
//     &:first-of-type{ border-top: none; }
//   }

//   .icon-inline { @include rem('margin-top', 5px); }
// }

// .summary-tabs {
//   @include rem ('margin-top', 15px);
// }

// .card-pf-view-tabs{
//   .card-pf-body { @include rem('padding', 15px 30px 30px 30px); }
// }

.peer-ranking {
  display: flex;

  .percentile-container {
    vertical-align: top;

    .percentile {
      display: inline-block;
      vertical-align: top;
    }

    .percentile-label {
      padding-top: 45px;
    }

    .percentile-trend {
      .pficon-trend-down {
        color: #C80000;
      }

      .pficon-trend-up {
        color: #5cb85c;
      }
    }
  }

  .peer-ranking-overview,
  .peer-ranking-detail {
    &.good-rank {
      border-top: solid 3px #5cb85c;
    }
    &.warning-rank {
      border-top: solid 3px #f0ad4e;
    }
    &.danger-rank {
      border-top: solid 3px #C80000;
    }
  }

  .peer-ranking-overview {
    text-align: left;
    width: 350px;
    height: 220px;
    font-size: 20px;
    padding: 15px;
    border: solid 1px lightgrey;
    box-shadow: 0 1px 1px rgba(3, 3, 3, .175);
    display: inline-block;

    .percentile {
      padding: 10px;
    }

    h1.percentile-title {
      font-size: 46px;
    }

    .percentile-container .percentile-trend {
      padding-top: 45px;
    }

    .scan-info {
      font-size: 14px;
      margin: 0 auto;
      padding: 10px;
    }
  }

  .peer-ranking-detail-container {
    width: 100%;
  }

  .peer-ranking-detail {
    display: inline-block;
    height: 100px;
    width: 180px;
    margin-left: 20px;
    margin-bottom: 20px;
    padding: 20px;
    border: solid 1px lightgrey;
    box-shadow: 0 1px 1px rgba(3, 3, 3, .175);
    .percentile {
      padding: 5px;
    }

    .percentile-label {
      h2 {
        margin-bottom: 0;
      }
    }

    h1.percentile-title {
      margin: 4px 0 0 0;
    }

    .percentile-trend {
      padding-top: 0;
      p {
        margin-bottom: 0;
      }
    }
  }
}

//
//.ins-l-peer-ranking {
//  @include build-grid(sm max-content 1fr);
//  padding: 0;
//
//  .ins-l-peer-ranking-overview {
//    width: auto;
//    height: fit-content;
//  }
//
//
//  .ins-l-peer-ranking-detail {
//    @include reset;
//    @include build-grid(grid-gap $global-margin);
//    padding: 0;
//
//    @include media-query(sm) {
//      grid-template-columns: repeat(2, auto);
//    }
//
//    @include media-query(lg) {
//      grid-template-columns: repeat(4, 1fr);
//    }
//    margin: 0;
//
//    > * {
//      margin: 0;
//      // padding: 0;
//    }
//  }
//}
