label { color: #515258; }
table input[type="checkbox"] + span { margin-left: 10px; }

.intro {
	font-weight: 300;
	@include font-size(18px, 34px);

	em {
		font-weight: 700;
		color: #2c96cb;
	}
}

table.table-break {
  table-layout: fixed;
  width: 100%;

  td {
    //word-wrap: break-word;         /* All browsers since IE 5.5+ */
    //overflow-wrap: break-word;
  }
  
  td.hostname, th.hostname {
    display: table-cell;
    width: 50%;
    text-overflow: ellipsis;
    overflow: hidden;
  }
}

table a, table a:link { @extend %font_blue; }

.error-infos {

	td {
		@include rem('padding', 14px);
		word-break: break-all;
		@include font-size(11px);
	}

	.plugin { width: 180px; }
	.key { max-width: 250px; }
	.cat { word-break: normal; }
	.sev { word-break: normal; }
	.ct { max-width: 56px; }
	.td-wrap { position: relative; }

	.desc {
		max-width: 170px;
		word-break: normal;
	}

	.util {
		padding-top: 0;
		padding-bottom: 0;
	}

	.td-wrap {
		width: 20px;
		height: 20px;
		float: right;
	}
}

table.scroll {
	position: relative;

	thead { background: #fff; }

	tbody {
		position: relative;
		max-height: 200px;
		display: block;
		width: 100%;
		overflow-y: scroll;
		overflow-x: hidden;

		tr {
			display: table;
			width: 100%;
		}
	}

	&:after {
		content: '';
		position: absolute;
		width: 100%;
		height: 34px;
		background: #646464;
	}
}


$sortable_border_width: 6px;
$sortable_border_color: gray;
$sortable_border_color_active: red;

.sortable {
	padding-right: 12px;
	position: relative;

	&:hover {
		cursor: pointer;
	}

	.carets {
		position: absolute;
		right: 8px;
		top: 12px;

		&:before, &:after {
			content: '';
			position: absolute;
			@include opacity(.4);
			@include transition(.15s);
			border-left: $sortable_border_width solid transparent;
			border-right: $sortable_border_width solid transparent;
		}

		&:before {
			top: 2px;
			border-bottom: $sortable_border_width solid $sortable_border_color;
		}

		&:after {
			top: 10px;
			border-top: $sortable_border_width solid $sortable_border_color;

			.sortable-active & {

			}
		}
	}

	&.sortable-active {
		.carets {

			&:before {
				@include opacity(.2);
				border-bottom-color: $sortable_border_color_active;
			}
			&:after {
				@include opacity(1);
				border-top-color: $sortable_border_color_active;
			}
		}
	}

	&.sortable-active.sortable-dsc {
		.carets {
			&:before { @include opacity(1); }
			&:after { @include opacity(.2); }
		}
	}
}

.filters-table {
	@include rem('padding', 8px);
	color: #9a9b9c;

	.select-all {
		@include rem('margin-top', 6px);
	}

	.dropdown-select { margin-left: 5px; }
}

.table-groups {
	tbody tr td {
		padding: 0;
	}

	label {
		display: block;
		cursor: pointer;
		padding: 8px;
		margin: 0;
		span {
			font-weight: 500;
		}
	}
}

.table.no-header tr:first-child td {
	border-top: 1px solid #ececec;
}

.table.table-separated {
	margin: 0;
	border: none;
	border-collapse: separate;

	.action-count span {
		@include rem('padding', 4px 8px);
		background: $gray-dark;
		color: #fff;
		border-radius: 6px;
		font-weight: 700;

	}

	.count {
		padding-left: 0;
		padding-right: 0;
	}

	.count span {
		//@include rem('padding', 6px);
		width: 20px;
		height: 20px;
		display: inline-block;
		font-weight: 700;
		text-align: center;
		background: #85D000;
		color: #fff;
	}

  thead th {
    font-weight: 700;
  }

  thead.lite th {
    font-weight: 100;
  }


	thead {
        th, td, tr {
          border: none;
        }
	}

	tr {

	}

	a.link {
		color: #fff;
		text-decoration: underline;
	}

	&.error {

		.dismiss {
			min-width: 30px;
			color: #fff;
			text-align: center;
			background: #960006;
			vertical-align: middle;
			@include transition(.2s);

			&:hover {
				cursor: pointer;
				background: lighten(#960006, 5);
			}
		}

		.action-count span {
			background: #fff;
			color: $red;
		}

		.count span {
			background: $red;
			color: #fff;
		}

		thead {
			tr {

			}
		}

		tbody {

			tr {
				color: #fff;
				background: $red;
			}

			td {

			}
		}

	}
}

.table-separated + .table-separated { @include rem('margin-top', $global-margin); }

table.meta-table {

	.uuid {
		@include font-size(12px);
		letter-spacing: 0;
		@include rem('margin-bottom', 22px);
	}

	tbody{
		td {
			@include rem('padding', 6px 12px);
			border: 1px solid #ddd;
			@include font-size(12px);
			color: #5b5359;
			text-align: right;

		}

		td:first-child {
			background: #F2F5F8;
			color: #5b5359;
			text-align: right;
			width: 30%;

			@include media-query(md) {
				width: 40%;
			}
		}

		td:nth-child(even) {
			background: #fff;
			font-weight: 700;
		}
	}

	.detail {

		&:nth-child(even) {
			background: #eaeaea;
		}

		ul {
			@include rem('padding-left', 18px);
		}

		.heading {
			font-size: large;
			padding-bottom: 15px;
			padding-top: 15px;

			i { padding-right: .3em; }

			strong { padding-left: .3em; }
		}

		.center {
			text-align: center;
		}
	}
}
