.top-bar {
	@include rem('padding', 12px $global-padding);
  @include font-size(20px);
	background: #646464;

  span,
  strong { + i { @include rem('margin-left', 4px); } }

  i {
    & + span,
    & + strong { @include rem('margin-left', 4px); }
  }

  a { color: #fff; }

	.help {
    &.open>.dropdown-toggle.dropdown-toggle { background: rgba(0,0,0,.2); color: #fff; }

    .dropdown-toggle {
      color: #fff;
      background-color: transparent;
      @include rem('padding', 6px 8px);
    }

    .dropdown-menu {
      min-width: auto;
      left: auto;
      right: 0;
      padding-left: 0;
      top: auto;

      a { font-weight: 600; }
    }
	}

  .sep {
    color: #fff;

    &:before { content: '|'; }
  }

  .btn-feedback {
    color: $gray;
    text-align: left;
    @include rem('margin-bottom', $global-padding);

    @include media-query(sm) {
      position: absolute;
      bottom: 100%;
      left: 0;
      margin-bottom: 0;
      @include rem('padding', $global-padding $global-padding $global-padding 0);
      background: none;
    }

    &:hover { color: #fff; }
  }

  label {
    margin: 0;
    color: #fff;
    @include font-size(16px, 16px);
  }

  label + label,
  label + .dropdown,
  .dropdown + .dropdown {
    @include rem('margin-left', $global-padding/2);
  }

  button span { color: #333; }

  .dropdown {
    display: inline-block;
    text-overflow: ellipsis;

    @include media-query(sm) {
    	max-width: 80%;
    }

    button {
      max-width: 100%;
      //overflow: hidden;
      //text-overflow: ellipsis;
      word-wrap: normal;
      white-space: nowrap;
    }

    .text {
      display: inline-block;
    }

    .text.active {
      max-width: 95%;
      text-overflow: ellipsis;
      word-wrap: normal;
      overflow: hidden;
      vertical-align: middle;
    }
  }
}
