.insights-app-edit-topic {
  .form-control#tag {
    padding: 0;

    .host { margin: 0; }
  }

  .form-control.ui-select-match,
  ul.ui-select-choices { padding: 0; }

  .ui-select-toggle { height: 34px; }

  .form-group:not(.selected) .rule-list { opacity: 0.2; }

  form.form-horizontal input { width: inherit; }
}

.featured-topic .topic-card header { padding-bottom: 0; }

.topic-card.content-block {
  background: #fff;

  header h4 { margin-bottom: 0; }

  .affected-systems { color: $gray-dark; }

  footer {
    ul {
      display: inline;
      @include rem('margin-left', 6px);
      padding: 0;
    }
    ul li:after { content: ", "; }
    ul li:last-child:after { content: ""; }
  }
}

.other-topics { @include rem('padding-top', $global-padding); }

.other-topics .topic-card.content-block {
  background: #f2f5f7;
  height: 100%;

  header {
    @include rem('padding-bottom', $global-padding);
    background: #fff;

    h4 { margin-bottom: 0; }
  }
}

.topic-preview-modal {
  .modal-dialog {
    @include media-query (md) {
      width: 795px; // to match action pages
    }
    @include media-query (lg) {
      width: 959px; // to match action pages
    }
  }

  .modal-content { @include rem('padding', $global-margin); }

  table.sample-data-table {
    table-layout:fixed;

    td.rule-id { word-wrap: break-word; }
  }
}
