topbar {
  display: flex;
  align-items: center;
	@include rem('padding', $global-padding);
  @include font-size(16px);
	background: #646464;

  div label, topbar div a{ color: $gray-md; }

  span,
  strong { + i { @include rem('margin-left', 4px); } }

  i {
    & + span,
    & + strong { @include rem('margin-left', 4px); }
  }

  .notifications,
  .beta-switch {
    display: inline-block;
  }

  menu span + span { padding-left: 15px; }

  menu.notifications{ margin-right: 15px; }

  a { color: #fff; }

	.help, .beta-dropdown {
    &.open>.dropdown-toggle.dropdown-toggle { background: rgba(0,0,0,.2); color: $gray-md; }

    .dropdown-toggle {
      color: $gray-md;
      background-color: transparent;
      @include rem('padding', 6px 8px);
    }

    .dropdown-menu {
      min-width: auto;
      left: auto;
      right: 0;
      padding-left: 0;
      top: auto;

      a { font-weight: 600; }
    }
	}

  .sep {
    color: $gray-md;

    &:before { content: '|'; }
  }

  .topbar-left, .topbar-right { 
    display: flex;
    align-items: center;
  }
  .topbar-left { flex: 0 0 50%; }
  .topbar-right { 
    flex: 0 0 50%;
    justify-content: flex-end; 
  }
}

topbar {

  .btn-feedback {
    color: $gray;
    text-align: left;
    @include rem('margin-bottom', $global-padding);

    @include media-query(sm) {
      position: absolute;
      bottom: 100%;
      left: 0;
      margin-bottom: 0;
      @include rem('padding', $global-padding $global-padding $global-padding 0);
      background: none;
    }

    &:hover { color: #fff; }
  }

  .md-button{ text-transform: capitalize; }

  label {
    margin: 0;
    color: #fff;
    @include font-size(15px, 15px);
  }

  label + label,
  label + .dropdown,
  .dropdown + .dropdown {
    @include rem('margin-left', $global-padding/2);
  }

  .dropdown {
    display: inline-block;
    text-overflow: ellipsis;

    @include media-query(sm) {
    	max-width: 80%;
    }

    button {
      max-width: 100%;
      word-wrap: normal;
      white-space: nowrap;
    }

    .text {
      display: inline-block;
    }

    .text.active {
      max-width: 95%;
      text-overflow: ellipsis;
      word-wrap: normal;
      overflow: hidden;
      vertical-align: middle;
    }
  }
}
