.uber-sev {

  .sev-block {
    display: inline-block;
  }

  .sev-block + .sev-block {
    @include rem('margin-left', $global-padding);
  }

  .title, img {
    display: inline-block;
    vertical-align: bottom;
  }

  .title + img {
    @include rem('margin-left', 6px);
  }

  img {
    width: 20px;
    height: auto;
  }

  .title {
    line-height: .75;
  }

  &.bordered {
    border: 1px solid $gray;
    @include rem('padding', 8px $global-padding $global-padding);
  }
}

.uber-sev.uber-sev-small {

}

table .uber-sev,
.content-block footer .uber-sev,
.uber-sev.uber-sev-small {

  img {
    width: 16px;
    height: auto;
  }
}

.actions-rule-details .uber-sev {
  display: inline-block;
  background: #fff;
}

table img.uber-sev-icon,
table td.uber-sev-icon img {
  width: 16px;
  height: auto;
  vertical-align: middle;
}

table {
  td.uber-sev-icon {
    vertical-align: middle;
  }

  td.uber-sev-icon img,
  img {
    width: 16px;
    height: auto;
    vertical-align: middle;
  }
}