.widget {

  .progress-bar {
    .progress.green { background: #94D400; }
    .progress.yellow { background: #DEC800; }
    .progress.orange { background: #F39800; }
    .progress.red { background: #CC0000; }
  }
}

.widget.severity-summary {
  ul {
    @include reset;
    list-style-type: none;

    li { @include rem('margin-bottom', $global-padding/2); }
  }
}

$grad-height: 20px;
$bar-height: $grad-height + 4;

.widget.key-issues {

  .grad {
    position: relative;
    height: $grad-height;
    background-image: linear-gradient(to right, #006CBE, #FE0002);
  }

  .grad .bar {
    position: absolute;
    @include rem('padding-top', 12px);
    top: -(($bar-height - $grad-height) / 2);
    height: $bar-height;
    width: 4px;
    background: #000;
  }

  .grad .num {
    position: absolute;
    right: 8px;
    top: 3px;
    color: #fff;
    display: inline-block;
    font-weight: 700;
  }

  .grad .bar.right .num {
    right: auto;
    left: 8px;
  }
}

.widget.widgetIncidentSummary {
  .content { @include rem('padding', 0 $global-padding); }
}