.widget {

  .progress-bar {
    .progress.green { background: #94D400; }
    .progress.yellow { background: #DEC800; }
    .progress.orange { background: #F39800; }
    .progress.red { background: #CC0000; }
  }


  // add padding when cols are stacked
  table {
    .row + .row {
      @include rem('margin-top', $global-padding/2);
    }

    [class^="col-"],
    div[class*=" col-"] {
      @include rem('padding', 0 $global-padding);
    }


    //[class^="col-"],
    //div[class*=" col-"] {
    //  @include rem('padding', $global-padding $global-padding 8px);
    //
    //
    //  // add padding when cols are stacked
    //  & + [class^="col-"],
    //  div[class*=" col-"] {
    //    @include rem('padding-top', $global-padding/2);
    //  }
    //}
  }
}

.widget.severity-summary {
  ul {
    @include reset;
    list-style-type: none;

    li {
      @include rem('margin-bottom', $global-padding/2);

      //&:nth-child(2) .bar .grad,
      //&:nth-child(2) .progress .progress-bar {
      //  background: #FF6600;
      //}
      //
      //&:nth-child(3) .bar .grad,
      //&:nth-child(3) .progress .progress-bar {
      //  background: #CC0000;
      //}
    }

    //.progress {
    //  @include rem('margin-bottom', 4px);
    //  box-shadow: none;
    //  text-align: left;
    //}
    //
    //.progress .progress-bar { text-align: left; }
    //.progress + span {
    //  line-height: 1;
    //  display: inline-block;
    //  font-weight: 700;
    //}
    //
    //.progress .progress-bar .num {
    //  float: right;
    //  @include rem('margin', 3px 8px 0 0);
    //}
  }
}

$grad-height: 20px;
$bar-height: $grad-height + 4;

.widget.key-issues {

  //.progress-bar .progress { @include background-image(linear-gradient(to right, #006CBE, #FE0002)); }

  .grad {
    position: relative;
    height: $grad-height;
    @include background-image(linear-gradient(to right, #006CBE, #FE0002));
  }

  .grad .bar {
    position: absolute;
    @include rem('padding-top', 12px);
    top: -(($bar-height - $grad-height) / 2);
    height: $bar-height;
    width: 4px;
    background: #000;
  }

  .grad .num {
    position: absolute;
    right: 8px;
    top: 3px;
    color: #fff;
    display: inline-block;
    font-weight: 700;
  }

  .grad .bar.right .num {
    right: auto;
    left: 8px;
  }
}

.widget.migration-trend {

}

.widget.widget-whatShouldIFix {
  td {
    @include rem('padding', $global-padding);
  }

  .row.metrics {
    align-items: center;
  }
}

