.widget-block {
	display: block;
	margin: 0;
	@include rem('padding', $global-padding);

	& + .content-block { margin: 0; }

	.title {
		@include clearfix;
		text-transform: uppercase;
		@include font-size(14px);

		.cta-link {
			float: right;
			padding: 0;

			@include media-query(sm) {
				float: none;
				@include rem('margin-left', 8px);
			}

			@include media-query(md) { float: right; }
		}

		i { @include rem('padding-right', 0.5); }
	}

	h2,
	h3,
	h4,
	h5 { @include font-size(14px); }

	.cta-link { text-transform: none; }


}
