$tile-left-position: 30px;

.tile {
  @include tile(#00AEFF);
  @include rem('padding', $global-padding 0);
  &-center {
    display: flex;
    justify-content: center;
  }
}

.with-tile {

  position: relative;
  @include rem('padding-left', $global-margin);

  .tile {
    position: absolute;
    left: -$tile-left-position;
  }
}