/* ==================================================================
/* Inventory view
/* ================================================================== */
/**
 * This document defines the styling for the inventory layout
**/

:root {
  --ins-p-data-filters--Padding: #{$ins-global--spacer--lg};
  --ins-p-data-filters--Margin: #{$ins-global--spacer--lg};

}

.ins-p-data-filters {
  padding: var(--ins-p-data-filters--Padding);

  .radio-inline label {
    font-weight: 100;
  }

  &__filters,
  &__active-filters {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;

    > * + * {
      margin-left: var(--ins-p-data-filters--Margin);
    }
  }
}




.data-filters.tags .active-filters {
  @include rem('margin-top', $global-margin);
}


.data-filters .filter-group {
  flex: 0 1 auto;

}



.data-filters .filter-group.filter-group-radios { 
  flex: 1 1 100%;

  @include media-query(sm){ flex: 0 1 0%; }
}