.table-filters {
  @include rem('margin', $global-padding);

  .filter-group {
    label {
      // display: block;
    }
  }  
}

.table-filters .filters,
.table-filters .active-filters {
  display: flex;
  flex-direction: column;

  @include media-query(sm){ flex-direction: row; }

  > * {
    @include rem('margin', 0 $global-padding);
    
    @include media-query(sm){ @include rem('margin', 0 $global-padding); }
  }
}

.table-filters .active-filters {
  align-items: baseline;
}

.table-filters.tags .active-filters {
  @include rem('margin-top', $global-margin);
}

.table-filters .filter-group {
  .button-filter { @include rem('min-width', 120px); }
}

.table-search { 

}