.table-filters {
  @include rem('margin', $global-padding);

  .filter-group {
    label {
      // display: block;
    }
  }  
}

.table-filters .filters,
.table-filters .active-filters {
  display: flex;
  flex-wrap: wrap;

  > * {
    @include rem('margin', $global-padding/2 $global-padding);

    // @include media-query(sm){ @include rem('margin', 0 $global-padding); }
  }
}

.table-filters .active-filters {
  align-items: baseline;
}


.table-filters.tags .active-filters {
  @include rem('margin-top', $global-margin);
}


.table-filters .filter-group {
  flex: 0 1 auto;

  .button-filter { @include rem('min-width', 120px); }
}

.table-filters .table-search { 
  flex: 1 1 100%;

  @include media-query(sm){ 
    flex: 0 1 0%; 
    align-self: flex-end;
  }
}


.table-filters .filter-group.filter-group-radios { 
  flex: 1 1 100%;

  @include media-query(sm){ flex: 0 1 0%; }
}