section#data-filters.ins-p-data-filters(ng-class="{tags: hasTags()}")
  .ins-p-data-filters__filters(ng-transclude)
  .ins-p-data-filters__active-filters(ng-if='hasTags()', ng-model='tags')
    strong(translate) Active filters:&nbsp;
    // remove filter on click
    button.button-active-filter.button-tag(ng-repeat="(key, value) in tags", ng-click='removeFilter(key)')
      span(translate) {{value | translate}}
      i.fa.fa-times-circle-o(aria-hidden="true")
