.col-md-6.group-list
  label.full-width {{::title | translate}}
  input.filter.full-width(placeholder="{{'Filter' | translate}}", type="text", ng-model='systemsFilter', ng-model-options="{ debounce: 100 }", ng-change='filterSystems()')
  .filters-table
    .row
      .col-xs-6
        label.select-all
          input(type="checkbox", ng-model="checkboxes.checked", ng-indeterminate="indeterminate")
          span(translate) Select Visible
      .col-xs-6
        .pull-right.flush-right
          span(translate) Items
          .dropdown-select.dropdown-select-horizontal
            select(ng-model="itemsPerPage", ng-options="i for i in items track by i")
  div(ng-class="{'scrollable scrollable-table': _filteredSystems.length > 10}")
    table.table.no-header.table-groups
      tbody
        tr.ng-animate-disabled(ng-repeat="system in _filteredSystems = (filteredSystems | offset:((currentPage-1)*itemsPerPage) | limitTo:itemsPerPage)", data-id="{{system.system_id}}", ng-click="rowClick($event)", ng-mousedown="rowClick($event)")
          td
            label
              input(type="checkbox", ng-model="checkboxes.items[system.system_id]")
              span.hostname {{::system.toString}}
  .row.groups-footer
    .col-xs-12.col-md-5
      a.link(ng-show="type === 'in'", ng-disabled="!totalChecked", ng-click="removeSystems()")
        i.fa.fa-minus 
        span(translate)  Remove Systems
      a.link(ng-hide="type === 'in'", ng-disabled="!totalChecked", ng-click="addSystems()")
        i.fa.fa-plus 
        span(translate)  Add Systems
    .col-xs-12.col-md-7
      pagination.pull-right.pagination-gray(ng-hide="total <= itemsPerPage", total-items="total", ng-model="currentPage", previous-text="«", next-text="»", max-size="3", rotate="false", items-per-page="itemsPerPage", ng-change="pageChanged()")
