.system-overview-graphs.ins-c-card.ins-c-card--tabbed
  md-tabs(md-dynamic-height='', md-border-bottom='')
    md-tab.tab-content(label='Peer Ranking', md-active='activeTab === "peerRanking"')
      md-content
        peer-ranking
    md-tab.tab-content(label='Machine Learning', md-active='activeTab === "machineLearning"')
      md-content
        machine-learning
    md-tab.tab-content(label='Anomaly Detection', md-active='activeTab === "anomalyDetection"')
