.system-overview-graphs.ins-c-card.ins-c-card--tabbed
  md-tabs(md-dynamic-height='', md-border-bottom='')
    md-tab.tab-content(md-on-select="setActive('peerRanking')", label='Peer Ranking', md-active='activeTab === "peerRanking"')
      //peer-ranking.peer-ranking.ins-l-peer-ranking
    md-tab.tab-content(md-on-select="setActive('machineLearning')", label='Machine Learning', md-active='activeTab === "machineLearning"')
      //machine-learning
    md-tab.tab-content(md-on-select="setActive('anomalyDetection')", label='Anomaly Detection', md-active='activeTab === "anomalyDetection"')

  // hack to kill the 200MB tab usage
  .ins-c-card__tab-content.tabs-hack(ng-if="activeTab === 'peerRanking'")
    peer-ranking.peer-ranking.ins-l-peer-ranking
  .ins-c-card__tab-content.tabs-hack(ng-if="activeTab === 'machineLearning'")
    machine-learning
  .ins-c-card__tab-content.tabs-hack(ng-if="activeTab === 'anomalyDetection'")

