.system-overview-graphs.ins-c-card.is-tabbed.ins-p-system-overview-graphs
  md-tabs(md-dynamic-height='', md-border-bottom='')
    md-tab.tab-content(label='Peer Ranking', md-active='activeTab === "peerRanking"')
      md-content
        peer-ranking(system="system")
    md-tab.tab-content(label='Machine Learning', md-active='activeTab === "machineLearning"')
      md-content
        machine-learning(system="system")
    md-tab.tab-content(label='Anomaly Detection', md-active='activeTab === "anomalyDetection"')
