ul.icon-group.icon-group-severity
  li
    severity-icon(type='impact',     severity='rule.rec_impact')
  li
    severity-icon(type='likelihood', severity='rule.rec_likelihood')
  li
    severity-icon(type='severity',   severity='rule.severity')
