.icon-group.icon-group-severity
  severity-icon(type='impact',     severity='rule.rec_impact')
  severity-icon(type='likelihood', severity='rule.rec_likelihood')
  severity-icon(type='severity',   severity='rule.severity')