ul.icon-group.icon-group-severity
  li
    reliability-icon(type='confidence', severity='rule.confidence')
  li
    reliability-icon(type='likelihood', severity='rule.likelihood')
  li
    reliability-icon(type='reliability', severity='rule.reliability')
