ul.icon-group.icon-group-severity
  li
    ins-battery(status='{{rule.confidence}}', label="Confidence")
  li
    ins-battery(status='{{rule.likelihood}}' label="Likelihood")
  li
    ins-battery(status='{{rule.reliability}}', label="Reliability")
  li
    ins-battery(status='{{rule.optimization}}', label="Optimization")