ul.icon-group.icon-group-severity
  li
    severity-icon(type='confidence',     severity='rule.confidence')
  li
    severity-icon(type='likelihood', severity='rule.likelihood')
  li
    severity-icon(type='reliability',   severity='rule.reliability')
