.reliability(ng-init="init()")
  i.reliability-icon(class="{{:: getClass(type)}} {{:: sevClass}}", tooltip="{{:: tooltip}}")
  span.title(ng-if='label', class="{{:: getClass(type)}}", translate) {{:: label}}
