.uber-sev.uber-sev-small
  .sev-block.impact(ng-if='!probabilityOnly && !riskOnly')
    span.title(ng-if='!noLabels')
      span Impact
    img(src="{{impactIcon()}}")
  .sev-block.probability(ng-if='!impactOnly && !riskOnly')
    span.title(ng-if='!noLabels')
      span Probability
    img(src="{{probabilityIcon()}}")
  .sev-block.total-risk(ng-if='!probabilityOnly && !impactOnly')
    span.title(ng-if='!noLabels')
      strong Total Risk
    img(src="{{riskIcon()}}")
