a(ng-click="onClick()")
  strong(translate, ng-hide="expand") Collapse All
  strong(translate, ng-show="expand") Expand All
  i.fa.inline-left(ng-class="{'fa-compress': !expand, 'fa-expand': expand}")
