// Global Settings
$global-padding: 15px;
$global-margin: 30px;
$namespace: 'ins-';

$ins-global--space-size-root:            14;
$ins-global--font-size-root:             14 !default; //for fonts

$ins-global--body--FontSize:             ins-font-prem(14px);

$ins-global--spacer--sm:                 ins-size-prem(15px) !default;
$ins-global--spacer--md:                 ins-size-prem(24px) !default;
$ins-global--spacer--lg:                 ins-size-prem(30px) !default;

$ins-global--hero-title--FontSize:       ins-font-prem(48px) !default;
$ins-global--main-title--FontSize:       ins-font-prem(32px) !default;
$ins-global--secondary-title--FontSize:  ins-font-prem(24px) !default;
$ins-global--sub-title--FontSize:        ins-font-prem(19px) !default;
$ins-global--body--FontSize:             ins-font-prem(16px) !default;
$ins-global--caption--FontSize:          ins-font-prem(12px) !default;


// Font Weight
$ins-global--FontWeight--light:           300;
$ins-global--FontWeight--normal:          500;
$ins-global--FontWeight--semi-bold:       600;
$ins-global--FontWeight--bold:            700;


// Font Size
$ins-global--FontSize--base:              ins-font-prem(14px) !default;
$ins-global--FontSize--sm:                ins-font-prem(16px) !default;
$ins-global--FontSize--md:                ins-font-prem(24px) !default;
$ins-global--FontSize--lg:                ins-font-prem(32px) !default;
$ins-global--FontSize--xl:                ins-font-prem(48px) !default;


// Line Height
$ins-global--LineHeight--sm:               1.2 !default;
$ins-global--LineHeight--md:               1.5 !default;
$ins-global--LineHeight--lg:               1.8 !default;



// Colors


:root {

  --global-padding: #{$global-padding};
  --global-margin: #{$global-margin};
  --global-grid-gap: #{$global-margin};

  --insights-namespace: #{$namespace};
  --ins-global--spacer-sm: $ins-global--spacer--sm;
  --ins-global--spacer-lg: $ins-global--spacer--lg;
}



// Layout Settings
//==================================================================*/
html { font-size: 100%; }


// Media Queries
//--------------------------------------------------------------*/
$xs: 480px;
$sm: 768px;
$md: 992px;
$lg: 1200px;
$xl: 1440px;


$base-font-size: 14px;
$base-color: #4c4c4c;
$base-font-family: 'overpass', Arial, Helvetica, sans-serif;
$brand-gray: $base-color;


// Global Settings
//==================================================================*/
$global-padding: 15px;
$global-margin: 30px;


// Color Settings
//==================================================================*/

// State Colors
//--------------------------------------------------------------*/

$stateColors: (
  f-red: #D53E40,
  bs-red: #D53E40,
  bg-red: #FFE2E2,

  f-yellow: #EE8C38,
  bs-yellow: #EE8C38,
  bg-yellow: #FDF0E1,

  f-green: #399130,
  bs-green: #399130,
  bg-green: #E6F2E6,

  f-unknown: #4c4c4c,
  bs-unknown: #4c4c4c,
  bg-unknown: #f9f9f9
);

// Brand Specific
//--------------------------------------------------------------*/
$blue: #2097e6;
$red: #c00;
$blue_dark: #0085cf;
$gray-light: #f2f5f7;
$gray-cloud: #d9d9d9;
$green: #46b631;
$orange: #f0ab00;
$gray-med: #6e6e6e;
$brand-primary: #c00;

$brand-secondary: #d9d9d9;
$brand-secondary: #d9d9d9;

$brand-tert: #969ba0;
$brand-tert-med: #7a858b;
$brand-tert-dark: #59666e;

$availability-color: #1F77B4;
$performance-color: #2c96cb;
$security-color: #6d868d;
$stability-color: #46b631;

$logo-background: #303d50;


// Buttons
//==================================================================*/
$btn-primary-bg: #252527;
$btn-primary-bg-hover: #49494d;

$text-color: #646464;
$gray: #d9d9d9;
$gray-dark: #646464;
$gray-border-med: #ddd;

$labs-form-font: #646464;

$button-font-color: #fff;

// Information and Validation
//--------------------------------------------------------------*/
$brand-info: #428bca;
$brand-error: #d9534f;
$brand-success: #3f9c35;

// Disabled
//--------------------------------------------------------------*/
$bg-disabled: #eeeeee;
$f-disabled: #cbcbcb;

// Text and Links
//--------------------------------------------------------------*/
$link-color: $brand-info;
$link-color-hover: darken($link-color, 15%);
$link-hover-color: darken($link-color, 15%);
$link-hover-decoration: underline !default;
$btn-link-disabled-color: $gray-light !default;
// Form Block Hover
//==================================================================*/
$form-block-hover: #f7f7f7;

// Typography Settings
//==================================================================*/

// Headings
//--------------------------------------------------------------*/
$header-font-family: 'Open Sans', 'Liberation Sans', Helvetica, Arial;
$header-font-weight: normal;
$header-font-style: normal;
$header-line-height: 1.3;
$header-top-margin: 5px;
$header-bottom-margin: 20px;
$header-text-rendering: optimizeLegibility;

$h1-font-size: 49px;
$h2-font-size: 49px;
$h3-font-size: 20px;
$h4-font-size: 23px;
$h5-font-size: 18px;
$h6-font-size: 16px;

// Paragraphs
//--------------------------------------------------------------*/
$paragraph-font-weight: normal;
$paragraph-font-size: $base-font-size;
$paragraph-line-height: 26px;
$paragraph-margin-bottom: 20px;
$paragraph-text-rendering: optimizeLegibility;

// Links
//--------------------------------------------------------------*/
$link-text-decoration: none;

// Blockquotes
//--------------------------------------------------------------*/
$blockquote-padding: 10px 20px;
$blockquote-margin: 0 0 20px;

// Alerts Settings
//==================================================================*/
$alertbox-font-color: #fff;
$alertbox-margin: 16px;

// Media Settings
//==================================================================*/
$figure-background: #000;
$figure-margin: 0 0 16px;
$figure-opacity: .9;
$figure-opacity-hover: 1;

// Forms Settings
//==================================================================*/
$form-margin: 0 0 16px;

// Buttons Settings
//==================================================================*/
$button-padding: 11px;
$button-background: $brand-primary;
$button-text-color: #fff;
$button-font-family: 'overpass', 'Liberation Sans', Arimo, 'Trebuchet MS', 'Bitstream Vera Sans', Helvetica, Arial;

// Table Settings
//==================================================================*/
$table-cell-padding: 8px;
$table-cell-border: 1px solid $brand-primary;


/* Patterfly overrides
/* ================================================================== */

$bootstrap-sass-asset-helper: false;
