.inventory.card-list {
  display: grid;
  grid-gap: $global-margin;

  @include media-query(sm) { grid-template-columns: repeat(2, 1fr); }
  @include media-query(lg) { grid-template-columns: repeat(4, 1fr); }
}