.ins-c-card.metadata-card
  header.ins-c-card__header.card-pf-heading.no-border
    .display-name.text-center.is-truncated
      strong(title="{{:: system.toString }}") {{:: system.toString }}

  .ins-c-card__body.card-pf-body
    ul.ins-p-list.ins-p-list--basic.host-info
      li.ins-p-list__item.icon-inline.hostname
        i.pficon-screen
        span.is-truncated {{:: system.hostname }}
      li.ins-p-list__item.icon-inline.status-check
        i.fa.fa-clock-o
        span.hostname Last Check: {{system.last_check_in | timeAgo }}
        i.pficon-info(ng-if='!system.isCheckingIn', tooltip="New Image Available")

    .card-pf-top-element
      .tile-with-text
        .optimization-tile.tile.tile-sm(class='{{system.optimization}}')
          ins-battery(status='{{system.optimization}}', type='Optimization')
        .tile-label
          span Optimization
          span {{system.optimization}}

      .tile-with-text
        .reliability-tile.tile.tile-sm(class='{{system.reliability}}')
          ins-battery(status='{{system.reliability}}', type='Reliability')
        .tile-label
          span Reliability
          span {{system.reliability}}

  footer.ins-c-card__footer
    .card-pf-middle-element.text-center
      .card-pf-item.type-tags.text-center
        span(ng-repeat="tag in system.type_tags") {{tag}}
    .card-pf-bottom-element.text-center
      .card-pf-items.system-tags.text-center
        div(ng-repeat="tag in system.system_tags", class="{{tag.icon}}" tooltip="{{tag.name}}")
