@font-face {
  font-family: 'insights-icons';
  src:  url('../static/fonts/insights-icons.eot?cm6div');
  src:  url('../static/fonts/insights-icons.eot?cm6div#iefix') format('embedded-opentype'),
  url('../static/fonts/insights-icons.ttf?cm6div') format('truetype'),
  url('../static/fonts/insights-icons.woff?cm6div') format('woff'),
  url('../static/fonts/insights-icons.svg?cm6div#insights-icons') format('svg');
  font-weight: normal;
  font-style: normal;
}

i[class^="icon-"], i[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'insights-icons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  & + strong,
  & + span {
    @include rem('margin-left', $global-padding/2);
  }
}

i[class^="icon-"], i[class*=" icon-"] {
  &:before {
    font-family: 'insights-icons';
  }
}

.icon-severity-critical:before {
  content: "\e904";
}
.icon-severity-high:before {
  content: "\e903";
}
.icon-severity-med:before {
  content: "\e902";
}
.icon-severity-low:before {
  content: "\e901";
}
.icon-severity-bars:before {
  content: "\e900";
  color: #ccc;
}
.icon-icon-ansible:before {
  content: "\e90a";
}
.icon-risk-of-change:before {
  content: "\e905";
}
