.icon-inline {
  display: flex;
}

.icon-inline {
  display: inline-flex;
  align-items: baseline;
  @include font-size(14px, 1);

  > * + * { margin-left: $global-padding/2; }

  .alert-text { 
    @include font-size(14px);
    @include rem('margin-top', -4px); 
  }
  
  i.fa { line-height: 1; }

  .icon-risk-of-change { 
    align-self: center; 
    margin-bottom: 4px;
  }

  .icon,
  .text {

  }
}

table .icon-inline {
  display: flex;

  > * { flex: 1; }

  > i.fa,
  > .icon,
  > label,
  > .label { flex: 0; }
}

// Set td icon-inline line-height to parent
td.icon-inline i.fa { line-height: inheret; }

a.link.icon-inline-anchor { 
  text-decoration: none;
  i { margin-right: 4px; }
}

.icon-inline-anchor{
  display: inline;
  a.icon i { position: static; }
  a.icon + a.icon { @include rem('padding-left', $global-padding); }
}

.icon-inline-right {
  position: relative;
  @include rem('padding-right', 18px);
  display: block;

  i {
    position: absolute;
    right: 0;
  }

  table & {
    @include rem('padding-right', 22px);
    i { top: 2px; }
  }
}