#goals-lite
  .row
    .col-sm-12.block-lg(ng-if="loadingSystemLimit")
      .spinner.spinner-lg
  .goals-lite
    .info-box
      .row(ng-if="systemCount > 0 && !loadingSystemLimit")
        .col-sm-12.block-lg
          goals-gauge(ng-init="buildGauge({getGaugeMax: getMaxFreeSystems, getGaugeNumber: getSystemCount})")
          .info
            h4(translate) Systems Registered
            .free(ng-if="!systemLimitReached")
              span(translate) {{maxFreeSystems - systemCount}} more Insights entitlements available&nbsp;
              br
              span Your evaluation will expire on {{expiration}}
            .free.full(ng-if="systemLimitReached")
              span(translate) Congratulations! You have registered all available systems.
        .col.sm-6.block-md(ng-if="actionsLoading")
          .spinner.spinner-lg
        .col-sm-6.block-md(ng-if="securityErrors && !actionsLoading")
          .count.circle {{securityErrors}}
          h4(translate) Protect yourself!
          p(translate) Fix all of your
            br
            | {{securityErrors}} security issues
          a.cta-link(translate, ui-sref="app.topic({id: 'security'})") View security issues
        .col-sm-6.block-md(ng-if="!securityErrors && !actionsLoading")
          .check.circle
            i.fa.fa-check
          h4(translate) You have no high severity security errors

        .col.sm-6.block-md(ng-if="actionsLoading")
          .spinner.spinner-lg
        .col-sm-6.block-md(ng-if="stabilityErrors && !actionsLoading")
          .count.circle {{stabilityErrors}}
          h4(translate) Increase your uptime!
          p(translate) Fix all of your
            br
            | {{stabilityErrors}} stability issues
          a.cta-link(translate, ui-sref="app.topic({id: 'stability'})") View stability issues
        .col-sm-6.block-md(ng-if="!stabilityErrors && !actionsLoading")
          .check.circle
            i.fa.fa-check
          h4(translate) You have no high severity stability errors
    .row(ng-if="systemCount === 0")
      .col-sm-12.text-center
        h3 You have no systems registered. Take full advantage of Red Hat Insights by&nbsp;
          // need to make this link clickable
          a.link(translate, href="https://access.redhat.com/products/red-hat-insights#getstarted", target="_blank") registering systems.
