.table-filters
  
  //- .flexgrid(ng-show='hasTags()', ng-model='tags')
  //-   strong(translate) Active filters:&nbsp;
  //-   // remove filter on click
  //-   button.btn.button-active-filter(ng-repeat="(key, value) in tags", ng-click='removeFilter(key)')
  //-     span(translate) {{value | translate}}
  //-     i.fa.fa-times-circle-o(aria-hidden="true")

  .flex(ng-transclude)

  .active-filters(ng-show='hasTags()', ng-model='tags')
    .flexgrid
      strong(translate) Active filters:&nbsp;
      // remove filter on click
      button.btn.button-active-filter(ng-repeat="(key, value) in tags", ng-click='removeFilter(key)')
        span(translate) {{value | translate}}
        i.fa.fa-times-circle-o(aria-hidden="true")



  //- #dataFilters.dataFilters(ng-class="{open: open, tags: hasTags()}")
  //-   #dataFiltersBody.data-filters-body.collapse

