.page-overview
  page-header(title="Overview", icon="fa-tachometer")
  .rha-notifications
  section.content.grid-overview
    card.widget.widget-blog
      card-header.gray
        .card-header-title
          span.icon-inline
            i.fa.fa-fire
            span(translate) Latest
        .card-header-cta
          a(translate, ng-show='isInternal', ng-click='edit()') Edit
      card-content
        handcrafted-content
    new-systems
    card.widget.widget-actions-summary
      card-header.gray
        .card-header-title
          span.icon-inline
            i.fa.fa-file-text
            span(translate)  Actions Summary
        .card-header-cta
          a(translate, ui-sref="app.actions") View actions
      card-content
        severity-summary(stats='stats')

    incident-lite(ng-if="isBeta")

    card.widget.widget-optimize(ng-if="!paid()")
      card-header.gray
        .card-header-title
          span.icon-inline
            i.fa.fa-bullseye &nbsp;
            span(translate) Optimize&nbsp;
            span.light(translate) Your Experience
      card-content
        goals-lite

    maintenance-plan-lite(ng-if='config.isPlannerEnabled')
