.overview
  page-header(title="Overview", icon="fa-tachometer")
  .page.flexgrid.equalheights
    .rha-notifications
    .row
      .col-md-5.col-lg-6
        md-card
          md-card-header
            .md-card-header-title
              span.icon-inline
                i.fa.fa-fire
              span(translate) Latest
            .md-card-header-button
              span(ng-show='isInternal')
                | [
                a(ng-click='edit()') edit
                | ]
          md-card-content
            handcrafted-content
        md-card.md-side-padding
          new-systems
      .col-md-7.col-lg-6
        md-card
          md-card-header
            .md-card-header-title
              span.icon-inline
                i.fa.fa-file-text
              span(translate) Actions Summary
            .md-card-header-button
              md-button(translate, ui-sref="app.actions") View actions
          md-card-content
            severity-summary(stats='stats')

        md-card(ng-if="!paid()")         
          md-card-header
            span.icon-inline
              i.fa.fa-bullseye &nbsp;
            span(translate) Optimize&nbsp;
            span.light(translate) Your Experience
          md-card-content
            goals-lite

        md-card.md-side-padding(ng-if='config.isPlannerEnabled')
          maintenance-plan-lite
