sidenav
  account-select
  nav.primary-nav(role="navigation", aria-label="Primary Navigation")
    ul
      li
        md-button.md-button-nav(ui-sref='app.overview', ui-sref-active='current') 
          i.fa.fa-tachometer
          span.text(translate) Overview
      li
        md-button.md-button-nav(ui-sref='app.actions', ui-sref-active='current') 
          i.fa.fa-file-text
          span.text(translate) Actions
      li
        md-button.md-button-nav(ui-sref='app.inventory', ui-sref-active='current') 
          i.fa.fa-database
          span.text(translate) Inventory
      li(ng-if='config.isPlannerEnabled')
        md-button.md-button-nav(ui-sref='app.maintenance', ui-sref-active='current') 
          i.fa.fa-wrench
          span.text(translate) Planner
      li
        md-button.md-button-nav(ui-sref='app.rules', ng-class='{current: includes(states.rules, state.current.name)}') 
          i.fa.fa-institution
          span.text(translate) Rules
      li
        md-button.md-button-nav(ui-sref='app.digests', ui-sref-active='current') 
          i.fa.fa-bar-chart
          span.text(translate) Executive Report
      li
        md-button.md-button-nav(ui-sref='app.config', ui-sref-active='current') 
          i.fa.fa-file-text
          span.text(translate) Configuration
