sidenav
  //- account-select
  nav.primary-nav(role="navigation", aria-label="Primary")
    ul
      li
        a(ui-sref='app.overview', ui-sref-active='current', translate) Overview
      li
        a(ui-sref='app.actions', ui-sref-active='current', translate) Actions
      //- rha-telemetry-actions-side-nav
      li
        a(ui-sref='app.inventory', ui-sref-active='current', translate) Inventory
      li(ng-if='config.isPlannerEnabled')
        a(ui-sref='app.maintenance', ui-sref-active='current', translate) Planner
      li
        a(ui-sref='app.rules', ng-class='{current: includes(states.rules, state.current.name)}', translate) Rules
      li
        a(ui-sref='app.digests', ui-sref-active='current', translate) Executive Report
      li
        a(ui-sref='app.config', ui-sref-active='current', translate) Configuration
