table#rha-systems-summary-table.table(ng-table='tableParams')
  thead
    tr
      th(style="width: 3%;")
        label
          input(type="checkbox", ng-model="checkboxes.checked", ng-indeterminate="indeterminate")
      th(style='width: 6%;', ng-if='isOspMode()')
        div(translate) Type
      th.sortable(ng-class="{'sort-asc': tableParams.isSortBy('hostname', 'asc'), 'sort-desc': tableParams.isSortBy('hostname', 'desc')}",
        ng-click="tableParams.sorting({'hostname' : tableParams.isSortBy('hostname', 'asc') ? 'desc' : 'asc'})")
        .sort-indicator(translate) Name
      th.sortable(ng-class="{'sort-asc': tableParams.isSortBy('reports.length', 'asc'), 'sort-desc': tableParams.isSortBy('reports.length', 'desc')}",
        ng-click="tableParams.sorting({'reports.length' : tableParams.isSortBy('reports.length', 'asc') ? 'desc' : 'asc'})")
        .sort-indicator(translate) Status
    tr
      th(colspan='{{getNumCols()}}')
        input.form-control.nomar-left.input-sm(type='text', ng-model='filters.hostname', placeholder="{{'Filter' | translate}}")
  tbody
    tr(ng-repeat='system in $data track by system.machine_id', ng-class="::{'stale-system': !system.isCheckingIn, 'danger': !system.isCheckingIn}", data-id="{{system.machine_id}}", ng-click="rowClick($event, system)", ng-mousedown="rowClick($event, system)")
      div(ng-if='!systemIsHeader(system)')
        td(ng-if='!systemIsHeader(system)')
          label
            input(type="checkbox", ng-model="checkboxes.items[system.machine_id]")
        td.text-center(ng-if='!systemIsHeader(system) && isOspMode()')
          type-icon(role='cleanRole(system.metadata)')

        // we show the system always, whether they have actions or not
        td.break(ng-if='!systemIsHeader(system)')
          a.pointer(ng-click="showSystem(system)") {{::systemToString(system) || system.machine_id}}

        td.text-center(ng-if='!systemIsHeader(system)')
          div(tooltip='{{actionTooltip(system.reports.length)}}', tooltip-trigger='mouseenter', tooltip-append-to-body='true', tooltip-placement='top')
            span.icon.success(ng-hide='::system.reports.length')
              i.fa.fa-check-circle.fa-1-5x.text-success
            span.pointer.icon.failure(ng-show='::system.reports.length', ng-click="showSystem(system)")
              i.fa.fa-exclamation-circle.fa-1-5x.text-danger.fail
        td(colspan='{{getNumCols()}}', ng-if='systemIsHeader(system)') {{system.machine_id}}
  tfoot
    tr
      td(colspan='{{getNumCols()}}')
        a.pointer.link.unregister-system(ng-click="unregisterSystems()", ng-disabled="totalChecked == 0")
          i.fa.fa-close
            span(translate, ng-if='!totalChecked') Unregister {{getSystemsLabel()}}
          span(translate, translate-n="totalChecked", translate-plural="Unregister {{$count}} {{getSystemsLabel()}}", ng-if='totalChecked') Unregister {{getSystemsLabel()}}
        a.pointer.link.pull-right(ng-click="registerSystem()" ng-if="showRegisterButton()")
          span.icon.icon-inline.success
            i.fa.fa-plus
          span(translate) Register new system
.text-center(ng-hide="systems.length")
  h4 No {{getSystemsLabel()}}
