.ins-c-table-search {
  display: flex;
  flex: 1 1 100%;
  aling-items: center;
  position: relative;
  min-width: 300px;

  @include media-query(sm){ 
    flex: 0 1 0%; 
    align-self: flex-end;
  }

  input {
    width: calc(100% - 14px);
    @include rem('padding', 6px 6px 6px 2px);
    @include font-size(14px);
    border: none;
    border-bottom: 1px solid $gray;
    transition: .2s;
    font-weight: 700;
    background: none;

    &::placeholder { font-weight: 500; }

    &:focus {
      outline: none;
    }
  }
}
