.table-utilities {
  display: flex;
  justify-content: space-between;

  .table-search {
    flex: 0 1 30%;

    @include media-query(md){
      flex: 0 1 20%;
    }
  }

  filters {
   flex: 1 1 70%; 
  }  

  check-in-select {
    margin-left: $global-padding;
  }
}