.table-search {
  position: relative;
  min-width: 300px;

  input {
    width: calc(100% - 14px);
    @include rem('padding', 6px 6px 6px 2px);
    @include font-size(14px);
    border: none;
    border-bottom: 1px solid $gray;
    transition: .2s;
    font-weight: 700;

    &::placeholder { font-weight: 500; }

    &:focus { outline: none; }
  }
}
