// Vars
// Card variables are assigned to the values set in _vars.scss. The purpose for including them is to add the ability to change their values within this file. This will be replaced by css variables upon better browser support.
$card: $card;
$card-header: $card-header;


// Expandable card header
//==================================================================*/
#{$card-header}.card-header-expandable-card {
  display: flex;
  align-items: normal;

  .expandable-toggle { flex: 0 0 auto; }
  
  .card-header-content { 
    display: flex;
    flex: 1;
    flex-flow: row wrap;
    align-items: first baseline;
    justify-content: space-between;
  }

  .checkbox { @include rem('margin-top', 2px); }
}


// Expandable card header - card header title
//==================================================================*/

#{$card-header}.card-header-expandable-card .card-header-title {
  display: flex;
  justify-content: space-between;
  align-items: first baseline;

  .title { flex: 1 60%; }
  
  i { 
    flex: 0 auto; 
    justify-self: center;
  }
}



// Align ansible icon right always
#{$card} #{$card-header} .card-header-title .ansible-icon { 
  align-self: flex-start; 
  margin-left: auto;
}


// Expandable toggle
//==================================================================*/

#{$card} .expandable-toggle {
  @include rem('padding-right', $global-padding);
  @include rem('margin-top', 4px);
  border: none;
  box-shadow: none;
  background: none;

  i { 
    transition: .2s; 
    @include font-size(14px);
    line-height: 1;
  }
}

// Expanded card toggle
#{$card}.expanded .expandable-toggle { i { transform: rotate(90deg); } }



