// Vars
// ------------------------
$ui-filters-background: #F9F9F9;

// Mixins
// ------------------------
@mixin negative-margin() {
  margin-left: -30px;
  margin-right: -30px;
}


// xxxxxxxxxxxxxxxxxxxxxxxx
// Temp, remove after .content-wrap is merged
.ui-filters {
  @include negative-margin;
  &:after {
    content: '';
    clear: all;
  }
}
// xxxxxxxxxxxxxxxxxxxxxxxx



// UI filter styling
// ------------------------
.ui-filters {
  @include rem('padding', $global-margin);
  background: $ui-filters-background;
  min-height: 20px;

  // Button styling
  button,
  .btn {
    text-transform: none;
    @include rem('padding', $global-padding/2 $global-padding);

    &.btn-large {
      @include rem('padding', 20px);
    }
  }

  // Button spacing
  button + button,
  .btn + .btn {
    @include rem('margin-left', $global-padding);
  }
}


// UI filter helpers
// ------------------------
.ui-filters {
  section {  }
  section + section {
    @include rem('padding-top', $global-margin);
    border-top: 1px solid $gray;
  }
}
