@import 'components/ui-filters/ui-filters__control-bar';
@import 'components/ui-filters/ui-filters__active-filters';

// Vars
// ------------------------
$data-filters-background: #F9F9F9;

// Mixins
// ------------------------
@mixin negative-margin() {
  margin-left: -30px;
  margin-right: -30px;
}


// UI filter styling
// ------------------------
.dataFilters {
  position: relative;
  z-index: 10;
  @include box-shadow(0 0 0 rgba(0,0,0,0));

  &.expanded { @include box-shadow(0 8px 12px rgba(0,0,0,.15)); }

  [class^="col-"],
  div[class*=" col-"] {
    @include media-query(sm) {
      padding-bottom: $global-padding;
    }
  }

  // Areas
  .data-filters-header,
  .data-filters-body {
    background: $data-filters-background;
    .flexgrid { @include rem('padding', $global-padding $global-margin); }
  }


  section {  }
  section + section {
    @include rem('padding-top', $global-margin);
    border-top: 1px solid $gray;
  }

  .filter-group + .filter-group {
    @include media-query(md) {
      border-left: 1px solid #d9d9d9;
    }
  }


  // Labels
  label.label { font-weight: 700; }

  // Buttons
  button,
  .btn {
    text-transform: none;
    @include rem('padding', $global-padding/2 $global-padding);
  }

  // Button layout
  button + button,
  .btn + .btn {
    @include rem('margin-left', $global-padding);
  }

  .dropdown {
    @extend .full-width;
  }
}

.dataFilters.tags {
  @include rem('margin-bottom', $global-margin);
}