$dataFilter-active-filters-bg: #f9f9f9;
$dataFilter-active-filters-border-color: #d9d9d9;

.dataFilters .active-filters {
  background: $dataFilter-active-filters-bg;
  border-top: 1px solid $dataFilter-active-filters-border-color;
  @include rem('padding', $global-padding $global-margin);

  &.flexgrid { @include rem('padding', $global-padding $global-margin); }

  button + button,
  strong + button { @include rem('margin-left', $global-padding/2); }

  button {
    @include rem('padding', 4px 8px);
    i { @include rem('margin-left', 8px); }
  }
}
