// Control bar styling
// ------------------------
.data-filters-control-bar {
  position: relative;
  height: 14px;
  background: #dfdfdf;
  text-align: center;

  // toggle button styling
  .toggle {
    position: relative;
    width: 42px;
    height: 42px;
    display: inline-block;
    @include rem('margin-top', -12px);
    text-align: center;
    background: rgba(255,255,255,.9);
    @include box-shadow(0 0 0 8px rgba(0,0,0,.1));
    @include border-radius(50%);
    border: none;
    //@include transition(.2s);

    // button hover styling
    &:hover {
      @include box-shadow(0 0 0 12px rgba(0,0,0,.1));
      cursor: pointer;
    }

    // Icon styling
    i {
      position: absolute;
      left: 30%;
      @include font-size(20px);
      line-height: 2;
    }

    i.fa.fa-filter {
      left: 32%;
      @include opacity(1);
      color: $blue;
    }

    i.fa.fa-close {
      @include opacity(0);
      color: #fff;
    }
  }

  &.expanded .toggle {
    background: #a9a9a9;
    color: #fff;

    i.fa.fa-filter {
      @include opacity(0);
    }

    i.fa.fa-close {
      @include opacity(1);
    }
  }
}


// Rotate the button icoin if filters are open
.data-filters-control-bar {
  i {
    //transform: rotate(0deg);
  }

  &.expanded i {
    //transform: rotate(180deg);
  }
}
