// Control bar styling
// ------------------------
.data-filters-control-bar {
  position: relative;
  height: 2px;
  background: #dfdfdf;
  text-align: center;

  // toggle button styling
  .toggle {
    position: relative;
    top: -11px;
    display: inline-block;
    @include rem('padding', 6px 12px);
    text-align: center;
    background: $blue;
    color: #fff;
    box-shadow: 0 0 0 4px rgba(0,0,0,.1);
    border-radius: 14px;
    border: none;
    line-height: 1;

    // button hover styling
    &:hover,
    &.active {
      box-shadow: 0 0 0 6px rgba(0,0,0,.1);
      cursor: pointer;
    }

    &.active {
      background: #a9a9a9;
      color: #fff;
      transform: rotate(0deg);
      transition: .2s;

      i { transform: rotate(180deg); }
    }

    .icon-inline {
      margin: 0;
      @include rem('padding-left', 18px);
      @include rem('padding-right', 18px);

      i + i {
        left: auto;
        right: 0;
      }
    }

    //i.fa.fa-filter { opacity: 1; }
    //
    //i.fa.fa-close {
    //  opacity: 0;
    //  color: #fff;
    //}
  }

  //.open & .toggle {
  //  background: #a9a9a9;
  //  color: #fff;
  //
  //  i.fa.fa-filter {
  //    opacity: 0;
  //  }
  //
  //  i.fa.fa-close {
  //    opacity: 1;
  //  }
  //}
}


// Rotate the button icoin if filters are open
.data-filters-control-bar {
  i {
    //transform: rotate(0deg);
  }

  &.expanded i {
    //transform: rotate(180deg);
  }
}
