.ins-l-pmaas-map

  // Page Header
  section.page-header
    .button-group.filter-group
      button.button-default.button-lg.button-strong All
      button.button-default.button-lg.button-strong Public Cloud
      button.button-default.button-lg.button-strong Private Cloud
      button.button-default.button-lg.button-strong Virtual
      button.button-default.button-lg.button-strong Physical

  // Content
  section.content.pmaas-map
    .map#map
      md-icon.ins-c-pin.pin1(md-svg-src="./static/images/i_pin-good.svg" aria-label="Red Hat Insights" alt="Red Hat Insights")
      md-icon.ins-c-pin.ins-c-pin--has-error.pin2(md-svg-src="./static/images/i_pin-has-error.svg" aria-label="Red Hat Insights" alt="Red Hat Insights")
      .view-toggle
        button.button-sm
          i.fa.fa-list
        button.button-sm
          i.fa.fa-globe
    nav.map-nav(ng-class="{'--is-expanded': navExpanded}")
      button(ng-click="navExpanded = !navExpanded") toggle
      button.button-default.button-lg.button-strong All
      button.button-default.button-lg.button-strong Public Cloud
      button.button-default.button-lg.button-strong Private Cloud
      button.button-default.button-lg.button-strong Virtual
      button.button-default.button-lg.button-strong Physical
