.ins-l-pmaas-map

  // Page Header
  section.page-header
    .button-group.filter-group
      button.button-default.button-lg.button-strong All
      button.button-default.button-lg.button-strong Public Cloud
      button.button-default.button-lg.button-strong Private Cloud
      button.button-default.button-lg.button-strong Virtual
      button.button-default.button-lg.button-strong Physical

    .donut-chart.pf-is-with-text.pf-is-small
      .chart.chart-vulnerability
      .chart-info
        .chart-title {{charts.vulnerability.name}}
        b {{charts.vulnerability.title}} &nbsp;
        span Secure

    .donut-chart.pf-is-with-text.pf-is-small
      .chart.chart-compliance
      .chart-info
        .chart-title {{charts.compliance.name}}
        b {{charts.compliance.title}} &nbsp;
        span Compliant

    .donut-chart.pf-is-with-text.pf-is-small
      .chart.chart-advisor
      .chart-info
        .chart-title {{charts.advisor.name}}
        b {{charts.advisor.title}} &nbsp;
        span Optimized

    .donut-chart.pf-is-with-text.pf-is-small
      .chart.chart-subscription
      .chart-info
        .chart-title {{charts.subscription.name}}
        b {{charts.subscription.title}} &nbsp;
        span Utilized


  // Content
  section.content.pmaas-map
    .map#map
      // this is an unnecessary wrapper, remove it
      .ins-c-map-popover#popover
        .ins-c-map-popover__header
          i.fa.fa-times-circle.alert-danger
          .chart-info
            span Self-Service Cloud
            .subtitle Azure Europe | OpenShift
        .ins-c-map-popover__body
          .donut-chart.pf-is-with-text.pf-is-small
            .chart-info
              .chart-title Vulnerability
              b 82%  
              span Secure
          .placeholder
          .placeholder
          .placeholder
      .ins-c-zoom
        button
          i.fa.fa-plus
        button
          i.fa.fa-minus
      zoom
        .zoom-in
        .zoon-out
      .view-toggle
        button.button-sm
          i.fa.fa-list
        button.button-sm
          i.fa.fa-globe

    nav.ins-c-map-nav(ng-class="{'pf-is-collapsed': navCollapsed}")
      header
        .header-info
          h3.header-title Deployments
          .count
            span.num 2 &nbsp;
            i.fa.fa-check-circle.alert-success
          .count
            span.num 1 &nbsp;
            i.fa.fa-times-circle.alert-danger

        button.toggle-map(ng-click="navCollapsed = !navCollapsed")
          i.fa.fa-angle-double-left

      ul.list-deployments
        li
          a.list-group(ui-sref="app.dashboard-deployment({deployment_id: 'azure-europe'})")
            i.fa.fa-check-circle.alert-success
            span.title Self-Service Cloud
            span.subtitle
              b Azure Europe | OpenShift
        li
          a.list-group(ui-sref="app.dashboard-deployment({deployment_id: 'priv-openstack'})")
            i.fa.fa-times-circle.alert-danger
            span.title Summit Demo
            span.subtitle
              b Private Cloud | OpenStack & OpenShift
        li
          a.list-group(ui-sref="app.dashboard-deployment({deployment_id: 'aws-east'})")
            i.fa.fa-check-circle.alert-success
            span.title Summit Demo
            span.subtitle
              b aws East | OpenShift
