li
  a(ui-sref='app.actions',
    ng-class='{current: includes(states.actions, state.current.name)}'
    translate) Actions

  ul(ng-show="actions")
    li
      a(ui-sref='app.topic({id: c, product: product})', ng-class="{current: isActive(c)}", ng-repeat="c in categories", ng-if="categoryCounts[c]")
        span(translate, translate-n="categoryCounts[c]", translate-plural="{{c | translate | titlecase}} ({{$count}})")
          | {{c | translate | titlecase}} (1)
