// Vars
$card: "md-card";
$card-header: "md-card-header";
$card-content: "md-card-content";
$card-footer: "md-card-footer";


// Card vulnerability header content
//==================================================================*/

.card-vulnerabilities .card-header-content {
  flex-flow: column wrap;

  @include media-query(sm){ flex-flow: row wrap; }

  > .package-info {
    flex: 1;
  }

  > .vul-state {
    @include rem('margin-top', $global-padding);
    
    @include media-query(sm){ margin-top: 0; }
  }
}


.page-vulnerabilities, 
.vulnerabilities-modal {

  .critical { color: $vul-critical; }
  .important { color: $vul-important; }
  .moderate { color: $vul-moderate; }
  .low { color: $vul-low; }
}


// Vulnerabiltiies Embedded Card
// TODO: Update to global component
//==================================================================*/


.page-vulnerabilities { md-card { @include rem('margin-top', $global-padding); } }

.page-vulnerabilities, 
.vulnerabilities-modal{

  .card-header-title { 
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between; 
  }

  .package-info {
    .date, .version { 
      display: inline-block;
      color: $gray-subhead; 
      @include rem('margin-top', 5px);
      font-weight: 500;
    }
    .version { @include rem('margin-left', $global-margin); }
  }

  .vul-state { 
    margin-left: auto;
    display: flex;
    flex-wrap: wrap;
  }

  .embedded-card{
    box-shadow: none;
    border-radius: 5px;
    &.card-content { padding: 0px; }
  }
}