.page-vulnerabilities
  section
    page-header(title="Vulnerabilities", icon="fa-stethoscope")

  table-filters
    search-box(placeholder="{{'Find a system' | translate}}", on-search='search(model)')
    check-in-select
    rhsa-severity-select
    days-known-select

  // TODO make embedded card a component
  .content-wrap
    vulnerabilities-switch-view-button
    .rhsa-view(ng-if="getCurrentView() === views.rhsas")
      expand-all-button.toggle-expand-right
      card.outer-card(expandable='true', ng-repeat='rhsa in rhsas')
        card-header-expandable
          .card-header-title
            .title.rhsa-id
              .id {{ rhsa.id }}
              .systems-affected {{ rhsa.systems_affected }} Systems Affected
        card-content.card-content(collapse="card.collapsed")
          .type Type: {{ rhsa.type }}
          .synopsis Synopsis: {{ rhsa.synopsis }}
          .severity Severity: {{ rhsa.severity }}
          .solution Solution:
            a  {{ rhsa.solution }}
          .summary Summary: {{ rhsa.summary }}
          .description Description: {{ rhsa.description }}
          card(expandable='true', ng-repeat='cve in rhsa.cves').embedded-card
            card-header-expandable
              .card-header-title
                .id {{ cve.id }}
                .date {{ cve.public_date }}
            card-content.card-content(collapse="card.collapsed")
              .impact Impact: {{ cve.impact }}
              .iava Iava: {{ cve.iava }}
              .cwe CWE: {{ cve.cwe }}
              .description Description: {{ cve.description }}
              table(ng-if='cve.systems.length > 0')
                thead
                  tr
                    th.sortable.nowrap(translate) System Name
                    th.sortable.nowrap(translate) System Type
                    th.sortable.nowrap(translate) Last Check In
                    th.sortable.nowrap(translate) Status
                tbody(ng-repeat='system in cve.systems')
                  tr
                    td.nowrap
                      a(ng-click='showSystem(system.system_id)') {{system.toString}}
                    td.nowrap
                      type-icon(type-id='system.system_type_id', include-text='true')
                    td.nowrap
                      span {{system.last_check_in | timeAgo}}
                    td.nowrap
                      span {{system.report_count}}
    .package-view(ng-if="getCurrentView() === views.packages")
      expand-all-button.toggle-expand-right
      card.outer-card(expandable='true', ng-repeat='vulnerability in vulnerabilities')
        card-header-expandable
          .card-header-title
            .title.package-info
              .name {{vulnerability.name}}
              .date Release Date: {{vulnerability.release_date}}
            .vul-state 
              .critical.icon-inline
                i.fa.fa-shield 
                span(translate) {{vulnerability.critical_count}} Critical
              .important.icon-inline
                i.fa.fa-shield 
                span(translate) {{vulnerability.important_count}} Important
              .moderate.icon-inline
                i.fa.fa-shield 
                span(translate) {{vulnerability.moderate_count}} Moderate 
              .low.icon-inline
                i.fa.fa-shield 
                span(translate) {{vulnerability.low_count}} Low
        card-content.card-content(collapse="card.collapsed")
          card(expandable='true', ng-repeat='rhsa in vulnerability.rhsas').embedded-card
            card-header-expandable
              .card-header-title
                .title {{rhsa.id}}
                .systems-affected {{rhsa.systems_affected}} Systems Affected
            card-content.card-content(collapse="card.collapsed")
              table
                thead
                  tr
                    th.sortable.nowrap(translate) System Name
                    th.sortable.nowrap(translate) System Type
                    th.sortable.nowrap(translate) Last Check In
                    th.sortable.nowrap(translate) Status
                tbody(ng-repeat='system in rhsa.systems')
                  tr
                    td.nowrap
                      a(ng-click='showSystem(system.system_id)') {{system.toString}}
                    td.nowrap
                      type-icon(type-id='system.system_type_id', include-text='true')
                    td.nowrap
                      span {{system.last_check_in | timeAgo}}
                    td.nowrap
                      span {{system.report_count}}

              

