.page-vulnerabilities
  section
    page-header(title="Vulnerabilities", icon="fa-stethoscope")

  table-filters
    search-box(placeholder="{{'Find a system' | translate}}", on-search='search(model)')
    check-in-select
    rhsa-severity-select
    days-known-select

