.page-vulnerabilities
  section
    page-header(title="Vulnerabilities", icon="fa-stethoscope")

  table-filters
    search-box(placeholder="{{'Find a system' | translate}}", on-search='search(model)')
    check-in-select
    rhsa-severity-select
    days-known-select

  // TODO make embedded card a component
  .content-wrap
    expand-all-button.toggle-expand-right
    card.outer-card(expandable='true', ng-repeat='vulnerability in vulnerabilities')
      card-header-expandable
        .card-header-title
          .title.package-info
            .name {{vulnerability.name}}
            .date Release Date: {{vulnerability.release_date}}
          .vul-state 
            .critical.icon-inline
              i.fa.fa-shield
              span(translate) {{vulnerability.critical_count}} Critical
            .important.icon-inline
              i.fa.fa-shield
              span(translate) {{vulnerability.important_count}} Important
            .moderate.icon-inline
              i.fa.fa-shield
              span(translate) {{vulnerability.moderate_count}} Moderate 
            .low.icon-inline
              i.fa.fa-shield
              span(translate) {{vulnerability.low_count}} Low
      //- card-content.card-content.embedded-card(collapse="card.collapsed")
        table
          thead
            tr
              th.sortable.nowrap(translate) System Name
              th.sortable.nowrap(translate) System Type
              th.sortable.nowrap(translate) Last Check In
              th.sortable.nowrap(translate) Status
          tbody
            tr(ng-repeat='system in vulnerability.systems')
              td.nowrap
                a(ng-click='showSystem(system.system_id)') {{system.toString}}
              td.nowrap
                type-icon(type-id='system.system_type_id', include-text='true')
              td.nowrap
                span {{system.last_check_in | timeAgo}}
              td.nowrap
                span {{system.report_count}}
      card-content.card-content.embedded-card(collapse="card.collapsed")
        table
          thead
            tr
              th.min.fit-content.nowrap.sortable(translate) System Type
              th.nowrap.sortable(translate) System Name
              th.min.fit-content.nowrap.sortable(translate) Last Check In
              th.min.fit-content.nowrap.sortable(translate) Status
          tbody
            tr(ng-repeat='system in vulnerability.systems')
              td.fit-content.nowrap
                type-icon(type-id='system.system_type_id', include-text='true')
              td.fit-content.nowrap
                a(ng-click='showSystem(system.system_id)') {{system.toString}}
              td.fit-content.nowrap
                span {{system.last_check_in | timeAgo}}
              td.fit-content.nowrap
                span {{system.report_count}}

              

