div
  filter-button
  .ng-animate-enabled.slide.action-filters(ng-show='getShowFilters()')
    .row
      .col-sm-12
        product-select
      .col-sm-12
        div(ng-show='getSelectedProduct() === "osp"')
          osp-deployment-select
          //osp-type-multi-button //GET /latest/rules doesn't support roles yet
        div(ng-show='getSelectedProduct() === "rhev"')
          //rhev-type-multi-button //GET /latest/rules doesn't support roles yet
        div(ng-show='getSelectedProduct() === "docker"')
          docker-host-select
          //docker-type-multi-button //GET /latest/rules doesn't support roles yet
      .col-sm-12
        group-select(round='false')
      .col-md-12
        severity-multi-button
  div(ng-hide='getShowFilters()')
    filter-summary(valid-fields='validSummaryFields')


