.page-header
  h1.title.page-title
    i.fa.fa-file-text &nbsp;
    span(translate) Configuration
.content-wrap
  tabset.config-tabs
    tab(heading="{{'Hidden Rules'|translate}}", active="current.hidden", ng-click="tabClick('hidden')")
      config-hidden(ng-if="current.hidden")
    tab(heading="{{'Groups'|translate}}", active="current.groups", ng-click="tabClick('groups')")
      config-groups(ng-if="current.groups")
    tab(heading="{{'Messaging'|translate}}", active="current.messaging", ng-click="tabClick('messaging')")
      config-messaging(ng-if="current.messaging")
    tab(heading="{{'Settings'|translate}}", active="current.settings", ng-click="tabClick('settings')")
      config-settings(ng-if="current.settings")

    // rh only
    tab(heading='Permissions', active="current.permissions",
      ng-if='user.is_internal && perms.has(user, perms.PERMS.SU)',
      ng-click="tabClick('permissions')")
      config-permissions(ng-if="current.permissions")
    tab(heading='Dev', active="current.dev", ng-click="tabClick('dev')", ng-if='user.is_internal || user.demo_mode')
      config-dev(ng-if="current.dev")
