page-header(title="Configuration", icon="fa-file-text")
.content-wrap
  md-content
    md-tabs.md-dynamic-height.md-border-bottom(md-swipe-content="true")
      md-tab(label="{{'Messaging'|translate}}")
        md-content.md-padding
          config-messaging
      md-tab(label="{{'Settings'|translate}}")
        md-content.md-padding
          config-settings
      //Red Hat Only
      md-tab(label="{{'Webhooks'|translate}}", ng-if='isBeta')
        md-content.md-padding
          config-webhooks
      md-tab(label='Permissions', ng-if='user.is_internal && perms.has(user, perms.PERMS.SU)')
        md-content.md-padding
          config-permissions
      md-tab(label="{{'Dev'|translate}}", ng-if='user.is_internal || user.demo_mode')
        md-content.md-padding
          config-dev
