.col-sm-4
  card.topic-card
    card-header.header
      h4 {{topic.title}}
      div
        span.count(translate, translate-n='topic.affectedSystemCount', translate-plural='{{$count}} Systems') 1 System
    card-content.description.gray(ng-bind-html='topic.summary_html ? topic.summary_html : Xtopic.content_html | trust_html')
    card-footer.footer.text-right-sm    
      strong
        a.pointer(translate, ui-sref="app.topic({id: topic.slug ? topic.slug : topic.id, product: getSelectedProduct()})") View More
