.inventory-header {

  .ins-p-chart-list__item {
    display: flex;
    align-items: center;
    margin-right: 0;
    margin-left: auto;
    .header-donut-chart + .header-donut-chart { @include rem('margin-left', $global-margin); }
  }

  .ins-p-chart-list__item + .ins-p-chart-list__item { @include rem('margin-left', $global-margin); }

  .ins-p-chart-list__item:last-of-type { @include rem('margin-right', $global-margin); }

  .c3-chart-arcs-title { display: none; }
  .c3-chart-arc text { display: none; }
}
