.deployment-header {
  background: #fff;
  border-bottom: 1px solid #d1d1d1;
  box-shadow: 0 1px 0 rgba(3,3,3,.045);
  margin: 0;
  @include rem('padding', $global-margin);
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;

  h1 {
    @include font-size(24px, 1);
    margin: 0;
  }
  h2 {
    @include font-size(20px, 1);
    @include rem('margin', 15px 0 0 0);
    font-weight: 500;
  }

  h2 span + span {
    &:before {
      content:"\2758";
      @include rem('margin', 0 10px);
    }
  }

  .donut-charts {
    display: flex;
    margin-right: 0;
    margin-left: auto;
    .header-donut-chart + .header-donut-chart { @include rem('margin-left', $global-margin); }
  }

  .c3-chart-arcs-title { display: none; }
  .c3-chart-arc text { display: none; }
}
