section.deployment-header
  .page-title
    h1
      span.text(translate) {{:: nameTranslated}}
    h2
      span.text(translate) {{:: regionTranslated}}
      span.text(translate) {{:: typeTranslated}}

  .donut-charts
    .donut-chart.pf-is-with-text.pf-is-small
      .chart.chart-vulnerability
      .chart-info
        .chart-title {{charts.vulnerability.name}}
        b {{charts.vulnerability.title}} &nbsp;
        span Secure

    .donut-chart.pf-is-with-text.pf-is-small
      .chart.chart-compliance
      .chart-info
        .chart-title {{charts.compliance.name}}
        b {{charts.compliance.title}} &nbsp;
        span Compliant

    .donut-chart.pf-is-with-text.pf-is-small
      .chart.chart-advisor
      .chart-info
        .chart-title {{charts.advisor.name}}
        b {{charts.advisor.title}} &nbsp;
        span Optimized

    .donut-chart.pf-is-with-text.pf-is-small
      .chart.chart-subscription
      .chart-info
        .chart-title {{charts.subscription.name}}
        b {{charts.subscription.title}} &nbsp;
        span Utilized