.platform-grid {
  @include media-query(sm){
    display: grid;
    grid-template-rows: max-content auto max-content;
    grid-template-areas: "topbar"
                      "main"
                      "primary-nav";    
    height: 100vh;
  }


  @include media-query(sm){
    grid-template-columns: max-content 1fr;
    grid-template-rows: auto;
    grid-template-areas: "topbar topbar"
                        "primary-nav main";    
  }

  // @include media-query(md) { grid-template-rows: minmax(30px, max-content) 1fr; }
}

.view-content {
  grid-area: main;
  display: flex;
  flex-direction: column;

  @include media-query(sm){ overflow-y: auto; }
}

.platform-grid.collapsed {
  grid-template-columns: minmax(30px, max-content) 1fr;

  .primary-nav .text { @include media-query(sm){ display: none; } }
  account-select { display: none; }
}
