/* ==================================================================
/* Platform grid
/* ================================================================== */
/**
 * This document defines the styling for the app.jade grid and is
 * currently nested within body. It controls primary component layout.
**/


.platform-grid {
  height: 100vh;

  @include media-query(sm){
    display: grid;
    grid-template-areas: "topbar"
                      "main"
                      "primary-nav";    
  }


  @include media-query(sm){
    grid-template-columns: max-content 1fr;
    grid-template-rows: min-content auto;
    grid-template-areas: "topbar topbar"
                        "primary-nav main";
  }
}

.platform-grid.collapsed {
  grid-template-columns: minmax(30px, max-content) 1fr;
}
