.platform-grid {

  @include media-query(sm){
    display: grid;
    height: 100%;
    grid-template-columns: max-content 1fr;
    grid-template-rows: minmax(30px, max-content) 1fr;
    grid-template-areas: "logo topbar"
                        "sidenav main";
  }

  @include media-query(md){ grid-template-rows: minmax(30px, max-content) 1fr;  }
    grid-template-columns: 80px 1fr;
    grid-template-rows: minmax(30px, max-content) 1fr;
    grid-template-areas: "logo topbar"
                        "sidenav main";
  }

  @include media-query(md){
    display: grid;
    grid-template-columns: minmax(max-content, 18%) 1fr;
    grid-template-rows: minmax(30px, max-content) 1fr;
  }
}
