$sidenav-bg: #454853;
$dashboard-nav-border-color: #403b3f;
$dashboard-nav-header-bg: #4d464b;
$dashboard-nav-input-bg: #322e31;
$aside_anchor_bg: #4d464b;
$aside_anchor_color: #fff;
$aside_anchor_hover_bg: gray;


.app-grid > sidenav {
  grid-area: sidenav;

  @include media-query(sm){

  }
}

sidenav {
  transition: .2s;
  overflow-y: auto;
  background-color: #403b3f; // Old browsers
  box-shadow: inset -3px 0 8px 4px rgba(0, 0, 0, 0.3);
  // box-shadow: inset -16px 0 50px 0px rgba(0,0,0,.5);
}

sidenav .header-block {
  transition: .2s;
  position: relative;
  @include rem('margin-bottom', 2px);
  @include rem('padding', $global-padding);
  color: #fff;

  label { color: #fff; }

  input {
    width: 100%;
    @include rem('padding', 2px 8px);
    border: none;
    box-shadow: none;
    background: $dashboard-nav-input-bg;
  }

  .group-select .btn {
    @include rem('padding', 2px 6px);
    @include rem('margin-bottom', 5px);
    float: right;
    color: #999999;

    &:hover { color: #f0f0f0; }
  }

  .chosen-drop {
    background: #3E383C;

    .chosen-search { input[type="text"] { border: 1px solid lighten(#3E383C, 10); } }
    .chosen-results {

      .active-result { background: lighten(#3E383C, 10); }

      .highlighted {
        background: #f0f0f0;
        color: #252527;
      }
    }
  }

  .toggleProfile {
    position: absolute;
    right: 15px;
    bottom: 18px;

    i {
      position: absolute;
      right: 0;
      bottom: 0;
      transition-delay: .2s;
      transition-duration: .4s;
    }

    &.expanded { i.fa-expand { opacity: 0; } }
    &.compressed { i.fa-compress { opacity: 0; } }
  }

  .internal {
      margin-top: 5px;
      input {
          width: 15px;
      }
  }
}

sidenav nav.primary-nav {

  ul {
    @include reset();

    li {
      border-bottom: 1px solid rgba(0,0,0,.2);
      border-top: 1px solid rgba(255,255,255,.05);
    }

    li a {
      display: block;
      @include rem('padding', 30px);
      color: #fff;
      font-weight: 700;
      border-bottom: 1px solid darken($aside_anchor_bg, 5%);
      transition-duration: .2s;

      .text {
        @include rem('margin-left', 6px);
      }
    }

    li a:hover,
    li a.current {
      background: rgba(255,255,255,.1);
    }
  }
}

sidenav nav.primary-nav ul li a > span {
  margin-left: 0;
  transition: right .2s, opacity .2s;
}

sidenav.min {

  nav.primary-nav ul li a > span {
    position: absolute;
    right: 100%;
    opacity: 0;
  }
}


menu.account {
  // margin: 0;

  // li {
  //   position: relative;
  //   float: left;
  //   @include rem('margin-left', 20px);

  //   a {
  //     @include rem('padding', 2px 12px 12px 0);
  //     display: block;
  //     @include font-size(13px);
  //     font-weight: bold;
  //     color: #9fa0a1;

  //     @include transition-duration(.1s);
  //   }

  //   &:after {
  //     content: '';
  //     position: absolute;
  //     bottom: 0;
  //     left: 0;

  //     width: 22px;
  //     height: 0;
  //     background: #fff;
  //     @include transition-duration(.1s);
  //   }


  //   &.current, &:hover {

  //     &:after { height: 4px; }
  //     a { color: #fff; }
  //   }

  //   &:hover {
  //     &:after {
  //       bottom: 0;
  //     }
  //   }
  // }
}
