// Layout
//==================================================================*/
.platform-grid > topbar {
  grid-area: topbar;  

  @include media-query(sm){
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-gap: $global-margin;    
  }

  .cell {
    @include media-query(sm) {
      align-items: center;
    }
  }
}
