span.dropdown.dropdown-notification(dropdown='', on-toggle='toggled(open)')
  a.dropdown-toggle(href='', dropdown-toggle='')
    i.fa(class='{{icon}}')
    span.count(ng-if="unackedCount !== 0") {{unackedCount}}
  ul.dropdown-menu.preview
    li.announcement(ng-repeat="item in items", ng-class="{ acked: (item.acked) }", ng-click="item.acked ? selectAnnouncement(item) : ack(item)")
      .row
        .col-sm-12
          b {{item.title}}
          .message-status-toggle
            i.fa.fa-check-circle-o.acked(ng-if="item.acked")
            i.fa.fa-circle-o(ng-if="!item.acked")
      .row
        .col-sm-12
          .message {{item.body.length > 140 ? item.body.substring(0, 140) + '...' : item.body.substring(0, item.body.length)}}
    li(ng-if="items.length === 0")
      strong(translate) You have no announcements
    li.view-all(ng-if="items.length !== 0")
      a.btn.btn-accent(ui-sref="app.announcements", translate) View All
