section.page-header(ng-transclude)
  .page-title
    span.sub-title(ng-if='subtitle', translate) {{subtitle}}
    h1
      i.fa(ng-if='icon', class="{{:: icon}}", aria-hidden='true')
      span.text(translate) {{:: titleTranslated}}
