.page-header.content-wrap
    .content-block
        div(ng-transclude)
        h1.page-title.pull-left
            span.icon-inline
                i.fa(class="{{icon}}")
            span(translate) {{titleTranslated}}
  
