.page
  .section
    .row.push-top
      .col-sm-12
        // This needs form validation
        form(name='form')
          .form-group
            label.control-label(translate) Page Reported
            p.form-control-static {{:: feedbackInfo.fromPage }}
          .form-group
            label.control-label(translate) Email
            p(translate) {{:: feedbackInfo.user.email }}&nbsp;
              small(translate) (to change your Red Hat email address&nbsp;
                a(translate, href="https://www.redhat.com/wapps/ugc/protected/emailChange.html") click here
                | )
            input.form-control(ng-if='emailOverride', type='email', ng-model='feedbackInfo.user.email')
          .form-group
            label.control-label(translate) Comment
            textarea.form-control(type='text', rows='5', ng-model='comment')
          .pull-right
            small.text-danger(ng-if='isError', translate) An error occurred. Please try again later.&nbsp;
            .btn-group
              button.btn.btn-accent(name='cancel' ng-click='close()', translate) Cancel
              button.btn.btn-accent(name='submit' ng-click='submitForm()' ng-disabled='!form.$valid || !isCommentPopulated()', translate) Submit
