.page
  .section
    a.btn.btn-sm.btn-app.pull-right(ui-sref='app.admin-rule-tags') Manage tags
    .rule-breadcrumb.push-top-narrow
    .row
      .col-sm-12.col-md-6
        h1.page-title Rules Admin (read-only mode)
    .row.row-short
      .col-sm-12
        rule-state-multi-button(on-change='activateTab(state)')
    .row.row-short
      .col-sm-12
        category-multi-button(key='RULE_ADMIN_CAT_FILTER_KEY', on-click='categorySelected()')
    .row.row-short
      .col-sm-6
        search-box(on-search='search(model)', placeholder='Search by error_key, plugin, description')
      .col-sm-6
        tags-input(ng-model='tags', placeholder='Filter by tags', add-from-autocomplete-only='true')
          auto-complete(source='suggestTag($query)')
  .row.push-top-narrow
    table.table.table-striped.table-bordered.ng-table.error-infos
      thead
        tr
          th.sortable.key(ng-class="predicate | sortClass:'rule.error_key':reverse", ng-click="predicate = 'rule.error_key'; reverse=!reverse") 
            .sort-indicator Rule key
          th.sortable.plugin(ng-class="predicate | sortClass:'rule.plugin':reverse", ng-click="predicate = 'rule.plugin'; reverse=!reverse") 
            .sort-indicator Plugin
          th.sortable.type(ng-class="predicate | sortClass:'rule.type':reverse", ng-click="predicate = 'rule.type'; reverse=!reverse") 
            .sort-indicator.vertical Product
          th.sortable.cat(ng-class="predicate | sortClass:'rule.category':reverse", ng-click="predicate = 'rule.category'; reverse=!reverse") 
            .sort-indicator.vertical Category
          th.sortable.sev(ng-class="predicate | sortClass:'rule.severityNum':reverse", ng-click="predicate = 'rule.severityNum'; reverse=!reverse") 
            .sort-indicator.vertical Total Risk
          th.sortable.sev(ng-class="predicate | sortClass:'state':reverse", ng-click="predicate = 'state'; reverse=!reverse") 
            .sort-indicator.vertical State
          th.sortable.count(ng-class="predicate | sortClass:'count':reverse", ng-click="predicate = 'count'; reverse=!reverse") 
            .sort-indicator Count
          th.sortable.desc(ng-class="predicate | sortClass:'rule.description':reverse", ng-click="predicate = 'rule.description'; reverse=!reverse") 
            .sort-indicator Description
          th
      tbody
        tr.ng-cloak(ng-repeat="record in currentRules track by record.rule_id")
          td.key {{record.rule.error_key}}
          td.plugin {{record.rule.plugin}}
          td.type {{record.rule.type ? (record.rule.type | uppercase) : 'NONE'}}
          td.cat
            category-icon(category='record.rule.category', tooltip='{{record.rule.category}}')
          td
            severity-icon.severity(severity='record.rule.severity', type='severity', label='')
          td
            rule-state-icon(state='record.state', tooltip='{{record.state}}')
          td.count {{record.count}}
          td.desc
            a(ui-sref='app.show-rule({id: record.rule_id})') {{record.rule.description}}
          td.util
            .td-wrap
              .utilities-tray
                i.fa.fa-cogs(ng-click='toggleTray(record)')
                .tray(ng-show='isToggled(record)')
                  a(ui-sref='app.show-rule({id: record.rule_id})', ng-if="includes(['active', 'inactive', 'retired'], record.state)") Show
                  a(ui-sref='app.edit-rule({id: record.rule_id})', ng-if="includes(['active', 'inactive', 'retired'], record.state)", disabled) Edit
                  a(ng-click='createRecord(record)', ng-if="includes(['needs-content'], record.state)", disabled) Add Content
                  a(ng-click='deactivateRecord(record)', ng-if="includes(['active'], record.state)", disabled) Deactivate
                  a(ng-click='activateRecord(record)', ng-if="includes(['inactive'], record.state)", disabled) Activate
                  a(ng-click='retireRecord(record)', ng-if="includes(['inactive'], record.state)", disabled) Retire
                  a(ng-click='unretireRecord(record)', ng-if="includes(['retired'], record.state)", disabled) Unretire
                  a(ng-click='deleteRecord(record)', ng-if="canDelete && includes(['inactive', 'retired'], record.state)", disabled) Delete
        tr(ng-show='loader.loading')
          td(colspan='9')
            .spinner
        tr(ng-show='!loader.loading && !currentRules.length')
          td.text-center(colspan='8') No rules
      tfoot(ng-show="searchedRules.length > pager.perPage")
        tr
          td(colspan='9')
            pagination.pull-right.pagination-gray(total-items="searchedRules.length", ng-model="pager.currentPage", previous-text="«", next-text="»", max-size="5", rotate="false", items-per-page="pager.perPage", ng-change="page()")
  .rha-notifications
  .row
    .col-sm-12
      a.btn.btn-sm.action.pull-right(ng-click='exportRules()')
        span.icon-inline
          i.fa.fa-download
        span(translate) Export all rules (CSV)
  .row
    .col-sm-12.col-md-6
      h1.page-title Create Rule
      form.form-inline(ng-submit='createRule()', name='newRuleForm')
        input.rounded(type='text', placeholder='Plugin', ng-model='newRule.plugin', required, disabled)
        input.rounded(type='text', placeholder='Error Key', ng-model='newRule.error_key', required, disabled)
        button.btn.btn-app(type='submit', disabled) Create
