.page
  .section
    .rule-breadcrumb.push-top-narrow
    .row.push-top-narrow
      .col-sm-12
        h1.page-title Edit Rule
    .rha-notifications
    .row.row-short
      .col-sm-12
        rule-form
