.updatable(ng-class='{updating: table.loader.loading}')
  .spinner.spinner-lg(ng-show='table.loader.loading')
  table.table.nomar.ng-table.maintenance-table
    thead
      tr
        th.text-center(ng-show='edit')
          input.select-all(ng-model="checkboxes.checked", type="checkbox", ng-indeterminate="checkboxes.indeterminate", ng-change='checkboxChecked()')
        th.sortable(ng-class="table.sorter.getSortClass('display')", ng-click="table.sorter.sort('display')", translate) Action
        th.sortable.text-center(ng-class="table.sorter.getSortClass('rule.severityNum')", ng-click="table.sorter.sort('rule.severityNum')", translate) Total Risk
        th.sortable.text-center(ng-class="table.sorter.getSortClass('done')", ng-click="table.sorter.sort('done')", translate) Status
      tr(ng-show='edit')
        th.filter(colspan='4')
          input.form-control.nomar-left.input-sm(type='text', placeholder='Filter by rule name', ng-model="table.filter.display", ng-change='table.doFilter()')
    tbody
      tr(ng-repeat="action in table.data track by action.id", data-id="{{action.id}}",
        ng-click="checkboxRowClick($event, action.id)",
        ng-mousedown="checkboxRowClick($event, action.id)")
        td.text-center(ng-show='edit')
          input(ng-model='checkboxes.items[action.id]', type="checkbox")
        td.overflow(ng-class='{"icon-inline": action._type === 2}')
          i.icon.fa.fa-exclamation-circle(ng-if='action._type === 2', tooltip="{{'This action is already part of another plan' | translate}}")
          a.text.action(ng-click='table.showSystemModal(table.params.item, action.rule)') {{action.display}}
        td.text-center
          severity-icon(severity='action.rule.severity', type='severity', label='')
        td.status.text-center
          status-icon(status='action.done')
    tfoot(maintenance-table-footer)
