tr(ng-show='edit')
  td(colspan='{{cols || 4}}')
    .pull-right.btn-group(role='group')
      button.btn.btn-sm.btn-blank(ng-click='table.cancel()', translate) Cancel
      button.btn.btn-sm.btn-accent(ng-click='table.save()', ng-disabled='!checkboxes.totalChecked', translate) Save
tr(ng-if="table.filteredActions.length > table.pager.perPage")
  td(colspan='{{cols || 4}}')
    pagination.pull-right.pagination-gray(total-items="table.filteredActions.length", ng-model="table.pager.currentPage", previous-text="«", next-text="»", max-size="3", rotate="false", items-per-page="table.pager.perPage", ng-change="table.page()")
