.maintenance-page
  .page-header(ng-class="{'inactive': !expandBar, 'active': expandBar}")
    .content-block
      .create-plan-actions.text-right.pull-right
        a.create-plan(ng-click='MaintenanceService.showMaintenanceModal()')
          span(translate) &nbsp;Create a plan
          i.fa.fa-plus-circle
        a.create-plan(ng-click='newSuggestion()', ng-if='isInternal')
          small.red(translate) New suggested plan
            i.fa.fa-plus-circle
      h1.page-title.pull-left
        i.fa.fa-wrench &nbsp;
        span(translate) Planner
    maintenance-plan-bar

  section
    collapsible-filter
      collapsible-filter-content
        .row
          maintenance-category-select.col-xs-6.col-md-4.col-lg-3(category='category', on-select='setCategory(category)')

  .content-wrap
    section.table-search
      .row
        .col-xs-6
          search-box(ng-model='searchTerm')
    section
      .row.row-short(ng-show='loading')
        .col-xs-12
          .load.text-center
            .spinner.spinner-lg
            span(translate) Loading plans…
      .rha-notifications
      div(ng-if='!loading')
        .row(ng-if="!shownPlans.length")
          .text-center
            h4(translate) No plans
        .row(ng-if="category === 'future' || category === 'past'", ng-repeat="plansPerMonth in shownPlansByMonth")
          .col-sm-12
            h3 {{plansPerMonth[0].start | moment:'MMMM YYYY'}}
          maintenance-plan(
            ng-repeat="plan in plansPerMonth | searchMaintenancePlans: searchTerm track by plan.maintenance_id")
        .row(ng-if="category === 'unscheduled' || category === 'suggested'")
          maintenance-plan(
            ng-repeat="plan in shownPlans | searchMaintenancePlans: searchTerm | orderBy:'-maintenance_id' track by plan.maintenance_id")
        .row(ng-if="category === 'all'")
          maintenance-plan(
            ng-repeat="plan in shownPlans | searchMaintenancePlans: searchTerm | orderBy:['suggestion !== null', '-start', '-maintenance_id'] track by plan.maintenance_id")
