.maintenance-page
  page-header(title="Maintenance Planner", icon="fa-wrench", ng-class="{'inactive': !expandBar, 'active': expandBar}", ng-transclude)
    .create-plan-actions.text-right.pull-right
      a.create-plan(ng-click='MaintenanceService.showMaintenanceModal()')
        span(translate) &nbsp;Create a plan
        i.fa.fa-plus-circle
      a.create-plan(ng-click='newSuggestion()', ng-if='isInternal')
        small.red(translate) New suggested plan
          i.fa.fa-plus-circle

  section
    collapsible-filter
      collapsible-filter-content
        .row
          maintenance-category-select.col-xs-6.col-md-4.col-lg-3(category='category', on-select='setCategory(category)')

  .content-wrap
    section.table-utilities
      .row
        .col-xs-7.col-sm-5
          search-box(ng-model='searchTerm', placeholder="{{'Search plans' | translate}}")
    section
      .row.row-short(ng-show='loading')
        .col-xs-12
          .load.text-center
            .spinner.spinner-lg
            span(translate) Loading plans…
      .rha-notifications
      div(ng-if='!loading')
        .row(ng-if="!plans[category].length")
          .text-center
            h4(translate) No plans

        plan-list(ng-if="category === 'unscheduled'", plans='plans.unscheduled | searchMaintenancePlans: searchTerm', page-size='8')
        plan-list(ng-if="category === 'suggested'", plans='plans.suggested | searchMaintenancePlans: searchTerm', page-size='8')
        plan-list(ng-if="category === 'past'", plans='plans.past | searchMaintenancePlans: searchTerm', group='true', page-size='6')
        plan-list(ng-if="category === 'future'", plans='plans.future | searchMaintenancePlans: searchTerm', group='true', page-size='6')

        span(ng-if="category === 'all'")
          h2(translate, ng-if='plans.suggested.length') Suggested Plans
          plan-list(plans='plans.suggested | searchMaintenancePlans: searchTerm', page-size='2')

          h2(translate, ng-if='plans.unscheduled.length') Plans
          plan-list(plans='plans.unscheduled | searchMaintenancePlans: searchTerm', page-size='6')

          h2(translate, ng-if='plans.scheduled.length') Scheduled Plans
          plan-list(plans='plans.scheduled | searchMaintenancePlans: searchTerm', group='true', page-size='4')
