ins-alerts
  //- span.dropdown.dropdown-notification(dropdown='', on-toggle='toggled(open)')
  //-   .spinner.spinner-sm(ng-if="loading")
  //-   a.dropdown-toggle(href='', dropdown-toggle='', ng-if="!loading")
  //-     i.fa(class='{{:: icon}}')
  //-     span.count(ng-if="service.unackedCount !== 0") {{:: service.unackedCount}}
  //-   ul.dropdown-menu.preview(ng-if="!loading")
  //-     li.announcement(ng-repeat="item in service.items", ng-class="{ acked: (item.acked) }")
  //-       div
  //-         i.fa.inline-right(ng-if='item.icon', ng-class='item.icon')
  //-         b(ng-bind-html=':: item.msg | trust_html', ng-click="item.onSelect(item)")
  //-       .message-status-toggle(
  //-         ng-if='item.onAck',
  //-         ng-click="!item.ack && item.onAck(item)"
  //-         tooltip="{{:: 'Dismiss' | translate}}")
  //-         i.fa.fa-circle-o(ng-if="!item.acked")
  //-         i.fa.fa-check-circle-o.acked(ng-if="item.acked")
  //-     li(ng-if="service.items.length === 0")
  //-       strong(translate) You have no alerts

  span.count(ng-if="service.unackedCount !== 0") {{:: service.unackedCount}}
  md-menu(md-offset="0 34", md-position-mode="target-right target")
    md-button.md-icon-button(aria-label="Open phone interactions menu" ng-click='$mdMenu.open()')
      i.fa(class='{{:: icon}}')
    md-menu-content(width="4")
      md-menu-item.announcement(ng-repeat="item in service.items", ng-class="{ acked: (item.acked) }")
        md-button 
          div
            i.fa.inline-right(ng-if='item.icon', ng-class='item.icon')
            b(ng-bind-html=':: item.msg | trust_html', ng-click="item.onSelect(item)")
          .message-status-toggle(
            ng-if='item.onAck',
            ng-click="!item.ack && item.onAck(item)"
            tooltip="{{:: 'Dismiss' | translate}}")
            i.fa.fa-circle-o(ng-if="!item.acked")
            i.fa.fa-check-circle-o.acked(ng-if="item.acked")
      md-menu-item(ng-if="service.items.length === 0")
        md-button(translate) You have no alerts
