.expandableDataTable {
  ul {
    display: inline-block;
    @include reset();


    @include media-query(md) {
      &:hover {
        li span { display: inline-block; }
      }
    }
  }

  ul li {
    display: inline-block;

    i {

    }

    span {
      display: none;
    }
  }

  

}

.expandableDataTable.expanded,
.expandableDataTable.hover {

  ul li {
    span {
      display: inline-block;
    }
  }
}