.system-metadata-table {
  .metadata-tab {
    @include rem('padding-top', $global-padding);
    @include rem('padding-bottom', $global-padding);
    border: 1px solid #ddd;
    text-align: center;
    display: inline-block;
  }

  .extend-tabs-icon {
    padding: $global-padding 0;
    text-align: center;
    display: inline-block;
  }

  i {
    line-height: inherit;
  }
}