// TODO Make breadcrumbs from any state
section.breadcrumbs
    ol
      li
        a(ui-sref='app.inventory-deployment')
          span(translate) Inventory
      li
        a(ui-sref='app.inventory-deployment')
          span US East Cloud
      li 
        span {{system.hostname}}

page-header(title="System Overview")

.text-center(ng-if='loading.pageLoading')
  .spinner.spinner-lg

system-metadata.ins-l-system-metadata(system='system', ng-if="!loading.pageLoading")
