.page-system-overview
  // TODO Make breadcrumbs from any state
  .breadcrumbs
      ol
        li
          a(ui-sref='app.inventory-deployment')
            span(translate) Inventory
        li
          span {{system.hostname}}
  page-header(title="System Overview")

  .text-center(ng-if='loading.pageLoading')
    .spinner.spinner-lg

  section.content(ng-if="!loading.pageLoading")
    system-metadata(system='system')
