.digests-page
  page-header(title="Executive Report", icon="fa-bar-chart", ng-class="{'inactive': !expandBar, 'active': expandBar}")
  .content-wrap.margin-top(ng-show='loading')
    .text-center
      .spinner.spinner-lg
  .content-wrap.margin-top(ng-show='!loading && systemsTilTen > 0')
    .row
      .col-sm-12.col-md-8.col-md-offset-2.text-center
        h1(translate) Executive Reporting requires 10 or more systems to be registered with Insights.
        h2(translate) Please register 
          span(translate, translate-n='systemsTilTen', translate-plural='{{$count}} more systems') {{systemsTilTen}} more system
          | &nbsp;to enable reporting for your account.
  .content-wrap(ng-show='!loading && systemsTilTen < 1')
    section
      .row
        .col-md-4
          h2.section-title(translate) Overall score

          .gauge.gauge-score
            .crop
              .grad

            // rotation is the angle calc
            .pivot(style="transform: rotate({{(latest_score-250)*.3}}deg)")
              .arm
                // need a conditional notating either a decrease or increase. if no change, show 0 and no caret
                // rotation is the inverse of angle calc
                .marker(style="transform: rotate(-30deg)", ng-class="{'decrease': score_difference < 0, 'increase': score_difference > 0}")
                  // I need a  conditional here that controls tooltip content
                  //tooltip='Your score has increased by 15 points',
                  //tooltip-trigger='mouseenter',
                  //tooltip-append-to-body='true',
                  //tooltip-placement='top',
                  //translate)

                  i.fa.fa-caret-up(aria-hidden="true")
                  .num {{score_difference}}
                  i.fa.fa-caret-down(aria-hidden="true")

            .score
              h3 {{latest_score}}
              span Score is excellent


            footer.footer
              span.num.floor 250
              span.num.ceiling 850

        .col-md-8
          h2.section-title(translate) Weekly action count by category
          .row.padding-top
            .col-xs-6.col-md-3(ng-repeat='cat in digest_hits_per_cat')
              .gauge.gauge-count-and-change
                .count-and-change
                  .count.large.bold {{cat.current}}
                  .change
                    i.fa.fa-caret-up.increase(ng-if='cat.direction > 0')
                    i.fa.fa-caret-down.decrease(ng-if='cat.direction < 0')
                    i.fa.fa-minus.no-change(ng-if='cat.direction === 0')
                .title
                  i.fa(aria-hidden="true" ng-class='cat.icon')
                  strong.uppercase &nbsp;{{cat.label}}
      .row
        .col-sm-3
        .col-sm-9
          span.large-text(ng-show='!loading', translate)
            i.fa.fa-check-circle.green(ng-if='resolvedIssues > 0')
            i.fa.fa-exclamation-circle.red(ng-if='resolvedIssues === 0')
            | &nbsp;You've resolved&nbsp;
            strong(ng-class='{"green": resolvedIssues > 0, "red": resolvedIssues === 0}', translate, translate-n='resolvedIssues', translate-plural='{{$count}} issues') {{resolvedIssues}} issue
            | &nbsp;in the past {{timePeriod()}} days.

    section.gray.full-width
      ul.nav.nav-tabs-simple.underline(role='tablist')
        li.active(role='presentation')
          a(href='#metrics', aria-controls='metrics', role='tab', data-toggle='tab', translate) Action trends
        li(role='presentation')
          a(href='#systemsRegistered', aria-controls='systemsRegistered', role='tab', data-toggle='tab', translate) Active Systems
        li(role='presentation')
          a(href='#scoreHistory', aria-controls='messages', role='tab', data-toggle='tab', translate) Score history
        li(role='presentation')
          a(href='#allRuleHits', aria-controls='allRules', role='tab' data-toggle='tab', translate) All Rule hits

      // Tab panes
      .tab-content
        #metrics.metrics.tab-pane.fade.in.active(role='tabpanel')
          digest-graph(drop-down='Category', digest-key='metrics', digest='digest_metrics' height='400' ng-if="!loading")
        #systemsRegistered.tab-pane.fade(role='tabpanel')
          digest-graph(digest-key='registered', digest='digest_registered' height='400' ng-if="!loading")
        #scoreHistory.tab-pane.fade(role='tabpanel')
          digest-graph(digest-key='score', digest='digest_score' height='400' ng-if="!loading")
        #allRuleHits.tab-pane.fade(role='tabpanel' ng-if="!loading")
          //- inline style... remove this later
          table(style='background-color: #fff')
            thead
              tr
                th(translate) Rule
                th(translate) Impacted Systems
                th(translate) Total Risk
            tbody
              tr(ng-repeat='rule in allRuleHits')
                td
                  a(ui-sref="app.actions-rule({category: rule.category.toLowerCase(), rule: rule.rule_id})") {{ rule.description }}
                td {{rule.report_count}}
                td
                  severity-icon(severity='rule.severity', type='severity', label='')

    section
      .row
        .col-md-6
          h2.section-title(translate) Ten Most Impacted Systems
          //with hostname, registered date, and score
          table.table-break
            thead
              tr
                th.hostname(translate) Hostname
                th(translate) Hits
            tbody
              tr(ng-repeat='system in topTenWorstSystems')
                td.hostname
                  a(ng-click='showSystem(system)') {{ system | getSystemDisplayName }}
                td {{ system.report_count }}

        .col-md-6
          h2.section-title Ten Most Frequently Hit Rules
          // grouped by criticality, sub grouped by count
          table
            thead
              tr
                th(translate) Rule
                th(translate) Impacted Systems
                th(translate) Total Risk
            tbody
              tr(ng-repeat='rule in topTenRules')
                td
                  a(ui-sref="app.actions-rule({category: rule.category.toLowerCase(), rule: rule.rule_id})") {{ rule.description }}
                td {{rule.impacted_systems}}
                td
                  severity-icon(severity='rule.severity', type='severity', label='')
