topbar .insights-logo {
  align-self: left;

  @include media-query(sm){ display: inline-flex; }

  .home-link md-icon {
    fill: #fff;
    @include rem('width', 120px);
  }

  button.toggle-fullscreen md-icon{
    color: #fff;
    @include font-size(20px);
  }

  button {
    border: none;
  }
}

