$topbar-bg: #F5F5F5;
$topbar-text-color: $base-color;
$topbar-border-color: #ddd;


topbar .navbar {
  // display: block;
  // @include rem('padding', $global-margin);
  // background: $topbar-bg;

  @include media-query(sm){
    display: flex;

    > *:nth-child(2) {
      @include media-query(sm) {
        margin-left: auto; 
      }      
    }
  }
}

topbar .navbar-header,
topbar .navbar-pf-vertical .nav .nav-item-iconic {
  display: flex;
  align-items: center;
}

topbar .navbar-pf-vertical .nav .nav-item-iconic {
  @include rem('padding', 12px);
}

topbar .navbar-pf-vertical .navbar-brand {
  width: 2200px;
  height: auto;
  color: #fff;
}

topbar .home-link md-icon {
  width: 180px;
  height: auto;
}