ins-topbar

  // Insights logo
  .logo-insights
    //- nav toggle button
    md-button.md-icon-button.button-toggle.button-toggle-nav(ng-click="navPrimary()")
      md-icon(md-font-icon="fa fa-navicon")

    a.home-link(ui-sref='app.overview')
      span.hidden(translate) Red Hat Insights
      md-icon(md-svg-src="./static/images/l_insights.svg" aria-label="Red Hat Insights ")


  // Global filters - Group select 
  ins-global-filters(ng-class='{disabled: disabled}', ng-if='isGroupsEnabled')
    group-select(disabled='disabled')


  // Leave feedback button
  button-feedback


  // Notifications and alerts
  ins-notifications
    bullhorn(icon='fa-bullhorn', type='announcements')
    alerts(icon='fa-bell', type='alerts')


  // Help Menu
  md-menu.menu-help(md-offset="0 34", md-position-mode="target-right target")
    md-button.button-dropdown#help(ng-click='$mdMenu.open()')
      strong(translate) Help
      span.caret.dropdown-caret(aria-hidden="true")
    md-menu-content(aria-labelledby="help")
      md-menu-item
        a(href='{{:: gettingStartedLink}}', target='_blank', translate) Getting Started
      md-menu-item
        a(href='https://access.redhat.com/documentation/en/red-hat-insights/', target='_blank', translate) Product Documentation
      md-menu-item
        a(ui-sref='info.info', translate) More Info
      md-menu-item
        a(ui-sref='info.security', translate) Security
      md-menu-item
        a(href='/help/browsers', target='_self', translate, ng-if="isPortal") Browser Support
      md-menu-item
        a(href='/r/insights/docs/', translate) Insights API Documentation
      demo-account-switcher

  button-beta-switch
