nav.navbar.navbar-pf-vertical
  .navbar-header
    button.navbar-toggle(type="button", ng-click='sidenavCollapsed = !sidenavCollapsed')
      span.sr-only Toggle navigation
      span.icon-bar
      span.icon-bar
      span.icon-bar
    a.nav-brand(ui-sref='app.overview')
      span.hidden(translate) Red Hat Insights
      img(src="./static/images/l_insights-inline.svg" aria-label="Red Hat Insights" alt="Red Hat Insights")
    a.navbar-brand(href="/")
      img.navbar-brand-icon(src="/assets/img/logo-alt.svg" alt="")
      img.navbar-brand-name(src="/assets/img/brand-alt.svg" alt="PatternFly Enterprise Application")
  nav.collapse.navbar-collapse
    //- ul.nav.navbar-nav.navbar-right.navbar-iconic.navbar-utility
    //-   li.dropdown
    //-     a#dropdownMenu1.dropdown-toggle.nav-item-iconic(href="#0" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true")
    //-       span.fa.pficon-help(title="Help")
    //-       span.caret
    //-     ul.dropdown-menu(aria-labelledby="dropdownMenu1")
    //-       li
    //-         a(href="#0") Help
    //-       li
    //-         a(href="#0") About
    //-   li.dropdown
    //-     a#dropdownMenu2.dropdown-toggle.nav-item-iconic(href="#0" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true")
    //-       span.fa.pficon-user(title="Username")
    //-       |           Brian Johnson 
    //-       span.caret
    //-     ul.dropdown-menu(aria-labelledby="dropdownMenu2")
    //-       li
    //-         a(href="#0") Preferences
    //-       li
    //-         a(href="#0") Logout