.cell.insights-logo
  button.toggle-fullscreen(ng-click='sidenavCollapsed = !sidenavCollapsed')
    md-icon(md-font-icon="fa fa-indent")
  
  md-button(ng-click="toggleLeft()", 
    class="md-primary", 
    hide-gt-xs)
    md-icon(md-font-icon="fa fa-navicon")

  a.home-link(ui-sref='app.overview')
    span.hidden(translate) Red Hat Insights
    md-icon(md-svg-src="./static/images/l_insights.svg" aria-label="Red Hat Insights ")

.cell.global-filters(ng-class='{disabled: disabled}', ng-if='isGroupsEnabled')
  group-select(disabled='disabled')

.cell.topbar-utilities
  menu.notifications
    bullhorn(icon='fa-bullhorn', type='announcements')
    alerts(icon='fa-bell', type='alerts')
  span.sep
  md-menu(md-offset="0 34", md-position-mode="target-right target")
    md-button.button-dropdown#help(ng-click='$mdMenu.open()') 
      strong(translate) Help
      span.caret.dropdown-caret(aria-hidden="true")
    md-menu-content(aria-labelledby="help")
      md-menu-item
        a(ui-sref='https://access.redhat.com/products/red-hat-insights#getstarted', target='_blank', translate) Getting Started
      md-menu-item
        a(ui-sref='info.info', translate) More Info
      md-menu-item
        a(ui-sref='info.security', translate) Security
      md-menu-item
        a(href='/help/browsers', target='_self', translate, ng-if="isPortal") Browser Support
      md-menu-item
        a(href='/r/insights/docs/', translate) Insights API Documentation
      md-menu-item
        demo-account-switcher

  beta-switch-button

