// $button-primary-bg: linear-gradient(to bottom, rgba(55,176,252,1) 0%,rgba(32,151,230,1) 100%);
$button-primary-bg: $blue;
$button-primary-color: #fff;

.button-group{
  display: inline;
  a + a { @include rem('margin', 5px); }
}

.button-tag {
  display: inline-flex;
  @include rem('padding', 8px 15px);
  border-radius: 50px;
  background: $gray-light;
  align-items: center;

  i { 
    @include font-size(20px, 1);
    @include rem('margin-left', 6px); 
  }
}

.md-button,
button {
  width: auto;
  height: auto;
  @include rem('padding', 10px 25px);
  margin: 0;
  min-width: 0;
  min-height: 0;
  color: $base-color;
  @include font-size(14px, 1);
  text-transform: none;
  font-family: 'overpass';
  transition: .2s;
  //box-shadow: 0 2px 3px 0px rgba(0,0,0,.2);
}

button.tag {
  border-radius: 50px;
}

.dropdown button {
  &:disabled {
    opacity: .5;
    border: 1px solid $gray;
  }

  &:disabled:hover {
    cursor: not-allowed;
  }
}

.dropdown-plain {
  padding: 0;
}

// Dropdown buttons
.button-dropdown {
  @include rem('padding', $global-padding/2);
  box-shadow: none;
}


a,
.btn, 
button {
    outline: none;
    border: none;

    &:active, &:focus, &:visited {
        outline: none !important;
        box-shadow: none;
    }
}

button,
button:active,
button:focus {
  // border: none;
  // outline: 0;
}

.button-filter {
  @include rem('padding', 10px $global-padding);
  box-shadow: none;
  border-radius: 50px;
  border: 1px solid $gray-md;
  color: $black-base; 
  display: inline-flex;
  justify-content: space-between;
}

.button-primary {
  background: $button-primary-bg;
  color: $button-primary-color;

  &:hover {
    background-color: darken($button-primary-bg, 10);
  }
}

.btn .svg {
  display: block;
  width: 34px;
  height: auto;

  & + span {
    @include rem('margin-left', 12px);
  }
}

.btn.btn-open-gray {
  text-transform: none;
  border: 1px solid $gray;
  //@include rem('padding', $global-padding);
  color: $gray-dark;
  background: #fff;
}

.btn.btn-open {
  border: 1px solid $gray-border-med;
  color: $gray-dark;

  &:hover {
    background: darken($gray-dark, 10);
    color: white;
  }
}


.btn.btn-blank {
    color: $gray-dark;
    background: none;
    border: none;

    &:hover {
        color: darken($gray-dark, 10);
        background: none;
    }

    &.blue { color: $blue; }
}

button.simple,
.btn.simple {
  border: none !important;
  box-shadow: none !important;
  outline: none;
}

.notification-count {
    display: inline-block;
    @include rem('padding', 4px 8px);
    background: $gray-dark;
    text-align: center;
    font-weight: 700;
    color: #fff;
    border-radius: 8px;
}

// Originally from the chart reset
//==================================================================
.export,
.reset {
  button {
    @include font-size(24px);
    @include reset-button(8px);
    transition-duration: .6s;

    span {
      transform: rotate(0deg);
      transition-duration: .8s;
      color: lighten(#252527, 40);
      display: block;
    }
  }

  &.inactive button span {
    color: lighten(#252527, 80);
    z-index: 1;
  }
}

.reset {
    &:hover {
      span {
        transform: rotate(180deg);
        color: #0fbaf2;
      }
    }
}

.btn-primary {
  background: #646464;
  border-radius: 0;
  transition-duration: .2s;
  border: 0;

  &:hover {
    background: darken(#646464, 5);
  }
}

.btn-accent{
  background: #07B8FC;

  &:hover {
    background: darken(#07B8FC, 5);
  }
}
.btn-link {
  color: $link-color;
  font-weight: normal;
  border-radius: 0;

  &,
  &:active,
  &.active,
  &[disabled],
  fieldset[disabled] & {
    background-color: transparent;
    box-shadow: none;
  }
  &,
  &:hover,
  &:focus,
  &:active {
    border-color: transparent;
  }
  &:hover,
  &:focus {
    color: $link-hover-color;
    text-decoration: $link-hover-decoration;
    background-color: transparent;
  }
  &[disabled],
  fieldset[disabled] & {
    &:hover,
    &:focus {
      color: $btn-link-disabled-color;
      text-decoration: none;
    }
  }
}

.btn-outline {
    background: #FFF;
    color: #808080;
    border: 1px solid #ddd;

    &:hover {
        color: $link-color;
        background-color: #fff;
        border-color: $link-color;
    }
}

.pull-right {
    .btn-group {
        .btn + .btn {
            margin-left: 12px !important;
        }
    }
}


$brand_red: #cc0000;

.btn-white {
  border: 1px solid #c5c7c9;
  color: #333;
  background: #fff;
  padding: .4375rem .75rem;
}

.btn.btn-circle-icon {
  background: none;
  color: $gray-dark;
  text-transform: none;
  padding: 0;
  transition: .2s;

  .text, .circle-icon {
    display: inline-block;
    vertical-align: middle;
  }

  .text + .circle-icon { @include rem('margin-left', $global-padding); }
  .circle-icon + .text { @include rem('margin-left', $global-padding); }


  .text {
    font-weight: 100;
  }

  .circle-icon {
    position: relative;
    display: inline-block;
    @include font-size(42px);
    line-height: 1;
    @include rem('padding',8px);
    border-radius: 50px;
    border: 2px solid $gray;
    opacity: 1;
    transition: .2s;

    span {
      opacity: 1;
      transform: rotate(0deg);
      transition: .35s;
    }

    &:before {
      content: '\f067';
      color: $gray;
      font: 20px/3 FontAwesome;
      position: absolute;
      top: 0;
      right: 0;
      width: 100%;
      height: 100%;
      opacity: 0;
      transform: rotate(0deg);
      transition: .2s;
    }
  }

  &:hover .circle-icon {


    &:before {
      opacity: 1;
      transform: rotate(360deg);
    }

    span {
      transform: rotate(90deg);
      opacity: 0;
    }
  }
}

.btn.btn-square {
  width: 100%;
  height: 100%;
  @include rem('padding', $global-padding);
  text-transform: none;
}

.full-width-button-wrapper {
  @include media-query(md) {
    position: absolute;
    width: 100%;
    @include rem('padding', 0 $global-padding);
    left: 0;
  }
}

.full-width-button-wrapper.bottom {
  @include media-query(md) {
    @include rem('bottom', $global-padding);
  }
}

.full-width-button-wrapper.top {
  @include media-query(md) {
    @include rem('top', $global-padding);
  }
}
