$bg-gray: $gray-light;

// section.content { @include rem('padding', $global-margin); }
.page-header + section.content { @include rem('padding', 0 $global-margin); }

section.content { 
  width: 100%;
  @include rem('padding', $global-margin); 
}
section.content.content-gray { background: $gray-light; }

section.gray {
	background: $gray-light;
  @include rem('padding', $global-margin);
}

.section-title,
.section-title-red {
  @include font-size(16px, 21px);
  text-transform: uppercase;
}

.section-title-red { color: $brand-primary; }

section.content + section.content { margin-top: 0; }