.shape {
	position: relative;
}

.hex-overlay {
	position: absolute;
	width: 100%;
	text-align: center;
	vertical-align: middle;
	color: #fff;
	@include font-size(104px);
}

.hex {
	@include font-size(145px);
	line-height: 1;
	color: $blue;
}

.circle {
	@include border-radius(50%);
}