body {
  @include font-size(14px, 19px);
  font-family: 'overpass', helvetica;
  font-weight: 500;
}

h1, h2, h3, h4, h5, h6 {
  -webkit-font-smoothing: antialiased;
  color: $base-color;
}

h1 {
  font-family: 'overpass', helvetica;
  font-weight: 700;
}

h2 {
  @include font-size(24px, 24px);
  margin: 0;
  @include rem('margin-bottom', $global-padding);
  font-weight: 700;
}

h2.headline {
  color: $blue;
  @include font-size(32px);
  font-weight: 100;
}

.headline.headline-medium {
  @include font-size(32px);
}

.green {
  color: green;
}

.blue {
  color: #31c7ff;
}

.large-text {
  @include font-size(16px);
}

p + p {
  @include rem('margin-bottom', $global-padding);
}

