.components
  .page-header
    h1.page-title Components Library
  .content-wrap(ng-cloak)
    md-content
      section(layout='row', layout-sm='column', layout-align='center center', layout-wrap='')
        button.md-button.md-raised Click