.group-select {
  border: none;
	width: 100%;
}

.group-select.rounded {
	select {
		border-radius: 8px !important;
		border: 4px solid #ebeef0;
	}
}

.group-select a.link {
  color: #00B7FF;
}

#group-select .text span, #group-select .caret {
  color: #fff;
}

.table-filters {

	select {
		background-color: #f7fafc;
		@include rem('padding', 6px 30px 6px 12px);
		line-height: 1;
	}

	.dropdown-select:after {
		z-index: 1;
	}
}

.group-select .dropdown + .add-group {
  @include rem('margin-left', 8px);
}

.group-select .add-group {
  opacity: .8;
  transition: .2s;

  &:hover {
    opacity: 1;
  }
}

li.system-group {
    i.group-control {
        visibility: hidden;
    }

    &:hover {
        i.group-control {
            visibility: visible;
        }
    }
}

.group-select ul.dropdown-menu {
    height: auto;
    overflow-x: hidden;
    max-height: 200px;
    min-width: 250px;
    @include media-query (md) {
        max-height: 600px;
    }

    input { background-color: transparent; }
    .table-search {
      @include rem('padding-left', $global-padding);
      @include rem('padding-right', $global-padding);
      @include rem('padding-bottom', 5px);
    }
}
