section.gray.inventory-filters
  .row
    .col-sm-6
      label.invisible(translate='translate') Search
      search-box(on-search='filter.setSearchTerm(model); filter.doFilter();', throttle='1000')
    .col-sm-4.col-sm-offset-2
      group-select
  .row
    .col-sm-3
      check-in-select
    .col-sm-3
      actions-select
