/* ==================================================================
/* List component
/* ================================================================== */
/**
 * This document defines the styling for the list component
**/


/* Vars
/* ================================================================== */
:root {
  // --list-group-item-header--Padding: $global-padding;
  // --list-group-item-header--Margin: $global-padding;

  --ins-p-group__item__header--Padding:           #{$ins-global--spacer--lg};
  --ins-p-group__item__header--PaddingLeft:       #{$ins-global--spacer--sm};
  --ins-p-group__item__header--Margin:            #{$ins-global--spacer--lg};

  --ins-p-group__item__body--Padding:             #{$ins-global--spacer--sm};
  --ins-p-group__item__body--Margin:              #{$ins-global--spacer--lg};
  
  --ins-p-group__item__header--GridGap:           #{$ins-global--spacer--sm};

  --ins-p-group__item--BorderColor:               #e0e0e0;
  --ins-p-group__item--hover--BorderColor:        #bbb;
}

/* List group
/* ================================================================== */
.ins-p-list-group { 


  &__item {
    position: relative;
    padding: 0;
    border: 1px solid var(--ins-p-group__item--BorderColor);

    &:not(:first-child) {
      border-top: none;
    }

    &__header {
      padding: var(--ins-p-group__item__header--Padding);
      background: #fff;
    }
  }
}


/* List group item expandable
/* ================================================================== */
.ins-p-list-group__item--is-expandable {

  .ins-p-list-group__item__header {
    @include build-grid(max-content auto);
    padding: var(--ins-p-group__item__header--Padding) var(--ins-p-group__item__header--Padding) var(--ins-p-group__item__header--Padding) var(--ins-p-group__item__header--PaddingLeft);
    transition: .3s;

    &__toggle .caret {
      @include font-size(18px, 1);
      transform: rotate(-90deg);
      transition: .4s;
    }

    // States hover & expandable
    &:hover,
    &.expanded {
      border-color: var(--ins-p-group__item--hover--BorderColor);
      background: #edf8ff;
    }    
  }

  .ins-p-list-group__item__body {
    margin: 0 $global-margin $global-margin;
    padding: $global-margin;
    background: #fff;
  }


  // State - expanded
  &.expanded {
    border-color: #bbb;
    background: #edf8ff;
    box-shadow: 0 4px 8px 0px rgba(3, 3, 3, 0.1);
    z-index: 99;

    .ins-p-list-group__item__header {
      background: #edf8ff;
      
      &__toggle .caret{ transform: rotate(0deg); }
    }
  }
}


/* Item has checkbox
/* ================================================================== */
.ins-p-list-group__item--has-checkbox {

  .ins-p-list-group__item__header {
    @include build-grid(max-content max-content auto);
    padding: var(--ins-p-group__item__header--Padding) var(--ins-p-group__item__header--Padding) var(--ins-p-group__item__header--Padding) var(--ins-p-group__item__header--PaddingLeft);
    grid-gap: var(--ins-p-group__item__header--GridGap);
  }

  .ins-p-list-group__item__header__checkbox {
    align-self: start;
    padding-right: var(--ins-p-group__item__header--PaddingLeft);
    border-right: 1px solid var(--ins-p-group__item--BorderColor);
  }
}


/* Item has severities and ansible support
/* ================================================================== */
.ins-l-list-group__item__header--has-severities-and-ansible-support {
  @include build-grid(1fr, sm 1fr max-content, xl auto max-content max-content);
  grid-template-rows: max-content max-content;
  grid-gap: var(--ins-p-group__item__header--GridGap);;
  padding: 0;

  @include media-query(xl) {
    grid-template-rows: max-content;
  }

  .title {
    .incident-icon { margin-left: .5rem; }
  }

  .ins-c-risk-summaries {
    grid-column: span 2;
    grid-row-start: 2;
    align-self: baseline;

    @include media-query(xl) {
      grid-column: unset;
      grid-row-start: unset;      
    }
  }

  .ins-c-ansible-support {
    grid-column-start: 2;
    grid-row-start: 1;
    align-self: baseline;

    @include media-query(xl) {
      grid-column-start: 3;
      grid-row-start: 1;      
    }
  }
}


/* Split layout
/* ================================================================== */
.ins-p-list-group {
  .ins-l-split {
    padding: 0;
    margin: 0;
  }
}



/* Old
/* ================================================================== */
/* ================================================================== */
/* ================================================================== */

/* List item base
/* ================================================================== */
.list-group .list-group-item {
  padding: 0;
  border: 1px solid rgba(0,0,0,.075);

  &:first-child {
    border-top: 1px solid rgba(0,0,0,.075);
  }

  &:hover {
    border: 1px solid rgba(0,0,0,.075);    
  }

  .list-group-item-container {
    border: none;
  }
}


/* Expandable list item
/* ================================================================== */
[expandable].list-group-item,
[expandable].ins-p-list-group-item  {
  background: #edf8ff;

  .list-group-item-header {
    background: #fff;
  }

  .list-group-item-container {
    @include build-grid(grid-gap $global-margin);
    margin: 0 var(--global-margin) var(--global-margin);
    padding: var(--global-margin);
    background: #fff;
  }
}


// Expanded
[expandable].list-group-item.expanded,
[expandable].ins-p-list-group-item.is-expanded { 
  border: solid 1px #bbb;
  box-shadow: 0 2px 6px rgba(3,3,3,.2);
  z-index: 99;

  .list-group-item-header {
    background: #edf8ff;
  }
 }




/* List item header
/* ================================================================== */
.list-group-item-header {
  padding: $global-padding;
  margin: 0;
}

.list-item-header-text {
  display: flex;

  .list-view-pf-checkbox {
    align-self: flex-start;
  }
}


/* List item header expandable
/* ================================================================== */
.list-group-item-header.list-group-item-header--Expandable {
  align-items: first baseline;
  padding: $global-padding;
  @include build-grid(grid-gap $global-padding, max-content auto);
}

.list-view-pf-expand {
  @include reset;
}

.list-group-item-header .list-view-pf-main-info {
  padding: 0;
}

// caret
.list-group-item-header .caret {
  @include font-size(18px, 1);
  transform: rotate(-90deg);
  transition: .4s;
}

.expanded .list-group-item-header .caret {
  transform: rotate(0deg);
}