//- .ins-p-list-group__item.ins-p-list-group__item--is-expandable.list-group-item-header.list-group-item-header--Expandable(ng-click='listItem.toggleContent()')
.ins-p-list-group__item__header(ng-click='listItem.toggleContent()')
  span.caret
  .ins-p-list-group__item__header__content(ng-transclude)
