.widget.severity-summary
  ul
    li
      .pointer(ng-if="ruleCount.info || !loaded", ui-sref="app.topic({id: 'low-risk', 'filters:totalRisk': 'INFO'})")
        .metrics
          strong {{'Low' | translate}}
          span.num(ng-if="(ruleCount.info / ruleCount.total) < 80") &nbsp;({{100 * ruleCount.info / ruleCount.total || 0 | number:1}}%)
        .progress-bar
          .progress.green(role="progressbar", aria-valuemin="0", aria-valuemax="100", ng-style='ruleCount.info / ruleCount.total | toWidth')
          .bar
      .no-errors(ng-if="!ruleCount.info && loaded")
        i.fa.fa-check-circle.inline-right(aria-hidden="true")
        span(translate) You have no issues of low severity

    li
      .pointer(ng-if="ruleCount.warn || !loaded", ui-sref="app.topic({id: 'medium-risk', 'filters:totalRisk': 'WARN'})")
        .metrics
          strong {{'Medium' | translate}}
          span.num(ng-if="(ruleCount.warn / ruleCount.total) < 80") &nbsp;({{100 * ruleCount.warn / ruleCount.total || 0 | number:1}}%)
        .progress-bar
          .progress.yellow(role="progressbar", aria-valuemin="0", aria-valuemax="100", ng-style='ruleCount.warn / ruleCount.total | toWidth')
          .bar
      .no-errors(ng-if="!ruleCount.warn && loaded")
        i.fa.fa-check-circle.inline-right(aria-hidden="true")
        span(translate) You have no issues of medium severity

    li
      .pointer(ng-if="ruleCount.error || !loaded", ui-sref="app.topic({id: 'high-risk', 'filters:totalRisk': 'ERROR'})")
        .metrics
          strong {{'High' | translate}}
          span.num(ng-if="(ruleCount.error / ruleCount.total) < 80") &nbsp;({{100 * ruleCount.error / ruleCount.total || 0 | number:1}}%)
        .progress-bar
          .progress.orange(role="progressbar", aria-valuemin="0", aria-valuemax="100", ng-style='ruleCount.error / ruleCount.total | toWidth')
          .bar
      .no-errors(ng-if="!ruleCount.error && loaded")
        i.fa.fa-check-circle.inline-right(aria-hidden="true")
        span(translate) You have no issues of high severity
    li
      .pointer(ng-if="ruleCount.critical || !loaded", ui-sref="app.topic({id: 'critical-risk', 'filters:totalRisk': 'CRITICAL'})")
        .metrics
          strong {{'Critical' | translate}}
          span.num(ng-if="(ruleCount.critical / ruleCount.total) < 80") &nbsp;({{100 * ruleCount.critical / ruleCount.total || 0 | number:1}}%)
        .progress-bar
          .progress.red(role="progressbar", aria-valuemin="0", aria-valuemax="100", ng-style='ruleCount.critical / ruleCount.total | toWidth')
          .bar
      .no-errors(ng-if="!ruleCount.critical && loaded")
        i.fa.fa-check-circle.inline-right(aria-hidden="true")
        span(translate) You have no issues of critical severity
