.risk-of-change#riskOfChange
  .icon-inline
    span.title(ng-hide='hideLabel') {{ label || 'Risk of Change:' }}&nbsp;
    b.alert-text.alert-text-green(ng-if='changeRisk === 1', translate) Very Low
    b.alert-text.alert-text-blue(ng-if='changeRisk === 2', translate) Low
    b.alert-text.alert-text-orange(ng-if='changeRisk === 3', translate) Moderate
    b.alert-text.alert-text-red(ng-if='changeRisk === 4', translate) High

