.risk-of-change#riskOfChange
  .icon-inline
    img.icon.icon-med(src="../static/images/i_risk-of-change.svg", alt="Risk of change icon", aria-hidden=true)
    strong(ng-hide='hideLabel') Risk of change:&nbsp;
    span.alert-text.alert-text-green(ng-if='changeRisk === 1', translate) Very Low
    span.alert-text.alert-text-blue(ng-if='changeRisk === 2', translate) Low
    span.alert-text.alert-text-orange(ng-if='changeRisk === 3', translate) Moderate
    span.alert-text.alert-text-red(ng-if='changeRisk === 4', translate) High
