.environment-filter
  label(translate='translate') Deployment
  .dropdown.gray
    button.btn.btn-default.dropdown-toggle(
      type='button',
      data-toggle='dropdown',
      aria-haspopup='true',
      aria-expanded='false')
      | {{getSelectedOSPDeployment().display_name}}
      span.caret
    ul.dropdown-menu
      li(ng-repeat='deployment in getOSPDeployments()')
        a(ng-click='doSelectOSPDeployment(deployment)') {{deployment.display_name}}