section.section#prerequisites
h2.section-header(translate) Prerequisites for Installing Red Hat Insights
p(translate) Before proceeding with installing Red Hat Insights, ensure the following prerequisites are met:
ul
  li(translate) Red Hat Enterprise Linux (RHEL) 7.0 or later host configured to run containers
  li(translate) RHEL firewall rules must allow Red Hat Insights to make outbound connections to https://api.access.redhat.com:443 and https://cert-api.access.redhat.com:443

section#enablerepo
  .step-num 1
  h2.section-header(translate) Enable the Red Hat Insights Repository
  p(translate) To start the installation, the Red Hat Insights repository must be enabled:
  pre.code-block.code-terminal
    code.language-shell  ~ $ sudo yum-config-manager --add-repo 
    |http://copr.fedorainfracloud.org/coprs/insights/insights-client-beta/repo/epel-7/insights-insights-client-beta-epel-7.repo

section#install
  .step-num 2
  h2.section-header(translate) Install the Red Hat Insights Client
  p(translate) The following command will install the Red Hat Insights client:    
  pre.code-block.code-terminal
    code ~ $ yum install insights-client -y --nogpgcheck

section#register
  .step-num 3
  h2.section-header(translate) Run and Register the Red Hat Insights Client
  p(translate) The following command will run and register the Insights client:
  pre.code-block.code-terminal
    code ~ $ sudo insights-client --container --register  
    
  p(translate) After running the Insights client, it will upload initial system and image information to Red Hat Insights. You should be able to immediately see your system and image information in the Insights user interface.
  p(translate) The initial analysis results will be available shortly thereafter.

#configOptional.content-block
  h2.section-header(translate) Optional Configuration Steps
  .gray-dark
    section#proxy
      .step-num 3
      h3.section-header(translate) Configure Insights Client to use an HTTP proxy
      p(translate) If you have a web-based proxy between your system and the Internet, you can configure the Insights client to connect through it:
      pre.code-block.code-terminal
        code.language-shell # vi /etc/redhat-access-insights/redhat-access-insights.conf
      pre.code-block.code-terminal
        code # Optional proxy configuration. Example: http://user:pass@192.168.100.50:8080
        br
        code proxy=
        br

    section#classic
      .step-num 4
      h3.section-header(translate) Red Hat Network Classic Instructions
      p(translate) If you've registered your system with Red Hat Network Classic you'll also need to add a username and password:
      pre.code-block.code-terminal
        code.language-shell # vi /etc/redhat-access-insights/redhat-access-insights.conf
      pre.code-block.code-terminal
        code # Red Hat Customer Portal Credentials
        br
        code username=
        br
        code password=
        br
