section#prerequisites
  .step-num 1
  h2.section-header(translate) Prerequisites for Installing Red Hat Insights for RHV
  p(translate) Before proceeding with installing Red Hat Insights on RHV, ensure the following prerequisites are met:

  ul
    li(translate) The RHV deployment must be Red Hat Enterprise Virtualization (RHV) 3.5 or later and RHV Manager must be running Red Hat Enterprise Linux 6.7 or later.
    li(translate) Firewall rules must allow Red Hat Insights to make outbound connections to https://api.redhat.com:443 and https://cert-api.access.redhat.com:443 
    li(translate) Ensure that the RHV Manager can SSH into all individual hypervisor nodes, and that the SSH fingerprints have been accepted for all hypervisor nodes. The manager must have access to all of the individual hypervisors via public key access (defined in the configuration files, or by running --configure).


section#installrepo
  .step-num 2
  h2.section-header(translate) Install the repositories
  p(translate) To start the installation, the Red Hat Insights repositories must be installed.
  p(translate) Run the following commands on the RHV Manager to obtain the Red Hat Insights repositories:
  pre.code-block.code-terminal
    code.language-shell  sudo yum-config-manager --add-repo 
    |https://copr.fedorainfracloud.org/coprs/insights/insights-client/repo/epel-6/insights-insights-client-epel-6.repo
    br
    code.language-shell  sudo yum-config-manager --add-repo 
    |http://copr.fedorainfracloud.org/coprs/insights/insights-coordinator-rhev/repo/epel-6/insights-insights-coordinator-rhev-epel-6.repo

section#installclient
  .step-num 3
  h2.section-header(translate) Install the Red Hat Insights client
  p(translate) The following command installs Red Hat Insights on the RHV Manager, which will collect information from all the virtualization hosts in the environment.   
  p(translate)
      strong Note: 
      | Registration with 
      a(href="https://access.redhat.com/solutions/11216", target="_blank") Red Hat Network Classic 
      | is also available but requires 
      a(href="#classic", relative-hash, permalink) additional configuration steps.
  pre.code-block.code-terminal
    code.language-shell  sudo yum install insights-coordinator-rhev --nogpgcheck

section#register
  .step-num 3
  h2.section-header(translate) Registration
  p(translate) When configuring your RHV Manager for Red Hat Insights, be sure to have your RHV Manager API and Hypervisor SSH information ready; Red Hat Insights will guide you through the configuration.
  pre.code-block.code-terminal
    code # sudo insights-coordinator-rhev --configure
        
  p(translate) Once configured, this next step installs Red Hat Insights on the RHV Manager and all of the hypervisor nodes.
  pre.code-block.code-terminal
    code # sudo insights-coordinator-rhev --verbose
    
  p(translate) After registration, the Insights client will upload initial system metadata to Red Hat Insights. You should be able to immediately see your system in the Insights user interface.
  p(translate) The initial analysis results will be available shortly thereafter.

#configOptional.content-block
  h2.section-header(translate) Optional Configuration Steps
  .gray-dark
    section#proxy
      .step-num 5
      h3.section-header(translate) Configure Insights Client to use an HTTP proxy
      p(translate) If you have a web-based proxy between your system and the Internet, you can configure the Insights client to connect through it using the following commands on the RHV Manager:
      pre.code-block.code-terminal
        code.language-shell # vi /etc/redhat-access-insights/redhat-access-insights.conf
      pre.code-block.code-terminal
        code # Optional proxy configuration. Example: http://user:pass@192.168.100.50:8080
        br
        code proxy=
        br

    section#classic
      .step-num 6
      h3.section-header(translate) Red Hat Network Classic Instructions
      p(translate) If you've registered your system with Red Hat Network Classic you'll also need to add a username and password using the following commands on the RHV Manager:
      pre.code-block.code-terminal
        code.language-shell # vi /etc/redhat-access-insights/redhat-access-insights.conf
      pre.code-block.code-terminal
        code # Red Hat Customer Portal Credentials
        br
        code username=
        br
        code password=
        br


