section.section#prerequisites
  .step-num 1
  h2.section-header(translate) Prerequisites
  ul
    li(translate) Ensure that you’re running the latest Satellite 6.1.
    li(translate) Ensure that you’ve synchronized the latest RHEL 6.7 and RHEL 7.1.z RPMs to your Satellite, and that they are available to your clients.
    li(translate) In order for the Red Hat Satellite Server to be an Insights client, please follow the 
      a(ui-sref="info.getting-started.direct") direct
      |  registration instructions and run the following command prior to installing the redhat-access-insights client.
    pre.code-block.code-terminal
      code.language-shell # yum update python-requests
    li(translate) A manifest must be downloaded and imported into the Satellite Organization in which Insights will be enabled.
      | For more information on managing manifests, see the official Satellite 6
      a(href="https://access.redhat.com/documentation/en-US/Red_Hat_Satellite/6.1/html/Installation_Guide/chap-Red_Hat_Satellite-Installation_Guide-Populating_Red_Hat_Satellite_with_Content.html#sect-Red_Hat_Satellite-Installation_Guide-Setting_up_a_Manifest")  documentation.
    li(translate) Satellite Organizations with Insights must be running in Connected mode. Any firewalls or proxies through which the Satellite server communicates to Red Hat must allow https communications to 
      a(href="https://cert-api.access.redhat.com") https://cert-api.access.redhat.com
section#activate
  .step-num 2
  h2.section-header(translate) Activate your evaluation
  p(translate) If you have purchased an Insights subscription, please skip this step and proceed to the next step.
  p(translate) To begin using Red Hat Insights, please visit  <a href='https://access.redhat.com/insights/evaluation'>https://access.redhat.com/insights/evaluation</a> to activate any available evaluations associated with your account. This step must be completed prior to any system registration with Insights.
section.section#verifyconnection
  .step-num 3
  h2.section-header(translate) Verify Connection to Red Hat Insights
  p(translate) Verify that the Satellite server can successfully communicate with Red Hat Insights.  In the Satellite UI, navigate to <strong>Insights -&gt; Manage</strong>. Verify that the engine connection status is "Connected" and that the account number displayed is correct for your organization.
  img.screenshot(src="static/images/img-sat6-step2-manage.jpg")

section.section#register
  .step-num 4
  h2.section-header(translate) Register Your Systems
  p(translate) To register Satellite clients to Red Hat Insights, you'll need to install the client rpm and then register the system.
  p(translate) Install the RPM:
  pre.code-block.code-terminal
    code.language-shell # yum install redhat-access-insights
  p(translate) Register the system:
  pre.code-block.code-terminal
    code.language-shell # redhat-access-insights --register
  p(translate) If you are using Red Hat Satellite’s configuration management provided by Puppet this process can be automated by applying the preinstalled Puppet class 'access_insights_clients'. This class can be imported from the Puppet Master into the appropriate Puppet environment and applied to hosts that you wish to subscribe to Red Hat Insights.
    | For more information on using on Puppet with Satellite 6, refer to the official 
    a(href="https://access.redhat.com/documentation/en-US/Red_Hat_Satellite/6.1/html/User_Guide/chap-Red_Hat_Satellite-User_Guide-Configuring_the_Provisioning_Environment.html#sect-Red_Hat_Satellite-User_Guide-Creating_a_Host_Group") documentation.

section.section#viewingandmanaging
  .step-num 5
  h2.section-header(translate) Viewing Reports and Managing Access From the Satellite UI
  p.margin-top(translate) To view Insights reports, navigate to <strong>Insights -&gt; Overview</strong> in the Satellite 6 UI.
  img.screenshot(src="static/images/img-sat6-step5-overview.jpg")
  p.margin-top(translate) To view and manage Insights rules, navigate to <strong>Insights -&gt; Rules</strong>.
  img.screenshot(src="static/images/img-sat6-step5-rules.jpg")
  p.margin-top(translate) To view the list of systems that are reporting data to Red Hat Insights, navigate to <strong>Insights -&gt; Systems</strong>.
  img.screenshot(src="static/images/img-sat6-step5-systems.jpg")
  p.margin-top(translate) To view connection status or enable/disable Red Hat Insights globally for an Organization, navigate to <strong>Insights -&gt; Manage</strong>.
  img.screenshot(src="static/images/img-sat6-step5-manage.jpg")

section.section#userroles
  .step-num 6
  h2.section-header(translate) Assign Red Hat Insights Roles to Users
  p(translate) By default, only administrators can view Insights Report and Configuration screens. You can give users who are not administrators access to the Insights screens by assigning them the appropriate roles as follows.
  ul
    li(translate) To give users access to all Insights screens, including the "Manage" screen, assign them the "Insights Admin" role. In addition, users must be granted the "view_content_host" permission.
    li(translate) To give users Insights report and rule viewing access, assign them the "Insights Viewer" role. In addition, users must be granted the "view_content_host" permission.
  p(translate) For more information on roles refer to the official Satellite 6 
    a(href="https://access.redhat.com/documentation/en-US/Red_Hat_Satellite/6.1/html/User_Guide/chap-Red_Hat_Satellite-User_Guide-Users_and_Roles.html") documentation.
