section#prerequisites
  .step-num 1
  h2.section-header(translate) Prerequisites for Installing the Red Hat Insights for OpenStack Private Beta
  p(translate) Before proceeding with installing the Red Hat Insights for OpenStack Private Beta, ensure the following prerequisites are met:
  ul
    li(translate) The OpenStack deployment must be Red Hat OpenStack Platform (OSP) 7 or later and set up with the OSP Director.
    li(translate) The OSP Director node (also referred to as the Undercloud in these directions) must have the rhel-7-server-rh-common-rpms repository
      |enabled.
    li(translate) Firewall rules must allow the Insights Coordinator to make outbound connections to https://api.access.redhat.com:443 and https://cert-api.access.redhat.com:443

section#installrepo
  .step-num 2
  h2.section-header(translate) Install the Red Hat Insights for OpenStack Private Beta Repositories on the Undercloud
  p(translate) To start the installation, the Red Hat Insights for OpenStack Private Beta repositories must be installed on the OSP Director node.
  pre.code-block.code-terminal
    code.language-shell  stack@undercloud $ sudo yum-config-manager --add-repo http://copr.fedorainfracloud.org/coprs/insights/insights-client/repo/epel-7/insights-insights-client-epel-7.repo
    br
    code.language-shell  stack@undercloud $ sudo yum-config-manager --add-repo http://copr.fedorainfracloud.org/coprs/insights/insights-coordinator-rhosp/repo/epel-7/insights-insights-coordinator-rhosp-epel-7.repo

section#completeinstallation
  .step-num 3
  h2.section-header(translate) Install the Red Hat Insights for OpenStack Private Beta Components
  p(translate) Follow this set of instructions to install the Insights Coordinator and Client packages. 
  p(translate) The following command will install the OpenStack Coordinator on the Undercloud node:
  pre.code-block.code-terminal
    code.language-shell  stack@undercloud $ sudo yum install insights-coordinator-rhosp --nogpgcheck -y
  p(translate) The following command will install the Client on the Undercloud and Overcloud nodes and register the stack with Red Hat Insights:
  pre.code-block.code-terminal
    code.language-shell stack@undercloud $ sudo redhat-access-insights --register --no-schedule --no-upload --silent
  p(translate) The Client cron job and Coordinator cron jobs cannot be symlinked simultaneously or conflicts will occur. The following command will remove the symlink that will have been created in /etc/cron.daily for the Client:
  pre.code-block.code-terminal
    code.language-shell sudo redhat-access-insights --no-schedule
  p(translate) Edit /etc/redhat-access-insights/redhat-access-insights.conf and add no_schedule=True. This value should already exist at the bottom of the file so it will just need to be uncommented and changed to True, but should it not exist it will need to be added.
 p(translate) The following command will configure the Coordinator and Client installations:
  pre.code-block.code-terminal
    code.language-shell stack@undercloud $ sudo insights-coordinator-rhosp --configure
  p(translate)
    strong Note: 
    | The Coordinator will attempt to auto-configure the communication to Red Hat based on the subscription-management information on the Undercloud node. However, using a proxy and/or using 
    a(href="https://access.redhat.com/solutions/11216", target="_blank") Red Hat Network Classic
    | credentials is available but requires 
    a(href="#proxy", relative-hash, permalink) additional configuration steps.
  p(translate) If issues arise with these commands, examine /etc/redhat-access-insights/redhat-access-insights.conf and ensure everything is set properly.
  p(translate) Last, run the following command to complete the installation and view any messages from the Coordinator during the execution and upload of the archive:
  pre.code-block.code-terminal
    code.language-shell  stack@undercloud $ sudo insights-coordinator-rhosp --verbose
  p(translate) After the above command finishes, the Insights Coordinator has uploaded the initial deployment information to Red Hat Insights. 
    | You should be able to immediately see your stack in the 
    a(href="https://access.redhat.com/insightsbeta", target="_blank") Insights user interface.
  p(translate) The initial analysis results will be available shortly thereafter.

section#configOptional.content-block
  h2.section-header(translate) Optional Configuration Steps
  .gray-dark
    section#proxy
      .step-num 5
      h3.section-header(translate) Configure Insights Client to use an HTTP proxy
      p(translate) If you have a web-based proxy between your system and the Internet, you can configure the Insights client to connect through it:
      pre.code-block.code-terminal
        code.language-shell # vi /etc/redhat-access-insights/redhat-access-insights.conf
      pre.code-block.code-terminal
        code # Optional proxy configuration. Example: http://user:pass@192.168.100.50:8080
        br
        code proxy=
        br

    section#classic
      .step-num 6
      h3.section-header(translate) Red Hat Network Classic Instructions
      p(translate) If you've registered your system with Red Hat Network Classic you'll also need to add a username and password:
      pre.code-block.code-terminal
        code.language-shell # vi /etc/redhat-access-insights/redhat-access-insights.conf
      pre.code-block.code-terminal
        code # Red Hat Customer Portal Credentials
        br
        code username=
        br
        code password=
        br

