.container.getting-started-page-intro.text-center
  .row
    .col-sm-12
      insights-logo
    .col-sm-8.col-sm-offset-2
      insights-tagline
.band.getting-started.info-page#getting-started.fixed-scroll-content
  .container
    .row.flex-container
      .col-md-3.hidden-xs.hidden-sm.navvy-container#navvy-container
        #navvy.navvy(data-sticky-nav="", parent="#getting-started", child="#navvy", sibling="#info", offset="40")
          .header
            h2(translate) Getting Started
          .content
            nav
              ul
                li.fade-in.ng-animate-enabled(ng-repeat="s in sections()")
                  a(ng-href="{{s.id}}", du-scrollspy, relative-hash, permalink)
                    span.arrow
                    | {{s.text | translate}}
      .col-md-9.info#info
        .content
          getting-started-tabs
          .ng-animate-enabled.fade-in(ui-view="")
          section.section
            h2.section-header(translate) Additional resources
            a.btn.btn-app.cta-link.cta-link-sm.cta-link-white.info-links(ui-sref='info.info', translate) Learn More about Red Hat Insights
            a.btn.btn-app.cta-link.cta-link-sm.cta-link-white.info-links(ui-sref='login', translate) Log in to Red Hat Insights

