section#prerequisites
  .step-num 1
  h2.section-header(translate) Prerequisites
  ul
    li(translate) Ensure that you're running Satellite 5.7.
    li(translate) Install redhat-access-plugin-sat5:
    pre.code-block.code-terminal
      code.language-shell # yum install redhat-access-plugin-sat5
    li(translate) Restart Satellite
    pre.code-block.code-terminal
      code.language-shell # rhn-satellite restart
    li(translate) Satellite Organizations with Insights must be running in Connected mode. Any firewalls or proxies through which the Satellite server communicates to Red Hat must allow https communications to 
      a(href="https://access.redhat.com") https://access.redhat.com
section#activate
  .step-num 2
  h2.section-header(translate) Activate your evaluation
  p(translate) If you have purchased an Insights subscription, please skip this step and proceed to the next step.
  p(translate) To begin using Red Hat Insights, please visit  <a href='https://access.redhat.com/insights/evaluation'>https://access.redhat.com/insights/evaluation</a> to activate any available evaluations associated with your account. This step must be completed prior to any system registration with Insights.
section#enable
  .step-num 3
  h2.section-header(translate) Enable Red Hat Insights
  p(translate) Log in to the Satellite Administrator account. Navigate to the <strong>Admin --&gt; Insights</strong> page. Before enabling Insights, click 'Test Connection to Red Hat Insights API'. If the test is successful you will see a green check circle next to the button. Otherwise you will see a red circle and a log will appear. When the test is successful, select "Enable Insights Service" then click the "Update" button. The Red Hat Insights GUI pieces will now appear in Satellite.
  img.screenshot(src="images/img-sat5-step2-admin.png")
section#rpm
  .step-num 4
  h2.section-header(translate) Install RPM on Systems
  p(translate) There are multiple ways to automate this process. See the 
    a(href='#register', relative-hash, permalink) Register Systems
    |  section for details.
  p(translate) Navigate to the <strong>Systems --&gt; Insights --&gt; Setup</strong> tab as an Organization Administrator. Select the systems to install the redhat-access-insights RPM onto, then click "Apply".
  img.screenshot(src="images/img-sat5-step3-setup.png")
  p(translate) Check the status of the RPM installation by navigating to the <strong>Schedule --&gt; Pending Actions</strong> page.
  img.screenshot(src="images/img-sat5-step3-pending.png")
  p(translate) This could take some time depending on your Satellite configuration. 
    a(href="https://access.redhat.com/documentation/en-US/Red_Hat_Satellite/5.7/html/Installation_Guide/Enabling_Push_to_Clients.html") Enabling push to clients
    |  will speed up the install. When the RPM is installed you are ready to move on to the next step.
  img.screenshot(src="images/img-sat5-step3-completed.png")
section#register
  .step-num 5
  h2.section-header(translate) Register Your Systems
  p(translate) To register a system manually:
  pre.code-block.code-terminal
    code.language-shell # redhat-access-insights --register
  p(translate) There are multiple ways to automate this process including Red Hat Satellite's built-in
    a(href="https://access.redhat.com/documentation/en-US/Red_Hat_Satellite/5.7/html/Getting_Started_Guide/sect-Managing_Configuration_Channels.html" target="_blank")  Configuration Management Channels.
  p(translate) We've also provided several options for popular configuration management tools below:
  ul
    li
      a(href="https://forge.puppetlabs.com/lphiri/access_insights_client" target="_blank", translate) Puppet
    li
      a(href="https://supermarket.chef.io/cookbooks/redhat-access-insights-client" target="_blank", translate) Chef
    li
      a(href="https://galaxy.ansible.com/list#/roles/4098" target="_blank", translate) Ansible
section#validate
  .step-num 6
  h2.section-header(translate) Validate Data was Reported
  p(translate) Shortly after you execute `redhat-access-insights --register` on at least one machine, navigate to <strong>Systems --&gt; Overview</strong> in Satellite. Find the system you registered. The status should either be a green check or a red exclamation point.
  img.screenshot(src="images/img-sat5-step5-systems.png")
  p(translate) If you see a red exclamation, click it to see the reports about your system.
  img.screenshot(src="images/img-sat5-step5-reports.png")
  p(translate) To view an overview of all system reports, navigate to <strong>Systems --&gt; Insights</strong>.
  img.screenshot(src="images/img-sat5-step5-overview.png")
