section.gray.rule-filters
  .row
    .col-md-12
      .search-box-wrapper 
        search-box(on-search='filter.setSearchTerm(model); filter.doFilter();', throttle='1000')
    .col-md-12
      category-multi-button
