table-filters
  incidents-tri-state
  ansible-support-tri-state(ng-if='config.isPlannerEnabled')
  rule-status-tri-state
  age-select
  total-risk-select
  category-select
  likelihood-select
  impact-select

