.peer-ranking
  .peer-ranking-overview
    .percentile-title All Systems:
    .percentile-container
      .percentile.percentile-text
        h1.percentile-number 45th
        p Percentile
    .scan-info
      .number-systems
        span of
        strong  2.5 M
        span  Similar Systems
  .peer-ranking-overview
    .percentile-title Industry:
    .percentile-container
      .percentile.percentile-text
        h1.percentile-number 57th
        p Percentile
    .scan-info
      .number-systems
        span of
        strong  100 K
        span  Similar Systems
  peer-ranking-graph
