.peer-ranking-overview.warning-rank.ins-l-peer-ranking-overview
  .percentile-container
    .percentile.percentile-text
      h1.percentile-title 45th
      p Percentile
    .percentile.percentile-trend
      .pficon-trend-down
      .text 17%
  .scan-info
    p.number-systems
      span of
      strong  2.5 M
      span  Similar Systems
.peer-ranking-detail-container.ins-l-peer-ranking-detail.ins-l--flex
  .peer-ranking-detail.good-rank
    .percentile-label.text-center
      h2
        span.pficon-cpu
        span  CPU
    .percentile-container
      .percentile.percentile-text
        h1.percentile-title 85th
      .percentile.percentile-trend
  .peer-ranking-detail.good-rank
    .percentile-label.text-center
      h2
        span.pficon-memory
        span  Memory
    .percentile-container
      .percentile.percentile-text
        h1.percentile-title 72th
      .percentile.percentile-trend
  .peer-ranking-detail.good-rank
    .percentile-label.text-center
      h2
        span.pficon-volume
        span  Disk
    .percentile-container
      .percentile.percentile-text
        h1.percentile-title 68th
      .percentile.percentile-trend
  .peer-ranking-detail.danger-rank
    .percentile-label.text-center
      h2
        span.pficon-network
        span  Network
    .percentile-container
      .percentile.percentile-text
        h1.percentile-title 15th
      .percentile.percentile-trend
        p
          span.pficon-trend-down
        p 40%
  .peer-ranking-detail.good-rank
    .percentile-label.text-center
      h2
        span.fa.fa-linux
        span  Kernel
    .percentile-container
      .percentile.percentile-text
        h1.percentile-title 79th
      .percentile.percentile-trend
        p
          span.pficon-trend-up
        p 6%
  .peer-ranking-detail.good-rank
    .percentile-label.text-center
      h2
        span.pficon-bundle
        span  Packages
    .percentile-container
      .percentile.percentile-text
        h1.percentile-title 81st
      .percentile.percentile-trend
        p
          span.pficon-trend-up
        p 5%



