.ins-card.ins-card-tabs
  .peer-ranking-overview
    .percentile-container
      .percentile-title
        span 45th
      p percentile
    .trend-container
    .scan-info
      p.number-systems
        strong 2.5 M
      p Similar Systems Profiled
  .peer-ranking-detail
    .ranking-charts
      .progress-description CPU
      .progress.progress-label-top-right
        .progress-bar.progress-bar-success(style="width: 75%;")
          span 75th
      .progress-description Disk
      .progress.progress-label-top-right
        .progress-bar.progress-bar-success(style="width: 83%;")
          span 83rd
      .progress-description Memory
      .progress.progress-label-top-right
        .progress-bar.progress-bar-warning(style="width: 58%;")
          span 58th
      .progress-description Network
      .progress.progress-label-top-right
        .progress-bar.progress-bar-danger(style="width: 15%;")
          span 15th



