.acks.row.active
  .col-md-8
    h2.page-title(translate) Hidden Rules
    p(translate, translate-n="acks.length", translate-plural="You currently have {{$count}} hidden rules.")
      | You currently have 1 hidden rule.
    p(translate)
      strong Note: 
      | These are account wide. You must be an Org Admin to make these changes.
  .col-md-12
    section(ng-show='loading')
      .spinner.spinner-lg
      span(translate) Loading hidden rules…
  .col-md-12
    section(ng-hide='loading')
      table.table.table-striped(ng-show='acks.length')
        thead
          tr
            th(translate) Category
            th(translate) Rule
            th
        tbody
          tr(ng-repeat='ack in acks')
            td {{ack.rule.category}}
            td {{ack.rule.description}}
            td
              .fa.fa-times.pointer.pull-right(ng-click='delete(ack)')
