.page-pmaas

  // Page Header
  section.page-header
    .page-title
      h1.text(translate) Overview


  // Content
  section.content.grid-pmaas-map
    .card-pf.card-pf-view-select.card.card-pf-view-single-select.text-center(
      ui-sref="app.data-center"
      )

      .card-pf-heading.no-border.text-center
        h2.card-pf-title Vulnerability        

      .card-pf-body
        // Chart
        .chart-vulnerability
        .legend.text-left
          .c3-legend-item
            .c3-legend-item-tile
            b 982
            span Secure systems

          .c3-legend-item
            .c3-legend-item-tile
            b 982


    .card-pf.text-center
      .card-pf-heading.no-border
        h2.card-pf-title Compliance

      .card-pf-body
        // Donut chart
        .chart-compliance
        .legend.text-left
          .c3-legend-item
            .c3-legend-item-tile
            b 982
            span Secure systems

          .c3-legend-item
            .c3-legend-item-tile
            b 982
            span Secure systems

    .card-pf.text-center
      .card-pf-heading.no-border
        h2.card-pf-title Advisor

      .card-pf-body

        // Donut chart
        .chart-advisor

        .legend.text-left
          .c3-legend-item
            .c3-legend-item-tile
            b 982
            span Secure systems

          .c3-legend-item
            .c3-legend-item-tile
            b 982
            span Secure systems

    .card-pf.text-center
      .card-pf-heading.no-border
        h2.card-pf-title Subscriptions

      .card-pf-body
        // Donut chart
        .chart-subscription

        .legend.text-left
          .c3-legend-item
            .c3-legend-item-tile
            b 982
            span Secure systems

          .c3-legend-item
            .c3-legend-item-tile
            b 982
            span Secure systems


          .c3-legend-item
            .c3-legend-item-tile
            b 982
            span Secure systems

