.page-pmaas

  // Content
  section.content.grid-pmaas
    .card-pf.text-center

      .card-pf-heading.no-border
        h2.card-pf-title Vulnerability

      .card-pf-body
        .chart-vulnerability
        .legend.text-left
          .c3-legend-item
            .c3-legend-item-tile
            b 982
            span Secure systems

          .c3-legend-item
            .c3-legend-item-tile
            b 982
            span Secure systems

      .card-pf-footer
        button-split.md-raised.md-primary
          button-split-main Fix it now
          button-split-item
            md-button(translate) Fix it now
          button-split-item
            md-button(translate) Customize & fix
          button-split-item
            md-button(translate) Generate report


    .card-pf.text-center
      .card-pf-heading.no-border
        h2.card-pf-title Compliance

      .card-pf-body
        // Donut chart
        .chart-compliance
        .legend.text-left
          .c3-legend-item
            .c3-legend-item-tile
            b 982
            span Secure systems

          .c3-legend-item
            .c3-legend-item-tile
            b 982
            span Secure systems

      .card-pf-footer
        button-split.md-raised.md-primary
          button-split-main Fix it now
          button-split-item
            md-button(translate) Fix it now
          button-split-item
            md-button(translate) Customize & fix
          button-split-item
            md-button(translate) Generate report

    .card-pf.text-center
      .card-pf-heading.no-border
        h2.card-pf-title Advisor

      .card-pf-body

        // Donut chart
        .chart-advisor

        .legend.text-left
          .c3-legend-item
            .c3-legend-item-tile
            b 982
            span Secure systems

          .c3-legend-item
            .c3-legend-item-tile
            b 982
            span Secure systems

      .card-pf-footer
        button-split.md-raised.md-primary
          button-split-main Fix it now
          button-split-item
            md-button(translate) Fix it now
          button-split-item
            md-button(translate) Customize & fix
          button-split-item
            md-button(translate) Generate report

    .card-pf.text-center
      .card-pf-heading.no-border
        h2.card-pf-title Subscriptions

      .card-pf-body
        // Donut chart
        .chart-subscription

        .legend.text-left
          .c3-legend-item
            .c3-legend-item-tile
            b 982
            span Secure systems

          .c3-legend-item
            .c3-legend-item-tile
            b 982
            span Secure systems


          .c3-legend-item
            .c3-legend-item-tile
            b 982
            span Secure systems


      .card-pf-footer
        button-split.md-raised.md-primary
          button-split-main Fix it now
          button-split-item
            md-button(translate) Fix it now
          button-split-item
            md-button(translate) Customize & fix
          button-split-item
            md-button(translate) Generate report

