.webhooks
  h2.page-title(translate) Webhooks
  p(translate) Webhooks allow external services to be notified of updates in Red Hat Insights. An HTTP POST request will be issued for a configured URL every time an event occurs in Red Hat Insights.&nbsp; See&nbsp;
    a(translate, target='_blank', href='https://access.redhat.com/r/insights/docs/#api-Webhooks') webhook documentation
    | &nbsp; for more details.

  p
    strong(translate) Webhooks are currently a Tech Preview.

  section
    .spinner(ng-show='loader.loading')
    p(translate, ng-if='!webhooks.length && !loader.loading') No webhooks configured
    table.table.table-striped(ng-if='webhooks.length')
      thead
        tr
          th(translate) URL
          th(translate) Event Types
          th(translate) Active
          th(translate) Actions
      tbody
        tr(ng-repeat='webhook in webhooks | orderBy:"id" track by webhook.id')
          td.break
            a(ui-sref='app.config-webhook-edit({id: webhook.id})') {{webhook.url}}
          td {{webhook.event_types.length}}
          td.text-center
            input(type='checkbox' ng-model='webhook.active', ng-change='activeChanged(webhook)')
          td.text-center
            span.icon-inline
              a(ui-sref='app.config-webhook-edit({id: webhook.id})')
                i.fa.fa-pencil-square-o.pointer(tooltip="{{'Edit' | translate}}")
              a(ng-click='delete(webhook)')
                i.fa.fa-remove(tooltip="{{'Remove' | translate}}")
    .pull-right
      .btn-group
        button.btn.btn-sm.btn-secondary(ng-click='ping()', translate, ng-disabled='!isPingable()') Test event
        button.btn.btn-sm.btn-accent(ui-sref='app.config-webhook-edit({id: "new"})', translate) Add webhook
