.webhooks
  h2.page-title(translate) Webhooks
  p(translate) Webhooks allow external services to be notified of updates in Red Hat Insights. An HTTP POST request will be issued for a configured URL every time an event occurs in Red Hat Insights.&nbsp; See&nbsp;
    a(translate, target='_blank', href='https://github.com/RedHatInsights/insights-webhooks/wiki/Documentation') webhook documentation
    | &nbsp; for more details.

  section
    .spinner(ng-show='loader.loading')
    p(translate, ng-if='!webhooks.length && !loader.loading') No webhooks configured
    table.table.table-striped(ng-if='webhooks.length')
      thead
        tr
          th(translate) URL
          th(translate) Event Types
          th(translate) Active
          th(translate) Actions
      tbody
        tr(ng-repeat='webhook in webhooks | orderBy:"id" track by webhook.id')
          td.break
            a(ui-sref='app.config-webhook-edit({id: webhook.id})') {{webhook.url}}
          td {{webhook.event_types.length}}
          td 
            input(type='checkbox' ng-model='webhook.active', ng-change='activeChanged(webhook)')
          td
            span.icon-inline
              a(ui-sref='app.config-webhook-edit({id: webhook.id})')
                i.fa.fa-pencil-square-o.pointer(tooltip="{{'Edit' | translate}}")
            span.icon-inline
              a(ng-click='delete(webhook)')
                i.fa.fa-remove(tooltip="{{'Remove' | translate}}")
    md-button-group.pull-right
      md-button.md-primary.md-button-ghost-blue(ng-click='add()', translate) Add webhook
      md-button.md-raised.md-primary(ng-click='ping()', translate, ng-disabled='!isPingable()') Test event
