.demo-account-switcher
    a(ng-show='showDemoSwitcher() && !demoAccountEnabled', ng-click='toggleDemoAccount()', translate) Enable Demo Account
    a(ng-show='showDemoSwitcher() && demoAccountEnabled', ng-click='toggleDemoAccount()', translate) Disable Demo Account