md-menu-item(ng-if='showDemoSwitcher()')
  a(ng-show='!demoAccountEnabled', ng-click='toggleDemoAccount()', translate) Enable Demo Account
  a(ng-show='demoAccountEnabled', ng-click='toggleDemoAccount()', translate) Disable Demo Account
