.system-overlay
  .rha-notifications
  .modal-actions
    .fa.fa-close.pull-right(ng-click='close()')
  system-metadata(system='system')
  .separator
    .rule-summaries(system='system', machine-id='system.system_id', rule='rule', rule-filter='ruleFilter', loading='loading')
    .rule-summary.system-overlay-item.content-block(ng-if='system.__fake', report='report', rule='rule', loading='loading')
