.graph-container
  .graph.graph-filters(ng-if='dropDown')
    md-menu(md-offset="0 34", md-position-mode="target-right target")
      md-button.md-raised.md-primary#exec-dropdown(ng-click='$mdMenu.open()')
        .icon-inline
          strong(translate) Category
          i.fa.fa-caret-down
      md-menu-content.exec-dropdown(aria-labelledby="#exec-dropdown")
        md-menu-item(ng-repeat='trace in traces track by trace.name', ng-click='$event.stopPropagation()')
          md-checkbox.md-accent.md-hue-1.category-checkbox(ng-model='trace.enabled')
            span {{:: trace.name}}
  .digest-graph
