section.widget-block
  h2.title
    i.fa.fa-heartbeat
    span(translate) Recommended Fixes
  #whatShouldIFix.whatShouldIFix.widget.widget-whatShouldIFix
    table.table.table-separated
      thead.lite
        tr()
          th(translate) Issue
          th(translate) Total Risk
          th(translate) Ansible


      tbody
        tr(ng-repeat='r in rules')
          td
            a(ui-sref='app.actions-rule({category: r.category.toLowerCase(), rule: r.rule_id})') {{ r.error_key }}
          td
            //.icon-inline.severity-icon
            //  span.severity(translate='translate')
            //    span.ng-binding.ng-scope &nbsp;Total Risk
            severity-icon(severity='r.severity', type='severity', label='')
          //td
          //  span(translate, translate-n='r.impacted_systems', translate-plural='{{$count}} systems affected') {{ r.impacted_systems }} system affected

          td
            ansible-icon(value='r.ansible', show-tooltip='true')
