footer(role="content-info")
  .redhat-logo
    a.redhat-link(href="https://www.redhat.com/" target="_blank")
      span.hidden(translate) Red Hat
      img(src="./static/images/rh-logo.svg" aria-label="Red Hat")
  .copyright Copyright © 2017 Red Hat, Inc.
  nav.footer-nav(role="navigation")
    ul
      li
        a.privacy-policy(href="http://www.redhat.com/en/about/privacy-policy") Privacy Policy
      li
        a.terms-of-use(href="https://access.redhat.com/help/terms/") Customer Portal Terms of Use
      li
        a.all-policies(href="http://www.redhat.com/en/about/all-policies-guidelines") All Policies and Guidelines