.grid-block(ng-show="items.staleSystems")
  section.widget-block
    h2.title
      i.fa.fa-wrench
      span(translate) Alerts&nbsp;
    .high-prio.list-alert
      .spinner.spinner-lg(ng-if="loading")
      table.table.table-separated.error(ng-if="items.staleSystems && !loading")
        tbody
          tr
            td(width="50%")
              strong {{items.staleSystems}}&nbsp;
              | Systems not checking in
            td.text-right
              a.link(ui-sref="app.inventory({offline:true})") View Offline Systems
            td.dismiss(ng-if="false")
              i.fa.fa-moon-o
