span
  i.fa.fa-check(ng-show='status', tooltip="{{'This issue has been resolved' | translate}}")
  i.fa.fa-minus(ng-hide='status', tooltip="{{'This issue has NOT yet been resolved. This field will be updated automatically once the system checks in.' | translate}}")
