.recommendations .list-group-item-header {
  .list-view-pf-checkbox {
    margin: 0 10px 0 0;
    padding: 0 10px 0 0;
    input[type='checkbox'] {
      @include rem('margin-top', 2px);
    }
  }

}

.ins-p-list-group__item__header {
  .risk-summaries .icon-group-severity li:last-of-type {
    .ins-battery {
      border-left: 2px solid $gray-lite;
      @include rem('padding-left', 25px);
      span { font-weight: 700; }
    }
  }
}
.recommendations .list-group-item-container.recommendation-expanded-content {
  // this should be a grid, but the plotly graphs aren't resizing smaller when
  // resizing the screen smaller, only bigger.  This will have to do for now
  @include media-query(xl) {
      @include build-grid(1fr 1fr);
  }

  .recommendation-detail {
    @include rem('padding-right', 20px);
  }

  .recommendation-graph {
    display: flex;
    .svg-container {
      width: 100% !important;
    }
  }
}

// .icon.icon-inline.success.no-recommendations {
//   @include rem('margin-top', 48px);
// }

.opt-potential {
  display: inline-block;

  .alert-text { white-space: nowrap; }
}

.icon-group-severity + .opt-potential {
  @include media-query(sm){
    @include rem('margin-left', $global-padding/2);
  }
}

.apply-recommendations-modal .modal-content {
  .modal-body {
    padding-top: 4rem;
  }
}