.recommendations {
  .list-view-pf-main-info {
    display: flex;
  }
}

.recommendations .risk-summaries {
  display: flex;
  flex: auto;
}

.recommendations .list-group.list-view-pf {
  // padding: 0;
  // margin: 0;
}

.recommendations .list-view-pf-main-info {
  display: grid;
  @include rem('grid-gap', $global-padding);
  .main-info {
    display: grid;
    grid-template-areas: "bulleye title ansible-icon";
    grid-template-columns: min-content auto min-content;
    .fa-bullseye {
      @include rem('margin-right', 5px);
      grid-area: bulleye; }
    .title {grid-area: title; }
    .ansible-icon { grid-area: ansible-icon; }
  }
}

.recommendations .list-group-item-container {
  margin-left: 0;
}

.recommendations .list-group-item-container.recommendation-expanded-content {
  // this should be a grid, but the plotly graphs aren't resizing smaller when
  // resizing the screen smaller, only bigger.  This will have to do for now
  @include media-query(xl) {
      @include build-grid(1fr 1fr);
  }

  .recommendation-detail {
    @include rem('padding-right', 20px);
  }

  .recommendation-graph {
    display: flex;
    .svg-container {
      width: 100% !important;
    }
  }
}

.colored-box-container {
  padding: 20px;
  .colored-box {
    background-color: red;
  }
}


.opt-potential {
  display: inline-block;

  .alert-text { white-space: nowrap; }
}

.icon-group-severity + .opt-potential {
  @include media-query(sm){
    @include rem('margin-left', $global-padding/2);
  }
}