.page-wrap.container.eval
  .main-content.insights-main-content.full-width
    .row.text-center
      i.fa.spinner-lg.spinner(ng-if='loading')
    div(ng-if='!loading && !error')
      .status-current(ng-if='status.current')
        .row
          .col-sm-12.col-md-8.col-md-offset-2.text-center
            h1(translate) You are currently on a {{status.current.systems}} system evaluation of Red Hat Insights. It will expire on {{getExpiration()}}.
        .row.text-center
          .col-sm-12
            button.btn.btn-lg.btn-accent(ui-sref='info.getting-started.direct', translate) Getting started guide
            span.strapline.btn-seperator(translate) or
            button.btn.btn-lg.btn-accent(ui-sref='app.overview', translate) Go to the application

      .status-expired(ng-if="status.expired")
        .row
          .col-sm-12.col-md-8.col-md-offset-2.text-center
            h1(translate) Your evaluation has expired. Thank you for trying Red Hat Insights.
        .row
          .col-sm-12.text-center
            h2.uppercase(translate) Please contact sales to purchase Insights.
            
    
      .status-available(ng-if='getNonLegacyEval() && !successfulActivation')
        .row
          .col-sm-12.col-md-8.col-md-offset-2
            h1(translate)
              span.icon-check-alt(aria-hidden="true")
              | &nbsp;Your {{getNonLegacyEval().systems}} system {{getNonLegacyEval().duration}} day evaluation is ready.
        .row
          .col-sm-12.text-center
            h2.uppercase(translate) READ AND ACCEPT THESE TERMS TO GET STARTED.
        .row
          .col-sm-12
            p(translate)
              | Red Hat is providing each Red Hat Subscription Evaluation for evaluation purposes subject to the terms of the 
              a(href='http://www.redhat.com/licenses/', target='_blank') Red Hat Enterprise Agreement
              | . If you use the Red Hat Subscription for any purpose other than 
              b evaluation
              | , you agree to pay Red Hat the Subscription Fee(s) for each Unit pursuant to the Enterprise Agreement, which is in addition to any and all other remedies available to Red Hat under applicable law.
            #terms(translate)
              | Examples of situations where you would incur additional fees and be in violation of the Agreement include, but are not limited to:
              ul
                li
                  | Using the service provided under the evaluation program for a production installation,
                li Offering support services to third parties, or
                li
                  | Complementing or supplementing third party support services with services received through the Red Hat Subscription evaluation program.
            p(translate)
              | By proceeding, I acknowledge that I have read and agree to the terms and conditions of the 
              a(href='http://www.redhat.com/licenses/', target='_blank') Red Hat Enterprise Agreement
              |  which governs my use.
        .row.text-center
          .col-sm-12
            button.btn.btn-lg.btn-accent(ng-click="activateNonLegacy()", translate) Agree and Get Started
        .row.text-center
          .col-sm-12
            p
              a(href='https://access.redhat.com/insights/splash/', translate) Decline
              br
              small(translate)
                | If you decline, you will not receive an evaluation at this time and will be redirected to additional information on Red Hat Insights
                           
              
      div(ng-if='getLegacyEval() && !successfulActivation' style='margin-top:60px')
        a(ng-click='activateLegacy()', translate) Looking for the legacy 10 system evaluation? Click here to activate.
     
      .status-purchased(ng-if='status.purchased')
        .row
          .col-sm-12.col-md-8.col-md-offset-2
            h1(translate)
              span.icon-check-alt(aria-hidden="true")
              | &nbsp;Thank you for purchasing Red Hat Insights.

        .row.text-center
          .col-sm-12
            button.btn.btn-lg.btn-accent(ui-sref='app.overview', translate) Continue to Insights

            
    .status-error(ng-if='error')
      .row
        .col-sm-12.col-md-8.col-md-offset-2.text-center
          h1(translate) An error occurred. Please try again: {{error}}
