.filter-group
    label
        strong(translate) Rule Status
    .radio-group
        .radio-inline(ng-repeat='(k, v) in RuleStatusFilters')
            label(translate)
                input(type="radio", name='ruleStatusFilterRadio' ng-model="showRuleStatus", value='{{k}}', ng-click='filterRuleStatus(k)')
                span {{v.title | translate}}