.system-metadata(ng-if='!loading')

  .card-pf-view.system-information
    card.card-pf-view
      card-content
        .card-pf-top-element
          .ellipsis-wrapper.hostname.text-center
            strong.hostname {{:: system.toString }}

          .image-age.text-center
            span Image Age:
            // TODO Add imageAge
            span {{:: system.imageAge}} ago

          .system-type.tile.tile-center
            i.fa.fa-clone.fa-2x.md-whiteframe-3dp(ng-if="getSystemType() === 'Virtual'", tooltip="{{:: 'Server type: Virtual' | translate}}")
            i.fa.fa-server.fa-2x.md-whiteframe-3dp(ng-if="getSystemType() !== 'Virtual'", tooltip="{{:: 'Server type: Physical' | translate}}")

        .card-pf-items.text-center
          .card-pf-item
            .icon-inline
              bar-status-icon(status='system.improvement')
              a(href="#") Improvement
          .card-pf-item
            .icon-inline
              bar-status-icon(status='system.reliability')
              a(href="#") Reliability
          .card-pf-info
            type-icon.type(type-id='system.system_type_id' include-text='false')
          .card-pf-info
            .hostname.ellipsis-overflow
              b Hostname:&nbsp;
              span {{:: system.hostname }}

            // always show the uuid.... it must exist
            .uuid.ellipsis-overflow
              b UUID:&nbsp;
              span {{:: getUUID() }}

  .card-pf-view.graphs.card-pf-view-tabs
    card.card-pf-view
      card-content
        system-overview-graphs

// System Metadata Tabbed info
.card-pf-view.data-tables.card-pf-view-tabs
  card.card-pf-view
    card-content
      md-tabs(md-dynamic-height='', md-border-bottom='', ng-if='!loading && hasMetadata()')
        md-tab(label="system")
          md-content
            .g(ng-repeat="data in systemMetadata[0].data")
                h2.card-pf-title {{:: data.label}}
                ul.list.list-simple.data-list
                  li(ng-repeat="value in data.values track by value.label", translate)
                    strong {{:: value.label}}:
                    span {{:: value.value}}
        md-tab(label="network")
          table
            thead
              tr
                th.ellipsis-overflow(translate) Process Name
                th.ellipsis-overflow(translate) IP Address
                th.ellipsis-overflow(translate) Port
            tbody
              tr(ng-repeat="values in systemMetadata[1].data | orderBy:[networkSorter, 'name', 'ip_addr']")
                td.ellipsis-overflow {{:: values.name }}
                td.ellipsis-overflow {{:: values.ip_addr }}
                td.ellipsis-overflow {{:: values.port }}
            //- .row.row-short
              .col-sm-12.text-center
                a.link.expandTableButton(ng-if="showExpandTableBtn()", ng-click="toggleExpandTable()")
                  strong(translate, ng-if="showAll") Collapse Table
                  strong(translate, ng-if="!showAll") Expand Table
