.system-metadata(ng-if='!loading')
  card.system-information
    card-content.with-tile
      .system-type.tile
        i.fa.fa-clone.fa-2x.md-whiteframe-3dp(ng-if="getSystemType() === 'Virtual'", tooltip="{{:: 'Server type: Virtual' | translate}}")
        i.fa.fa-server.fa-2x.md-whiteframe-3dp(ng-if="getSystemType() !== 'Virtual'", tooltip="{{:: 'Server type: Physical' | translate}}")

      .text
        h2.name.ellipsis-overflow.editable(ng-if='!edit.value', ng-dblclick='rename()') {{ edit.name }}
          renameable-property(value='system.display_name || system.hostname', update-function='rename(newValue)', allow-null='true')

        .hostname.ellipsis-overflow
          b Hostname:&nbsp;
          span {{:: system.hostname }}

        // always show the uuid.... it must exist
        .uuid.ellipsis-overflow
          b UUID:&nbsp;
          span {{:: getUUID() }}
        view-system-groups(system="system", ng-if='config.isGroupsEnabled')
  .alert-warn(ng-if='!system.isCheckingIn')
    span(translate) This system is not checking in.


  // Basic system meta-data table
  table.metadata-information
    tbody
      tr(ng-repeat='facts in initialMetadata track by facts.label')
        td
          b(translate) {{:: facts.label}}
        td(translate) {{:: facts.value}}

#expandableDataTable.expandable-data-table.expanded(ng-if='!loading; hasMetadata()')
  // Nav tabs
  ul.nav(role='tablist', ng-mouseenter="toggleHovering()", ng-mouseleave="toggleHovering()", ng-click="enableExpanded()")
    li#system-tab(role='presentation', ng-if="!disableTab('system')", ng-click="getData('system', $event)")
      a(href='#system', aria-controls='system', role='tab', data-toggle='tab')
        i.fa.fa-desktop &nbsp;
        span(translate).tabname System
    li#network-tab(role='presentation', ng-if="!disableTab('network')", ng-click="getData('network', $event)")
      a(href='#network', aria-controls='network', role='tab', data-toggle='tab')
        i.fa.fa-sitemap &nbsp;
        span(translate).tabname Network

  // Tab panes
  .tab-content(ng-init="setDefaultTab()", ng-class="{expanded: expanded}")
    #system.tab-pane(role='system')
      .flex
        card.cell(ng-if="!tabsContent.system.noData", ng-repeat="data in tabsContent.system.data", class="{{:: data.label | lowercase}}")
          card-header.gray
            b {{:: data.label }}
          card-content
            ul.list.list-simple
              li(ng-repeat="value in data.values track by value.label", translate)
                strong {{:: value.label}}
                br
                span {{:: value.value}}

    #network.tab-pane(role='network')
      .row
        .col-sm-12
          .table-responsive(ng-if="!disableTab('network')")
            table
              thead
                tr
                  th.ellipsis-overflow(translate) Process Name
                  th.ellipsis-overflow(translate) IP Address
                  th.ellipsis-overflow(translate) Port
              tbody
                tr(ng-repeat="values in tabsContent.network.data | orderBy:[networkSorter, 'name', 'ip_addr']", ng-if="$index < rowLimit || showAll")
                  td.ellipsis-overflow {{:: values.name }}
                  td.ellipsis-overflow {{:: values.ip_addr }}
                  td.ellipsis-overflow {{:: values.port }}
      .row.row-short
        .col-sm-12.text-center
          a.link.expandTableButton(ng-if="showExpandTableBtn()", ng-click="toggleExpandTable()")
            strong(translate, ng-if="showAll") Collapse Table
            strong(translate, ng-if="!showAll") Expand Table
