metadata-card(system="system")

system-overview-graphs(system="system")

// System Metadata Tabbed info
.card-pf-view.data-tables.card-pf-view-tabs.ins-l-system-metadata-summary
  card
    card-content
      md-tabs(md-dynamic-height='', md-border-bottom='', ng-if='!loading.pageLoading && hasMetadata()')
        md-tab(label='Rules')
          md-content
            .rule-summaries(system='system', machine-id='system.system_id', rule='rule', rule-filter='ruleFilter', loading='loading')

        md-tab(label='Recommendations', md-active='true')
          md-content
            .recommendations(system='system', machine-id='system.system_id', rule='rule', rule-filter='ruleFilter', loading='loading')

        md-tab(label="system")
          md-content
            .g(ng-repeat="data in systemMetadata[0].data")
                h2.card-pf-title {{:: data.label}}
                ul.list.list-simple
                  li(ng-repeat="value in data.values track by value.label", translate)
                    strong {{:: value.label}}:
                    span {{:: value.value}}

        md-tab(label="network")
          table
            thead
              tr
                th.ellipsis-overflow(translate) Process Name
                th.ellipsis-overflow(translate) IP Address
                th.ellipsis-overflow(translate) Port
            tbody
              tr(ng-repeat="values in systemMetadata[1].data | orderBy:[networkSorter, 'name', 'ip_addr']")
                td.ellipsis-overflow {{:: values.name }}
                td.ellipsis-overflow {{:: values.ip_addr }}
                td.ellipsis-overflow {{:: values.port }}

        md-tab(label='Infrastructure')
          md-content
            .no-actions
              no-actions
            .ins-p-list-group

  .action-dropdown
    md-menu(md-offset="-95 46")
      md-button(ng-click='$mdMenu.open()')
        span.text Action &nbsp;
        span.caret
      md-menu-content
        md-menu-item
          a(ng-click="applyRec()") Apply Now
        md-menu-item
          a(ng-click="applyRec()") Create New Playbook
        md-menu-item
          a(ng-click="applyRec()") Add to Existing Playbook