.row(ng-if='loading')
  .col-sm-12
    i.fa.spinner-xs.spinner
    span Loading...
.flexgrid.equalheights
  .row.system-metadata(ng-if='!loading')
    .col-sm-7
      .row.basic-information
        .col-sm-4
          .img-wrapper
            img(class="img-circle" src='static/images/l_ansible-black.svg')
        .col-sm-8
          .info-wrapper
            .name-info.align-middle(ng-if="system.hostname && !system.display_name")
              i.fa.fa-camera-retro &nbsp;
              span(translate) Hostname:
              .ellipsis-overflow
                b {{ system.hostname }}

            // always show the uuid.... it must exist
            .ellipsis-overflow
              .small-name-info UUID:
                .ellipsis-overflow
                  b {{ getUUID() }}
      .row.alert-bar(ng-if='!system.isCheckingIn')
        .col-sm-12
          .message.alert.alert-danger.alert-systems-not-checking
            span(translate) This system is not checking in.
    .col-sm-5
      table.meta-table.table-fixed
        tbody
          tr(ng-repeat='facts in initialMetadata')
            td(translate) {{facts.label}}
            td.metadata-value(translate) {{facts.value}}

#expandableDataTable.expandableDataTable(ng-init="getData('network')", ng-if='!loading', ng-class="{expanded: expandedTabs || expandIndefinite}")
  .toggle(href='#defaultTab', aria-controls='defaultTab', role='tab', data-toggle='tab',
          ng-class="{expandedIndefinite: expandIndefinite}", ng-click='toggleTabsIndefinite()')
    i.fa.fa-plus(href='#network', aria-controls='network', role='tab', data-toggle='tab')

  // Nav tabs
  ul.nav(ng-class="{expandedIndefinite: expandIndefinite}", role='tablist', ng-mouseenter="expandTabContent()",
         ng-mouseleave="tabCollapseTimer()", ng-click="expandTabsIndefinite()")
    li#defaultTab(role='presentation')
      a(href='#network', aria-controls='network', role='tab', data-toggle='tab')
        i.fa.fa-sitemap &nbsp;
        span(translate).tabname Network
    li(role='presentation')
      a(href='#network2', aria-controls='network2', role='tab', data-toggle='tab')
        i.fa.fa-desktop &nbsp;
        span(translate).tabname System

  // Tab panes
  .tab-content(ng-class="{hidden: !expandTabs && !expandIndefinite}")
    #network.tab-pane(ng-class='{noData: !isValidData}', role='network')
      .responsiveTable(ng-if="isValidData")
        table
          thead
            tr
              th(ng-repeat="label in tableData.labels", translate) {{label}}
          tbody
           tr(ng-repeat="values in tableData.values | limitTo: tableRowLimit")
              td(ng-repeat="value in values") {{value}}
      .noAvailableData(ng-if="!isValidData")
        span(translate) No Network Data Available
    #network2.tab-pane(role='network2') this is network 2
