.row(ng-if='loading')
  .col-sm-12
    i.fa.spinner-xs.spinner
    span Loading...
.flexgrid.equalheights
  .row.system-metadata(ng-if='!loading')
    .col-sm-8
      .row.basic-information
        .col-sm-3
          .logo-circle
            img(src='static/images/heartbleed.svg')
        .col-sm-9
          .small-name-info(ng-if="system.hostname && !system.display_name")
            span(translate) hostname:
          .ellipsis-overflow
            b {{ system.hostname }}

          // always show the uuid.... it must exist
          .ellipsis-overflow
            .small-name-info UUID:
              .ellipsis-overflow
                b {{ getUUID() }}
      .row.alert-bar
        .col-sm-12
          .message.alert.alert-danger.alert-systems-not-checking(ng-if='!system.isCheckingIn')
            span(translate) This system is not checking in.
    .col-sm-4
      table.meta-table.table-fixed
        tbody
          tr(ng-repeat='facts in initialMetadata')
            td(translate) {{facts.label}}
            td.metadata-value(translate) {{facts.value}}