.system-metadata(ng-if='!loading')
  card.system-information
    card-content.with-tile
      .system-type.tile
        i.fa.fa-clone.fa-2x.md-whiteframe-3dp(ng-show="getSystemType() === 'Virtual'", tooltip="{{'Server type: Virtual' | translate}}")
        i.fa.fa-server.fa-2x.md-whiteframe-3dp(ng-show="getSystemType() !== 'Virtual'", tooltip="{{'Server type: Physical' | translate}}")

      .text
        h2.name.ellipsis-overflow.editable(ng-if='!edit.value', ng-dblclick='rename()') {{ edit.name }}
          renameable-property(value='system.display_name || system.hostname', update-function='rename(newValue)', allow-null='true')

        .hostname.ellipsis-overflow
          b Hostname:&nbsp;
          span {{ system.hostname }}

        // always show the uuid.... it must exist
        .uuid.ellipsis-overflow
          b UUID:&nbsp;
          span {{ getUUID() }}
        view-system-groups(system="system", ng-if='config.isGroupsEnabled')
  .alert-warn(ng-if='!system.isCheckingIn')
    span(translate) This system is not checking in.
        

  // Basic system meta-data table
  table.metadata-information
    tbody
      tr(ng-repeat='facts in initialMetadata')
        td
          b(translate) {{facts.label}}
        td(translate) {{facts.value}}

  // Nav tabs
  ul.nav(role='tablist', ng-mouseenter="toggleHovering()", ng-mouseleave="toggleHovering()", ng-click="enableExpanded()")
    li#system-tab(role='presentation', ng-if="!disableTab('system')", ng-click="getData('system', $event)")
      a(href='#system', aria-controls='system', role='tab', data-toggle='tab')
        i.fa.fa-desktop &nbsp;
        span(translate).tabname System
    li#network-tab(role='presentation', ng-if="!disableTab('network')", ng-click="getData('network', $event)")
      a(href='#network', aria-controls='network', role='tab', data-toggle='tab')
        i.fa.fa-sitemap &nbsp;
        span(translate).tabname Network

  // Tab panes
  .tab-content(ng-init="setDefaultTab()", ng-class="{expanded: expanded}")
    #system.tab-pane(role='system')
      .flex
        card.cell(ng-repeat="data in tableData.data", class="{{data.label | lowercase}}")
          card-header.gray
            b {{ data.label }}
          card-content
            ul.list.list-simple
              li(ng-repeat="value in data.values", translate)
                strong {{value.label}}
                br
                span {{value.value}}
                
    #network.tab-pane(role='network')
      .row
        .col-sm-12
          .table-responsive(ng-if="!disableTab('network')")
            table
              thead
                tr
                  th.ellipsis-overflow(translate) Process Name
                  th.ellipsis-overflow(translate) IP Address
                  th.ellipsis-overflow(translate) Port
              tbody
               tr(ng-repeat="values in tableData.data", ng-if="$index < rowLimit || showAll")
                  td.ellipsis-overflow(ng-repeat="val in values") {{val}}
      .row.row-short
        .col-sm-12.text-center
          a.link.expandTableButton(ng-if="showExpandTableBtn()", ng-click="toggleExpandTable()")
            strong(translate, ng-show="showAll") Collapse Table
            strong(translate, ng-show="!showAll") Expand Table
