/* ==================================================================
/* Layout utilities
/* ================================================================== */
/**
 * This document defines the styling split layout
**/


/* Center content
/* ================================================================== */
.ins-l-center-content {
  @supports (display: grid) {
    align-content: center;
  }
}

.is-truncated {
  white-space: nowrap; 
  overflow: hidden;
  text-overflow: ellipsis;
}