.rule-detail-header {
  display: grid;
  grid-template-areas: 'page-header ansible-support',
                      'rule-detail risk-list';



  .detail,
  .meta { @include rem('padding', 0 $global-padding); }

  .detail {
    flex: 1 1 66%;
  }

  .meta {
    flex: 1 1 33%;
  }
}

.rule-detail .page-header {

}

.rule-detail-ansible-support {
  
}

.rule-detail-risk-list {

}

.rule-detail-summary {

}