.rule-detail-header,
.topic-detail-header {
  // grid-template-areas: "page-header rule-detail ansible-support risk-list";
  max-width: 1400px;

  @include media-query(sm){
    display: grid;
    grid-template-areas: "page-header ansible-support"
                          "rule-detail risk-list";
    grid-template-columns: 2fr 1fr;
  }

  grid-gap: $global-margin;
  @include rem('margin', 0 $global-margin);

  .detail,
  .meta { @include rem('padding', 0 $global-padding); }

  .detail {
    flex: 1 1 66%;
  }

  .meta {
    flex: 1 1 33%;
  }
}

.rule-detail-header .page-header,
.topic-detail-header .page-header {
  grid-area: page-header;
  margin: 0;
}

.rule-detail-ansible-support {
  grid-area: ansible-support; 
  border-bottom: 1px solid #e3e3e3;
  align-content: center;
  display: flex;
  align-items: center;
}

.rule-detail-risk-list {
  grid-area: risk-list;
}

.rule-detail-summary {
  grid-area: rule-detail;
}