.actions-rule
  actions-back
  actions-breadcrumbs(ng-hide='loading')

  section.rule-detail-header
    page-header(icon="fa-file-text")
      .page-title
        h1 {{:: ruleDetails.description}}
    .rule-detail-ansible-support
      ansible-icon(value='ruleDetails.ansible')
    .rule-detail-risk-list
      all-severity-icons(rule='ruleDetails', ng-if='!loading')
      risk-of-change(change-risk='ruleDetails.resolution_risk')
    .rule-detail-summary(ng-hide='loading')
      h4.icon-inline(ng-if='isIncident(ruleDetails.rule_id)')
        incident-icon(rule-id='ruleDetails.rule_id') &nbsp;
        span.red(translate) This issue is an incident, it has already occurred.

      article(ng-bind-html=':: ruleDetails.generic_html | trust_html')

  table-filters
    search-box(placeholder="{{:: 'Find a system' | translate}}", on-search='search(model)')
    check-in-select

  section.content
    system-list(get-systems="getData",
                 rule-details="ruleDetails",
                 no-register-more="true")

  .margin-top(ng-if='loading || loadingSystems')
    .text-center
      .spinner.spinner-lg
