.col-toggle
    label.full-width(translate) Incidents
    input(type="radio", ng-model="showIncidents", value='all', ng-change='filterIncidents()')
    span &nbsp; All &nbsp;
    input(type="radio", ng-model="showIncidents", value='incidents', ng-change='filterIncidents()')
    span &nbsp; Incident &nbsp;
    input(type="radio", ng-model="showIncidents", value='nonIncidents', ng-change='filterIncidents()')
    span &nbsp; No Incident &nbsp;