.filter-group.filter-group-radios.filter-incidents
  label(translate) Incidents
  .radio-group
    .radio-inline(ng-repeat='(k, v) in incidentFilters')
      label(translate)
        input(type="radio", name='incidentFilterRadio' ng-model="showIncidents", value='{{:: k}}', ng-click='filterIncidents(k)')
        span {{:: v.title | translate}}
