.actionbar
  md-button.action.btn.btn-sm.btn-open-blue(ng-repeat='action in myActions track by action.title', ng-click='action.fn()')
    i.pointer.fa(ng-class='action.icon')
    | {{:: action.title | translate}}
