.filter-group
  label(translate) 
    strong Total Risk
  .dropdown
    button.btn.dropdown-toggle(
      type='button',
      data-toggle='dropdown',
      aria-haspopup='true',
      aria-expanded='false')
      span.text.active(ng-model='label') {{label}}
      span.caret
    ul.dropdown-menu
      li(ng-repeat='option in options')
        a(href='#', ng-click='select(option)') {{option.label}}